<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>车辆数字实验室第10批招新报名及分组情况公示</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css"/>
	<link rel="stylesheet" href="../../../static/css/header.css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../../static/css/newsactivity/education_articles.css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/aboutUs/contactUs/about.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container education_articles">
		<div class="row">
			<div class="col-md-12 education_articles_title">
				<h3>车辆数字实验室第10批招新报名及分组情况公示</h3>
				<p>作者：赵杨</p>
				<p>时间：2018-12-14 20:00:38 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 education_articles_info">
				<p>
					本学期10月中旬，车辆数字实验室在2018级新生中进行了招新宣讲，并接受学生报名。
					11初，实验室导师根据报名同学人数将学员按每3~4人一组的方式进行分组，
					并下发车辆实验室考核任务书（即完成一套转向架图纸的三维绘制）。
					2019年3月，导师们将对作品完成情况进行考核，
					并最终确定车辆数字实验室录取学生名单，开始对成员进行系统训练。
				</p>
				<p>
					初期报名学员名单公示如下:
				</p>
				<p>第1组：董欣荣、刘欧美、李婧怡、杨瑞龙。</p>
				<p>第2组：樊成亮、邓婷、叶晨晖、陈玉。</p>
				<p>第3组：李松原、王炳勋、汪冲、贺子洺。</p>
				<p>第4组：廖雨笛、曾慧、王晓庆。</p>
				<p>第5组：芦嘉诚、陈永政、李文博。</p>
				<p>第6组：吕飞卓、赵博超、蔡佳倜、杜建兵。</p>
				<p>第7组：莫晓菲、吴玲、窦雨琪、李凌立。</p>
				<p>第8组：吴桢、李祥、吴思佳、蒋瑶。</p>
				<p>第9组：谢栩杰、张侨、唐亦浓、刘醇。</p>
				<p>第10组：徐海东、凌云、朱海鹏、周佳辰。</p>
				<p>第11组：张彧琦、赵启宇、黄小凡、尹焱杭。</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
