<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Ostfalia刘晓波教授在峨讲座并指导dSPACE实验室建设</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css"/>
	<link rel="stylesheet" href="../../../static/css/header.css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../../static/css/newsactivity/education_articles.css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/aboutUs/contactUs/about.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container education_articles">
		<div class="row">
			<div class="col-md-12 education_articles_title">
				<h3>Ostfalia刘晓波教授在峨讲座并指导dSPACE实验室建设</h3>
				<p>作者：赵杨</p>
				<p>时间：2018-12-04 19:52:59 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 education_articles_info">
				<p>
					2018年12月4日，四川（乐山）中德科技促进中心主要发起人之一、
					德国Ostfalia应用科学大学刘晓波教授来西南交大峨眉校区做讲座并指导dSPACE实验室建设。
				</p>
				<p>
					上午，刘教授针对校区2015~2018级有意赴德国留学的同学进行了相关介绍。刘教授具体介绍了 Ostfalia
					应用科学大学的地理位置、办学规模、专业设置、留学生活等方面的情况，并针对同学们提出的问题进行了解答。
				</p>
				<img class="img-responsive center-block" src="../../../static/imgs/newsactivity/technology_articles/technology_articles02/technology_articles0201.png" alt="">
				<p>下午，刘教授到机电工程应用研究所，对研究所dSPACE控制设备的使用及“基于
					dSPACE的独立旋转车轮主动导向控制技术”科研课题进行了指导。
				</p>
				<img class="img-responsive center-block" src="../../../static/imgs/newsactivity/technology_articles/technology_articles02/technology_articles0202.png" alt="">
				<img class="img-responsive center-block" src="../../../static/imgs/newsactivity/technology_articles/technology_articles02/technology_articles0203.png" alt="">
				<p>
					明年3月份，刘晓波教授将再赴西南交通大学峨眉校区，针对机械、电气、计算机专业，
					招收新一批交大学子赴德免费攻读硕士研究生。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
