<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>中德科促在交大峨眉校区顺利开展2018年秋季迎新工作</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css"/>
	<link rel="stylesheet" href="../../../static/css/header.css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../../static/css/newsactivity/education_articles.css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/aboutUs/contactUs/about.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container education_articles">
		<div class="row">
			<div class="col-md-12 education_articles_title">
				<h3>中德科促在交大峨眉校区顺利开展2018年秋季迎新工作</h3>
				<p>作者：赵杨</p>
				<p>时间：2018-09-03 11:30:57 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 education_articles_info">
				<p>
					 2018年8月下旬，四川（乐山）中德科技促进中心交大工作组对交大峨眉校区2018级迎新工作提前进行具体部署，
					决定通过持续开展“校区与德国大学合作展板宣传”、“德语角系列活动”、“唐阳副教授留学德国主题报告会”、
					“新一届德语基础班招生”、“机电工程应用研究所公众号推送”等活动欢迎2018级入校新生。
				</p>
				<img class="img-responsive center-block" src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/technology_articles0101.png" alt="">
				<img class="img-responsive center-block" src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/technology_articles0102.png" alt="">
				<p> 
					8月29日至8月31日，2018级新生陆续进校报到。中德科促工作人员提前将峨眉校区与德国
					Ostfalia 大学合作展板放置于迎新操场，并积极向学生及学生家长介绍峨眉校区中德合作 的历史。
				</p>
				<p> 
					 此外，中德科促工作人员提前将德语角主题活动的海报张贴于机械系教学楼前。
					9月6日（即开学第一周的周四）下午， 中德科促将面向校区全体同学开展德语角主题活动，
					在校区营造学习德国语言、文化的浓厚氛围，增强同学们学习德语的兴趣，提高同学们德语应用的水平。
				</p>
				<img class="img-responsive center-block" src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/technology_articles0103.png" alt="">
				<p>
					 在后续的迎新活动中，中德科促还将持续开展“唐阳副教授留学德国主题报告会”、“新一届德语班招生”等系列活动。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
