/* 公共样式表css */
.module-banner ul {
	margin: 0;
	padding: 0;
}

.module-banner ul li {
	list-style: none;
}

/* 必要布局样式css */
.module-banner {
	padding-top: 50px;
}

.module-banner-box {
	width: 90%;
	margin: 0 auto;
}

.module-banner-tab-list {
	float: left;
	width: 24%;
}

.module-banner-tab-list-box {
	float: right;
	width: 76%;
	min-height: 490px;
	background: #fff;
	padding: 0 40px 40px 40px;
}

.module-tab-box-ma {
	width: 100%;
	opacity: 1;
	z-index: 1;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.news_list_Div {
	padding: 32px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	background-color: #157BBB;
}

.news_list_Div:hover {
	cursor: pointer;
}

.news_list_Div_lable {
	margin-top: 30px;
}

.news_list_Div_lable,
.news_list_Div_lable label {
	width: 100%;
}

#selectChooseType,
#selectChooseTime {
	width: 100%;
	height: 50px;
	font-size: 1.3em;
	padding-left: 20px;
	font-weight: bolder;
}

.module-tab-box-ma_Div {
	width: 100%;
	border-bottom: 3px solid #157BBB;
}

.module-tab-box-ma_Div img {
	margin-right: 10px;
}

.module-tab-title {
	width: 100%;
	height: 135px;
	padding: 10px 0;
	border-bottom: 1px dashed #d6d6d6;
}

.module-tab-title_DivSon01 {
	width: 20%;
	float: left;
}

.module-tab-title_DivSon01 img {
	width: 180px;
	max-height: 120px;
}

.module-tab-title_DivSon02 {
	width: 80%;
	float: left;
	padding-left: 20px;
}

.module-tab-title_DivSon02_title {
	height: 20px;
	color: #157BBB;
	display: block;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.module-tab-title_DivSon02_time {
	color: #999999;
	font-size: 0.8em;
}

.module-tab-title_DivSon02_info {
	height: 38px;
	color: #333333;
	display: block;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.module-tab-box-ma_Divs {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 60px;
	text-align: right;
}

.module-tab-box-ma li:hover {
	background-color: #f6f6f6;
}

#date-range1{
	height: 50px;
	font-size: 1.3em;
	padding-left: 25px;
	font-weight: bolder;
}

@media (min-width: 1600px) {
	.module-banner-box {
		width: 80%;
	}
}

@media (max-width: 1100px) {
	.module-banner-tab-list {
		float: left;
	}

	.module-banner-box {
		width: 100%;
	}

	.module-banner-tab-list-box {
		width: 100%;
	}

	.module-tab-box-ma {
		width: 100%;
	}
}

@media (max-width: 1180px) {
	.module-banner-tab-list {
		float: left;
		width: 100%;
	}

	.module-banner-box {
		width: 100%;
	}

	.module-banner-tab-list-box {
		width: 100%;
	}

	.module-tab-box-ma {
		width: 100%;
	}
}

@media (max-width: 560px) {
	.module-banner-tab-list {
		width: 100%;
		padding-bottom: 20px;
	}

	.module-banner-tab-list-box {
		padding: 0 10px;
	}

	.module-tab-title_DivSon01 {
		width: 40%;
	}

	.module-tab-title_DivSon02 {
		width: 60%;
	}
}

.module-tab-nav li{
	background: linear-gradient(#29b3f7, #157BBB);
}

/*.module-banner-tab-list .module-tab-nav li:nth-child(1) {
	background: #42a5bb;
}

.module-banner-tab-list .module-tab-nav li:nth-child(2) {
	background: #777777;
}

.module-banner-tab-list .module-tab-nav li:nth-child(3) {
	background: #666666;
}

.module-banner-tab-list .module-tab-nav li:nth-child(4) {
	background: #555555;
}
.module-banner-tab-list .module-tab-nav li:nth-child(5) {
	background: #444444;
}*/

.module-banner-tab-list ul li {
	color: #fff;
	height: 70px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.module-banner-tab .module-banner-tab-list .module-tab-nav .on {
	background-image: -webkit-linear-gradient(left, #1160ff 0%, #01c2e6 100%);
	background-image: -moz-linear-gradient(left, #1160ff 0%, #01c2e6 100%);
	background-image: -moz-linear-gradient(to right, #1160ff 0%, #01c2e6 100%);
	background-image: -o-linear-gradient(to right, #1160ff 0%, #01c2e6 100%);
	background-image: linear-gradient(to right, #1160ff 0%, #01c2e6 100%);
	background-repeat: repeat;
}

.module-banner-tab .module-banner-tab-list .module-tab-nav .on .fa,
.module-banner-tab .module-banner-tab-list .module-tab-nav .on span {
	font-weight: bolder;
	display: inline-block;
}

.module-banner-tab .module-banner-tab-list .module-tab-nav li:hover {
	background-image: -webkit-linear-gradient(left, rgba(17, 96, 255, 0.4) 0%, rgba(1, 194, 230, 0.4) 100%);
	background-image: -moz-linear-gradient(left, rgba(17, 96, 255, 0.4) 0%, rgba(1, 194, 230, 0.4) 100%);
	background-image: -moz-linear-gradient(to right, rgba(17, 96, 255, 0.4) 0%, rgba(1, 194, 230, 0.4) 100%);
	background-image: -o-linear-gradient(to right, rgba(17, 96, 255, 0.4) 0%, rgba(1, 194, 230, 0.4) 100%);
	background-image: linear-gradient(to right, rgba(17, 96, 255, 0.4) 0%, rgba(1, 194, 230, 0.4) 100%);
	background-repeat: repeat;
}

.module-banner-tab .module-banner-tab-list .module-tab-nav .on:hover {
	background-image: -webkit-linear-gradient(left, #1160ff 0%, #01c2e6 100%);
	background-image: -moz-linear-gradient(left, #1160ff 0%, #01c2e6 100%);
	background-image: -moz-linear-gradient(to right, #1160ff 0%, #01c2e6 100%);
	background-image: -o-linear-gradient(to right, #1160ff 0%, #01c2e6 100%);
	background-image: linear-gradient(to right, #1160ff 0%, #01c2e6 100%);
	background-repeat: repeat;
}

.module-tab-nav li i {
	display: none;
	transform: rotate(45deg);
}

.module-tab-nav li span,
.module-tab-nav li i {
	line-height: 70px;
	font-size: 1.6em;
	font-weight: bold;
}

@media (max-width: 1024px) and (min-width: 600px){
	.module-tab-nav{
		display: flex;
	}
	.module-tab-nav li{
		flex: 1;
	}
}
@media (max-width: 599px) {
	.module-tab-nav li{
		width: 50%;
		float: left;
	}
	.module-banner-tab-list .module-tab-nav li:nth-child(5) {
		width: 100%;
	}
}

.module-tab-box-ma table{
	margin-top: 40px;
}
.module-tab-box-ma table th{
	text-align: center;
	color: white;
	font-size: 1.4em;
	letter-spacing: 2px;
	font-weight: bolder;
	background-color: #157BBB;
}
.module-tab-box-ma table td{
	font-size: 1.2em;
	letter-spacing: 1px;
	text-align: center;
}
.table > tbody > tr > td{
	vertical-align: middle;
}
