.module-tab-box-ma {
	width: 100%;
	padding-left: 0;
}

.module-tab-box-ma li {
	list-style: none;
}

.module-tab-box-ma_Div {
	width: 100%;
}

.module-tab-title {
	width: 100%;
	height: 135px;
	padding: 10px 0;
	border-bottom: 1px dashed #d6d6d6;
}

.module-tab-title_DivSon01 {
	width: 16%;
	float: left;
}

.module-tab-title_DivSon01 img {
	width: 180px;
	margin-top: 7px;
	max-height: 110px;
}

.module-tab-title_DivSon02 {
	width: 84%;
	float: left;
	padding-left: 20px;
}

.module-tab-title_DivSon02_title {
	height: 18px;
	color: #157BBB;
	display: block;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.module-tab-title_DivSon02_time {
	color: #999999;
	font-size: 0.8em;
}

.module-tab-title_DivSon02_info {
	height: 38px;
	color: #333333;
	display: block;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.module-tab-box-ma li:hover {
	background-color: #f6f6f6;
}

@media (max-width: 991px) and (min-width: 561px) {
	.module-tab-title_DivSon01 {
		width: 25%;
	}

	.module-tab-title_DivSon02 {
		width: 75%;
	}
}

@media (max-width: 560px) {
	.module-tab-title_DivSon01 {
		width: 40%;
	}

	.module-tab-title_DivSon02 {
		width: 60%;
		padding-left: 10px;
	}

	.module-tab-title_DivSon01 img {
		margin-top: 10px;
	}
}
