/* 公共样式表css */
.module-banner ul {
	margin: 0;
	padding: 0;
}

.module-banner ul li {
	list-style: none;
}

/* 必要布局样式css */
.module-banner {
	padding-top: 100px;
}

.module-banner-box {
	width: 90%;
	margin: 0 auto;
}

.module-banner-tab-list {
	float: left;
	width: 24%;
}

.module-banner-tab-list-box {
	float: right;
	width: 76%;
	min-height: 490px;
	background: #fff;
	padding: 0 40px 40px 40px;
}

.module-tab-box-ma {
	width: 100%;
	opacity: 1;
	z-index: 1;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.news_list_Div {
	padding: 32px;
	color: white;
	background-color: #157BBB;
}

.news_list_Div:hover {
	cursor: pointer;
}

.news_list_Div_lable {
	margin-top: 10px;
}

.news_list_Div_lable,
.news_list_Div_lable label {
	width: 100%;
}

#selectChooseType,
#selectChooseTime {
	width: 100%;
	height: 50px;
	font-size: 1.3em;
	padding-left: 20px;
	font-weight: bolder;
}

.module-tab-box-ma_Div {
	width: 100%;
	border-bottom: 3px solid #157BBB;
}

.module-tab-box-ma_Div img {
	margin-right: 10px;
}

.module-tab-title {
	width: 100%;
	height: 135px;
	padding: 10px 0;
	border-bottom: 1px dashed #d6d6d6;
}

.module-tab-title_DivSon01 {
	width: 20%;
	float: left;
}

.module-tab-title_DivSon01 img {
	width: 180px;
	max-height: 120px;
}

.module-tab-title_DivSon02 {
	width: 80%;
	float: left;
	padding-left: 20px;
}

.module-tab-title_DivSon02_title {
	height: 20px;
	color: #157BBB;
	display: block;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.module-tab-title_DivSon02_time {
	color: #999999;
	font-size: 0.8em;
}

.module-tab-title_DivSon02_info {
	height: 38px;
	color: #333333;
	display: block;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.module-tab-box-ma_Divs {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 60px;
	text-align: right;
}

.module-tab-box-ma li:hover {
	background-color: #f6f6f6;
}

@media (min-width: 1600px) {
	.module-banner-box {
		width: 80%;
	}
}

@media (max-width: 1100px) {
	.module-banner-tab-list {
		float: left;
	}

	.module-banner-box {
		width: 100%;
	}

	.module-banner-tab-list-box {
		width: 100%;
	}

	.module-tab-box-ma {
		width: 100%;
	}
}

@media (max-width: 1180px) {
	.module-banner-tab-list {
		float: left;
		width: 97%;
		margin-left: 10px;
	}

	.module-banner-box {
		width: 100%;
	}

	.module-banner-tab-list-box {
		width: 100%;
	}

	.module-tab-box-ma {
		width: 100%;
	}
}

@media (max-width: 560px) {
	.module-banner-tab-list {
		width: 94%;
		padding-bottom: 20px;
	}

	.module-banner-tab-list-box {
		padding: 0 10px;
	}

	.module-tab-title_DivSon01 {
		width: 40%;
	}

	.module-tab-title_DivSon02 {
		width: 60%;
	}
}

/*news_list_Div_banners*/
.news_list_Div_banners {
	width: 100%;
	background-color: #d5d5d5;
	padding: 80px 0;
}

.news_list_Div_banner {
	width: 56%;
}

.news_list_Div_banner img {
	width: 100%;
}

.news_list_Div_banner ol.carousel-indicators li {
	width: 40px;
	height: 4px;
	border-radius: 0;
	border: 0;
	background-color: #d8d8d8;
}

.news_list_Div_banner ol.carousel-indicators li.active {
	background-color: #157BBB;
}

.carousel-indicators {
	bottom: 0;
}

@media (max-width: 1024px) {
	.news_list_Div_banner {
		width: 100%;
	}

	.bannerDiv {
		display: none;
	}
}

@media (max-width: 500px) {
	.news_list_Div_banner ol.carousel-indicators li {
		width: 20px;
		height: 2px;
	}
}
