
@media (max-width: 750px) {
    .carousel-caption{
        font-size: 0.5em;
    }
    .s2{
        font-size: 0.5em;
    }
    .s1{
        font-size: 1em;
    }
}
@media (min-width: 750px){
    .carousel-caption{
        font-size: 1em;
    }
    .s2{
        font-size: 1em;
    }
    .s1{
        font-size: 1.3em;
    }
}