<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中心概况</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/contactUs.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">

</head>
<body style="background-color: #c7c5c4;">

<div>
    <img width="100%" src="../../static/imgs/centeroverview/background-zhongxing.png"/>
</div>

<div class="container-fluid" >
    <div class="row">
        <!--文字-->
        <div class="col-lg-6 col-xs-6 col-lg-offset-2">
            <div style="margin-top: 30px;margin-bottom: 40px;">
                <img class="center-block" src="../../static/imgs/centeroverview/leshan-font.png" height="30" width="394"/>
            </div>
            <p style="line-height: 50px;font-size: 20px">
                &nbsp;&nbsp;四川(乐山)中德科技促进中心成立于2016年，是由乐山高新区与西南交大峨眉校区及德国夹斯特法利亚(Ostfalia) 应用科学大学三方共同打造的科技教育文化交流平台。
                &nbsp;&nbsp;我们有德国平台、高校平台，语言中心，科技中心及文化交流中心五个部门
                &nbsp;&nbsp;旨在以德国“工业4.0” 对接“中国制造2025”为主统，利用三方各自拥有及协同的优势资源，开展相关技术研发、科技和德语（语言）培训、成果转化和咨询服务等科技教育合作活动，为乐山市和德国经济转型升级和社会发展提供技术和人才支撑，促进中德科技、教育、文化、经济合作。
                四川(乐山)中德科技促进中心成立于2016年，是由乐山高新区与西南交大峨眉校区及德国夹斯特法利亚(Ostfalia) 应用科学大学三方共同打造的科技教育文化交流平台。
                我们有德国平台、高校平台，语言中心，科技中心及文化交流中心五个部门
                旨在以德国“工业4.0” 对接“中国制造2025”为主统，利用三方各自拥有及协同的优势资源，开展相关技术研发、科技和德语（语言）培训、成果转化和咨询服务等科技教育合作活动，为乐山市和德国经济转型升级和社会发展提供技术和人才支撑，促进中德科技、教育、文化、经济合作。

            </p>
        </div>
        <!--标签-->
        <div class="col-lg-3 col-xs-1 col-lg-offset-1" style="margin-top: 90px">



            <div style="font-size: 25px;margin-top: 20px">
                <img src="../../static/imgs/centeroverview/组织架构.png" height="45" width="206"/>
            </div>
            <div style="font-size: 25px;margin-top: 20px">
                <img src="../../static/imgs/centeroverview/团队力量.png" height="45" width="206"/>
            </div>
            <div style="font-size: 25px;margin-top: 20px">
                <img src="../../static/imgs/centeroverview/发展历程.png" height="45" width="206"/></div>
            <div style="font-size: 25px;margin-top: 20px">
                <img src="../../static/imgs/centeroverview/发展目标.png" height="45" width="206"/>
            </div>

        </div>
    </div>


    <div class="row">
        <img class="img-responsive center-block" src="../../static/imgs/centeroverview/dishangfang.png">
    </div>

    <p class="h4" style="text-align: center"><b>-第三方签约仪式-</b></p>


</div>


<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/jquery.cbFlyout.js"></script>
<script src="../../static/js/jquery-3.2.1.min.js"></script>
</body>
</html>