<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组织构架</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/contactUs.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
</head>
<body>

<div>
    <img width="100%" src="../../static/imgs/centeroverview/background-zhongxing.png"/>
</div>


<div class="container">
    <div class="row">
        <div>
            <img style="margin-top: 30px" class="center-block" src="../../static/imgs/centeroverview/leshan-font-organization.png"/>
        </div>
        <div>
            <img class="img-responsive center-block" src="../../static/imgs/centeroverview/organization-img.jpg"/>
        </div>
        <div style="margin-left: 210px;font-size: 20px">
            <div style="margin-top: 20px">
                <p><b>德国平台：</b>德方开展有利于中德合作的各种活动，以及人才飞地。</p>
            </div>
            <div style="margin-top: 20px">
                <p><b>语言中心：</b>负责对学校师生及乐山地区中，有意向中德合作人员德语培训和留学服务。</p>
            </div>
            <div style="margin-top: 20px">
                <p><b>高校平台：</b>负责推动川内高校与德国高校的合作，批量培养国际化人才。</p>
            </div>
            <div style="margin-top: 20px">
                <p><b>科技中心：</b>负责企业相关中德合作，主要由机电工程应用研究所承担。</p>
            </div>
            <div style="margin-top: 20px">
                <p><b>文化交流：</b>负责推动中德之间文化交流合作。</p>
            </div>
        </div>

    </div>
</div>


<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/jquery.cbFlyout.js"></script>
<script src="../../static/js/jquery-3.2.1.min.js"></script>
</body>
</html>