/*interesGermany_div*/
.interesGermany_div {
	padding: 50px 15px;
}

.interesGermany_div .sec-title {
	text-align: center;
}

.interesGermany_div .border-shape {
	background: #c8c8c8;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 300px;
}

.interesGermany_div .border-shape::before {
	background: #c8c8c8 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 200px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.interesGermany_div .border-shape::after {
	background: #c8c8c8 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 100px;
	margin: 0 auto;
}

/*interesGermany_list*/
.interesGermany_list {
	padding: 50px 0;
	margin-bottom: 100px;
	border-radius: 10px;
	background-color: white;
}

.interesGermany_list ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.interesGermany_list .module-tab-title {
	width: 100%;
	height: 60px;
	padding: 0 40px;
	border-bottom: 1px dashed #d6d6d6;
}

.interesGermany_list ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.interesGermany_list ul li {
	list-style: none;
}

.interesGermany_list ul li:hover {
	background-color: #ededed;
}

.interesGermany_list ul li a:focus {
	text-decoration: none;
}

.module-tab-title_DivSon {
	width: 100%;
	height: 100%;
}

.module-tab-title_DivSon_title {
	color: #157BBB;
	display: block;
	font-weight: bolder;
	line-height: 60px;
	margin: 0;
	float: left;
	overflow: hidden;
	font-size: 1.2em;
}

.module-tab-title_DivSon_time {
	color: #999999;
	font-size: 1em;
	line-height: 60px;
	float: right;
}

.module-tab-box-ma_Divs {
	float: right;
	padding: 40px;
}

@media (max-width: 991px) {
	.module-tab-box-ma_Divs {
		padding-top: 100px;
	}
}

@media (max-width: 600px) {
	.module-tab-title_DivSon_title {
		float: left;
		font-size: 1em;
	}

	.module-tab-title_DivSon_time {
		font-size: 0.8em;
		float: right;
	}
}

@media (max-width: 480px) {
	.interesGermany_list .module-tab-title {
		padding: 0 10px;
	}

	.module-tab-title_DivSon_title {
		font-size: 0.8em;
	}

	.module-tab-title_DivSon_time {
		font-size: 0.6em;
	}
	.interesGermany_list {
		margin: 0 10px;
	}

}
