@media (max-width: 750px) {
    .s2 {
        font-size: 0.3em;
        color: #005578;
    }
    .s1 {
        font-size: 0.8em;
        color: #414cd5;
        text-align: center;
    }
    td{
        color: #003750;
        font-size: 0.8em;
    }
    th{
        text-align: center;
        font-size: 1em;
    }
}

@media (min-width: 750px){
    th{
        font-size: 1.7em;
        text-align: center;
    }
    td{
        color: #003750;
        font-size: 1.5em;
    }
    .s2{
        font-size: 1.3em;
        color: #005578;
    }
    .s1 {
        text-align: center;
        font-size: 1.7em;
        color: #414cd5;

    }


}