

.blue{
    margin-top: 40px;
    border: 2px solid #4498e6;
    color: #4498e6;
    padding: 20px 20px 20px 50px;
    font-weight: bolder;
    font-size: 1.5em;

}

.hei{
    text-align: center;
    margin-top: 40px;
    border: 2px dashed rgb(62, 62, 62);
    color: rgb(62, 62, 62);
    /*padding: 20px 20px 20px 50px;*/
    padding: 50px 20px;
    font-size: 1.1em;
    /*height: 150px;*/
    /*width:500px;*/
}

.hei2{
    width:500px;
    text-align: center;
    margin-top: 40px;
    border: 2px dashed rgb(62, 62, 62);
    color: rgb(62, 62, 62);
    padding: 20px 20px 20px 50px;

    font-size: 1.1em;
    height: 220px;
}
.hei3{
    /*text-align: center;*/
    text-align:right;
    margin: 40px 0;
    border: 2px dashed rgb(62, 62, 62);
    color: rgb(62, 62, 62);
    padding: 20px 13%;
    font-size: 1.1em;
    /*width: 100%*/
}

@media (max-width: 560px) {
    .hei3{
        padding: 20px 15px;
    }
}