#myFooter {
	background-color: #63656c;
	padding-top: 20px;
}

#myFooter .myFooter_div {
	margin-top: 30px;
	text-align: center;
	color: #ccc;
}

#myFooter .myFooter_div .myFooter_div_logo{
	width: 170px;
	height: 50px;
	margin-top: 20px;
}

#myFooter .myFooter_divs h5 {
	font-size: 1.2em;
	color: #ccc;
	font-weight: bold;
	margin-top: 30px;
	min-width: 100%;
}

#myFooter .myFooter_divs h5 i {
	margin-right: 10px;
}

#myFooter .myFooter_div p,
#myFooter .myFooter_divs p {
	color: #ccc;
	font-size: 1em;
	line-height: 2em;
}

#myFooter .myFooter_div .weixingongzhonghao {
	width: 100px;
	height: 100px;
}

#myFooter .footer-copyright {
	background-color: #333333;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#myFooter .footer-copyright p {
	margin: 10px;
	color: #ccc;
}

@media screen and (max-width: 767px) {
	#myFooter {
		text-align: center;
	}
	#myFooter .myFooter_div .myFooter_div_logo{
		width: 50%;
		height: 100%;
		margin-top: 0;
	}
}
