#myFooter {
	background-color: #025483;
	padding: 40px 0;
	color: white;
	font-size: 1.2em;
}

#myFooter .myFooter_div {
	text-align: center;
	padding-bottom: 10px;
}

#myFooter .myFooter_div .myFooter_div_logo {
	width: 90%;
}

#myFooter .myFooter_divs {
	color: white;
	padding-bottom: 20px;
}

#myFooter .myFooter_divs p {
	line-height: 2em;
	padding-right: 10px;
	margin: 0;
}

#myFooter .myFooter_divs p i {
	padding-right: 5px;
}

#myFooter .myFooter_div .weixingongzhonghao {
	width: 80px;
	height: 80px;
}

#myFooter .myFooter_div_more p {
	padding-right: 20px;
	margin: 0;
}

#myFooter .myFooter_div_more p a {
	color: white;
}

#myFooter .footer-copyright {
	padding-top: 20px;
}

#myFooter p,
#myFooter .myFooter_div_more p a {
	color: #d8d8d8;
}

#myFooter .myFooter_div_more p {
	line-height: 1.5em;
}

#myFooter p:hover,
#myFooter .myFooter_div_more p a:hover {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

#myFooter .myFooter_div_more p a:focus {
	text-decoration: none;
}

#myFooter .footer-copyright p {
	letter-spacing: 2px;
	text-align: center;
}

#myFooter .myFooter_div_more {
	margin-top: -36px;
	text-align: center;
}

@media screen and (min-width: 768px) {
	#myFooter .myFooter_divs p,
	#myFooter .myFooter_div_more p {
		float: left;
	}

	#myFooter .weixingongzhonghao_div {
		text-align: right;
	}
}

@media screen and (max-width: 1024px) {
	#myFooter .myFooter_div_more {
		margin-top: 0;
	}

	#myFooter .weixingongzhonghao_div {
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	#myFooter .myFooter_divs,
	#myFooter .myFooter_div_more {
		text-align: center;
	}

	#myFooter .myFooter_divs p,
	#myFooter .myFooter_div_more p {
		padding-right: 0;
	}

	#myFooter .myFooter_div .myFooter_div_logo {
		width: 40%;
	}
}

@media screen and (max-width: 500px) {
	#myFooter .myFooter_div .myFooter_div_logo {
		width: 30%;
	}
}

@media screen and (max-width: 400px) {
	#myFooter .myFooter_div .myFooter_div_logo {
		width: 50%;
	}
}
