@charset "utf-8";
/*==========css reset==========*/
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizelegibility;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------- header -----------*/
.h-fix {
	z-index: 1024;
	background: #fff;
	width: 100%;
	position: fixed;
	margin-top: 40px;
	box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}

.header {
	display: block;
	height: 90px;
	position: relative;
	left: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 1024;
}

.header .logo {
	float: left;
	overflow: hidden;
	height: 90px;
}

.header .logo h1, .header .logo div {
	height: 100%;
	display: block;
}

.header .logo a {
	min-width: 260px;
	height: 100%;
	display: block;
	position: relative;
	font-size: 0;
	overflow: hidden;
}

.header .logo a img {
	max-width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.header .nav-bar {
	float: left;
	margin-left: 5%;
}

.header .nav-bar li {
	display: inline-block;
	height: 90px;
	line-height: 90px;
	position: relative;
	vertical-align: top;
}

.header .nav-bar li a {
	display: inline-block;
	padding: 0 15px;
	color: #333333;
	font-size: 18px;
	position: relative;
	z-index: 1024;
	text-align: center;
}

/*默认active*/
.nav > .active {
	color: white;
	background-color: #1E89DF;
}

.nav > .active > .li-cate_a {
	color: white;
	font-weight: bolder;
}

/*导航下的线动画*/
.header .nav-bar li.active:before, .header .nav-bar li[class*="li-cate-"]:before {
	position: absolute;
	content: '';
	background: linear-gradient(#54C4F7, #1E89DF);
	width: 0;
	height: 3px;
	left: 0;
	right: 0;
	z-index: 1025;
	margin: 70px auto;
	transition: all 500ms ease;
	-webkit-mask-image: linear-gradient(-75deg, rgba(58, 128, 244, 0.24) 50%, #1E89DF 50%, rgba(0, 0, 0, 1) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}

.header .nav-bar li.active:after, .header .nav-bar li[class*="li-cate-"]:after {
	position: absolute;
	content: '';
	background: #ffffff;
	height: 3px;
	z-index: 1025;
	right: 32%;
	margin: 50px auto;
	transition: all 300ms ease;
}

.header .nav-bar li.on:before, .header .nav-bar li.active:before {
	width: 50px;
}

@-webkit-keyframes shine {
	from {
		-webkit-mask-position: 150%;
	}
	to {
		-webkit-mask-position: -50%;
	}
}

/*二级高亮*/
.header .nav-bar ul li > ul {
	top: 120%;
	left: 0;
	opacity: 0;
	width: 100%;
	z-index: 888;
	min-width: 200px;
	position: absolute;
	background: #1E89DF;
	visibility: hidden;
	left: 50%;
	right: 0;
	transform: translateX(-50%);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

/*二级导航内容样式*/
.header .nav-bar ul li > ul li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	display: block;
}

.header .nav-bar ul li > ul li a {
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: white;
	opacity: 1;
}

/*二级导航显示与透明度*/
.header .nav-bar ul li.on > ul {
	visibility: visible;
	opacity: 1;
	top: 100%;
}

/*The mobile terminal*/
.m-btn {
	position: absolute;
	top: 4px;
	bottom: 0;
	right: 5px;
	padding: 0 15px;
	height: 100%;
	display: none;
	line-height: 90px;
	cursor: pointer;
}

.m-btn i {
	color: #6b7386;
	opacity: 0.7;
	font-size: 20px;
	line-height: 48px;
}

.m-btn .fa-remove {
	color: #fff;
}

.m-btn:hover i {
	opacity: 1;
}

.m-nav {
	width: 70%;
	background: #434957;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -70%;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 1026;
	overflow-y: scroll;
	overflow-x: hidden;
	opacity: 0.9;
}

.m-nav .m-btn {
	height: 48px;
	line-height: 48px;
	left: auto;
	right: -45px;
	display: none;
}

.m-nav ul {
	padding-top: 0;
}

.m-nav li {
	width: 100%;
	position: relative;
}

.m-nav li a {
	padding: 0 25px;
	line-height: 48px;
	color: #fff;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.m-nav ul li > ul {
	display: none;
}

.m-nav li em[class*="dot"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, 0);
	cursor: pointer;
}

.m-nav li em[class*="dot"] .fa {
	font-size: 18px;
	color: #fff;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	position: absolute;
	width: 48px;
	line-height: 48px;
	top: 0;
	left: 0;
}

.m-nav li em[class*="dot"] .fa.open {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.m-nav ul li > ul li {
	background: rgba(0, 0, 0, 0.15);
}

.m-nav ul li > ul li a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	opacity: 0.8;
	font-size: 14px;
	text-indent: 1em;
}

#mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 899;
	display: none;
}

.containers {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.containers:after, .containers:before {
	content: "";
	display: table
}

.containers:after {
	clear: both;
}

.nav > li > ul > li > a {
	text-decoration: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #00000000;
}

ul.sub-menu {
	padding-left: 0;
}

em {
	display: none;
}

.sub-menu > li {
	color: white;
}

/*languageSearch*/
.languageSearch {
	width: 100%;
	height: 40px;
	position: fixed;
	z-index: 1025;
	background-color: #1E89DF;
}

.languageSearch .language {
	color: white;
	height: 100%;
	line-height: 40px;
	padding-left: 50px;
	float: left;
	font-size: 1rem;
}

.languageSearch .language a {
	color: #dddddd;
	font-weight: bolder;
	text-decoration: none;
}

.languageSearch .language .chinese {
	color: white;
}

.languageSearch .language a:hover {
	color: white;
}

.languageSearch .searchDiv {
	float: right;
	margin-right: 50px;
}

.languageSearch .searchDiv .search_input {
	border: 0;
	width: 140px;
	height: 30px;
	margin-top: 5px;
	padding-left: 10px;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: all 0.3s;
}

.languageSearch .searchDiv .search_input:focus {
	border-radius: 5px;
	width: 280px;
}

.languageSearch .searchDiv .search_a {
	color: white;
	margin-left: 10px;
	font-size: 1.2em;
}

#title {
	height: 130px;
}

.time {
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
}

#times {
	margin-top: 0;
	color: white;
	line-height: 40px;
}

/*----------- Responsive -----------*/
@media only screen and (max-width: 1024px) {
	body {
		position: relative;
		left: 0;
		overflow-x: hidden;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		transition: all .3s ease;
	}

	.header {
		width: 100%;
		z-index: 600;
	}

	.header .containers {
		text-align: center;
	}

	.header .logo a {
		min-width: 140px;
	}

	.header, .header .logo {
		height: 90px;
		display: inline-block;
		margin: 0 auto;
		font-size: 0;
	}

	.languageSearch .searchDiv {
		margin-right: 20px;
	}

	.time {
		display: none;
	}

	.nav-bar {
		display: none;
	}

	.m-btn {
		display: block;
	}

	body.open .m-nav {
		left: 0;
	}

	body.open .m-btn {
		display: none;
	}

	body.open .m-nav .m-btn {
		display: block;
	}

	ul.sub-menu {
		padding-left: 40px;
	}

	.m-nav li ul li a {
		padding: 0;
	}

	em {
		display: block;
	}

	.li-cate-1:hover {
		color: white;
		background: #00000000;
	}
}

@media (max-width: 560px) {
	.languageSearch .language {
		padding-left: 10px;
	}

	.languageSearch .searchDiv .search_input:focus {
		border-radius: 5px;
		width: 160px;
		font-size: 0.9rem;
	}

	.languageSearch .language {
		font-size: 0.8rem;
	}
}

@media (min-width: 1620px) {
	.containers {
		width: 1600px;
	}
}

@media (min-width: 1025px) {
	.containers {
		width: 92%;
	}

	.li-cate-1 > ul > li:hover {
		font-weight: bolder;
		background-color: #1c6ddf;
	}

	.li-cate-1:hover .li-cate_a {
		color: white;
		font-weight: bolder;
		background-color: #1E89DF;
	}
}

@media (max-width: 1416px) and (min-width: 1025px) {
	.header .nav-bar {
		margin-left: 0;
	}
}

@media (max-width: 1346px) and (min-width: 1025px) {
	#title {
		height: 220px;
	}
}

/*公共标题字体*/
.commonality_title {
	color: #1E89DF;
	text-align: center;
	letter-spacing: 5px;
	font-family: "STSong", 华文宋体,serif;
	font-weight: bold;
}

@media (min-width: 1600px) {
	.commonality_title {
		font-size: 3.5em;
	}
}


@media (min-width: 1024px) and (max-width: 1599px){
	.commonality_title {
		font-size: 3em;
	}
}


@media (max-width: 768px) and (max-width: 1023px){
	.commonality_title {
		font-size: 2.5em;
	}
}

@media (max-width: 480px) and (max-width: 767px){
	.commonality_title {
		font-size: 2em;
	}
}

/*公共文字字体*/
body, section, h1, h2, h3, h4, h5, h6, p, span, b, ul, li, a, table, th, hr, td, div {
	font-family: Arial, Helvetica, sans-serif, "宋体";
}


