.div-line{
    border-bottom: solid #b1b1b1 4px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.div-title-distance{
    margin-top: 30px;
}

.font-title{
    color: #fab369;
    font-weight: bolder;
    font-size: 20px;
}

.font-title2{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 10px;
}

.font-content {
    color: #c7c7c7;
    font-size: 20px;
}

.font-h2{
    text-align: center;
    color: #fab369;
    font-size: 30px;
}

a{
    text-decoration: none;
}
.bt-a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding:10px 30px 10px 30px;
    text-align: center;
    border-radius: 70px;
    border: solid #fd7b08 1px;
    background-color: #fd7b08;
}

.bt-a2{
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding:10px 30px 10px 30px;
    text-align: center;
    border-radius: 70px;
    border: solid #dcdcdc 1px;
    background-color: #dcdcdc;
}

.font-img-title{
    text-align: center;
    font-weight: bolder;
    margin-top: 15px;
    font-size:20px;
}

.font-img-content{
    text-align: center;
    color: #c7c7c7;
    font-size: 16px;
    margin-top: 10px;
}

a:link{
    /*color: #ffffff;*/
    text-decoration: none;
}
a:visited{
    /*color: #ffffff;*/
    text-decoration: none;
}

a:hover{
    /*color: #ffffff;*/
    text-decoration: none;
}

.div-youxue-lien{
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid #c1c1c1 1px;
    border-radius: 2%;
}
