<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>中德科技</title>
	<link rel="shortcut icon" type="images/x-icon" href="../../static/imgs/logoIcon.png">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css"/>
	<link type="text/css" rel="stylesheet" href="../../static/css/header.css"/>
	<link type="text/css" rel="stylesheet" href="../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../static/css/newsactivity/news_list.css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap-paginator.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../static/imgs/newsactivity/news_dynamic.png" width="100%" alt="">
		</div>
	</div>
	<!--News-->
	<div class="module-banner">
		<div class="module-banner-box">
			<div class="module-banner-tab clearfix">
				<div class="module-banner-tab-list hd">
					<div class="news_list_Div">
						<h2>新闻动态</h2>
						<span>News</span>
					</div>
					<ul class="module-tab-nav">
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>科技合作</span>
						</li>
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>教育合作</span>
						</li>
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>企业合作</span>
						</li>
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>语言中心</span>
						</li>
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>合作资源</span>
						</li>
					</ul>
				</div>
				<div class="module-banner-tab-list-box bd" style="position: relative;">
					<ul class="module-tab-box-ma" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3>新闻动态</h3>
						</div>
					</ul>
					<div class="newsContent" style="display: block;">

					</div>
					<img id="loading" style="position: absolute;top: 49%;left: 49%;" src="../../static/imgs/loading.gif" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="module-tab-box-ma_Divs">
				<ul id="page" style="display: none;">

				</ul>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

<script type="text/javascript" src="../../static/js/newsList.js"></script>

<script>
	$(function () {
		$(".li-cate-1").eq(1).addClass("active");
		$("#loading").show();
		//News Details
		$.ajax({
			type: "POST",
			url: globalUrl("dynamicNewsID") + "?id=" + getParameters()[0],
			dataType: "json",
			success: function (data) {
				if (data.resultCode === 200) {
					$("#loading").hide();
					$("title").text(data.data.title);
					$(".newsContent").html(data.data.content);
					for (let i = 0; i < $(".newsContent img").length; i++) {
						$(".newsContent img").eq(i).attr("src", domainNameUrl() + $(".newsContent img").eq(i).attr("src"));
					}
				} else {
					alert("新闻详情参数错误！请刷新再试");
					$("#loading").hide();
				}
			},
			error: function () {
				alert("服务器繁忙，请稍后再试！");
				$("#loading").hide();
			}
		})
	})
</script>

</body>
</html>
