<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>Document</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/main.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body>
<div id="title">
	<header class="header" id="header">
		<div class="h-fix">
			<div class="container">
				<!--LoGo-->
				<div class="logo">
					<a href="#" title="中德科技">
						<img src="../../static/imgs/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
					</a>
				</div>
				<!--BarsIcon-->
				<div id="m-btn" class="m-btn">
					<i class="fa fa-bars"></i>
				</div>
				<!--Search-->
				<div class="search">
					<i class="s-btn off fa fa-search searchicon"></i>
					<div class="s-form">
						<i class="arrow fa fa-caret-up"></i>
						<form name="search" method="post" class="sform" action="#">
							<input class="sinput" name="q" type="text" placeholder="请输入搜索词"/>
							<button>
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>
				</div>
				<!--Language-->
				<div class="language">
					<a href="#" class="chinese">中文版</a> |
					<a href="#" class="deutsch">Deutsch</a>
				</div>
				<!--Nav-->
				<nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
					<ul class="nav">
						<li class="li-cate-1 active">
							<a href="#">首页</a>
						</li>
						<li class="li-cate-1">
							<a href="#">新闻活动</a>
						</li>
						<li class="li-cate-1">
							<a href="#">中德科技合作</a>
							<ul class="sub-menu">
								<li>
									<a href="#">科研合作</a>
								</li>
								<li>
									<a href="#">科技支撑平台</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="#">中德教育合作</a>
							<ul class="sub-menu">
								<li>
									<a href="#">留学服务</a>
								</li>
								<li>
									<a href="#">游学访问</a>
								</li>
								<li>
									<a href="#">中德学校合作</a>
								</li>
								<li>
									<a href="#">中德学院</a>
								</li>
								<li>
									<a href="#">双元制大学</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="#">中德企业合作</a>
							<ul class="sub-menu">
								<li>
									<a href="#">企业考察</a>
								</li>
								<li>
									<a href="#">投资咨询</a>
								</li>
								<li>
									<a href="#">技术对接</a>
								</li>
								<li>
									<a href="#">成果转化</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="#">语言中心</a>
							<ul class="sub-menu">
								<li>
									<a href="#">商务德语课程</a>
								</li>
								<li>
									<a href="#">青少年德语课程</a>
								</li>
								<li>
									<a href="#">留德欧标课程</a>
								</li>
								<li>
									<a href="#">翻译服务</a>
								</li>
								<li>
									<a href="#">趣味德国</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="#">关于我们</a>
							<ul class="sub-menu">
								<li>
									<a href="#">组织架构</a>
								</li>
								<li>
									<a href="#">发展历程</a>
								</li>
								<li>
									<a href="#">发展目标</a>
								</li>
								<li>
									<a href="#">联系我们</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!--Mask-->
	<div id="mask"></div>
</div>


<div style="width: 100%;height: 1000px;">
	<img src="../../static/imgs/timg.jpg" style="width: 100%;" alt="">
</div>
</body>
</html>
