<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>留学服务</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/china_education/liuxue.css">
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
	<style type="text/css">
		.carousel-caption {
			bottom: 10%;
		}

		.carousel-caption p {
			color: white;
			font-size: 2em;
		}

		@media (max-width: 560px) {
			.carousel-caption {
				bottom: 5%;
			}

			.carousel-caption p {
				font-size: 1em;
			}
		}
	</style>
</head>
<body>

<section>
	<!--banner-->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<a href="./school/ostfalia_school.html">
					<img src="../../static/imgs/index/banner3.png" alt="..." width="100%">
					<div class="carousel-caption">
						<p>
							奥斯特法利亚应用科学大学留学项目
						</p>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="./school/bielefeld_school.html">
					<img src="../../static/imgs/index/banner3.png" alt="..." width="100%">
					<div class="carousel-caption">
						<p>
							比勒菲尔德应用科学大学留学项目
						</p>
					</div>
				</a>
			</div>

		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control"
		   style="border: 0.1px solid rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0) "
		   href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!--content-->
	<div class="container liuxues">
		<div class="row">
			<div class="col-md-12 liuxue_title">
				<div class="sec-title">
					<h1 class="commonality_title">留学项目</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-12 liuxue_info">
				<ul class="module-tab-box-ma">
					<div class="module-tab-box-ma_Div"></div>
					<li>
						<div class="module-tab-title">
							<a href="./school/ostfalia_school.html">
								<div class="module-tab-title_DivSon01">
									<img class="img-responsive center-block"
										 src="../../static/imgs/china_education/logo2.png" alt="">
								</div>
								<div class="module-tab-title_DivSon02">
									<h4 class="module-tab-title_DivSon02_title">奥斯特法利亚应用科学大学留学项目</h4>
									<p class="module-tab-title_DivSon02_info">
										奥斯特法利亚应用科学大学坐落于德国下克森州，拥有11个院系，50多个专业，近-万三千名学生。每年科研经费高达3000W欧元。与Volkswagen(大众) Siemens (西门子)、Lufthansa (汉莎航空)、Man、Voith (福伊特)等上百家工业界翘楚保持着密切合作关系。
									</p>
								</div>
							</a>
						</div>
					</li>
					<li>
						<div class="module-tab-title">
							<a href="./school/bielefeld_school.html">
								<div class="module-tab-title_DivSon01">
									<img class="img-responsive center-block"
										 src="../../static/imgs/china_education/logo1.png" alt="">
								</div>
								<div class="module-tab-title_DivSon02">
									<h4 class="module-tab-title_DivSon02_title">比勒菲尔德应用科学大学留学项目</h4>
									<p class="module-tab-title_DivSon02_info">
										比勒费尔德应用科学大学坐落于北莱菌-北威斯特法伦州，拥有5大学院，37个本科专业，13个研究生专业。 擅长机电-体化、工业4.0. 虚拟样机等学科。与 BOCH (博 世公司。Goldbeck. DB ( 德国国宝铁路)等企业有深度合作。
									</p>
								</div>
							</a>
						</div>
					</li>
				</ul>
				<div class="module-tab-box-ma_Divs">
					<nav aria-label="Page navigation">
						<ul class="pagination pagination-lg">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
