<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>双元制大学建设</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/china_education/china_education.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
	<script>
		$(function () {$(".li-cate-1").eq(5).addClass("active");})
	</script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/background_img.jpg" alt="..." width="100%">
		</div>
	</div>
	<div class="container zhongdejiaoyuhezuo">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 zhongdejiaoyuhezuo_title">
				<div class="subnav">
					<a href="./zhongdejiaoyuhezuo.html" style="text-decoration: none;">
						<h3 style="margin: 0;">中德教育合作</h3>
					</a>
					<ul class="navcon">
						<li><i></i><a href="./zhongdejiaoyuhezuo.html">简介</a></li>
						<li><i></i><a href="./liuxue.html">留学服务</a></li>
						<li><i></i><a href="./youxue.html">游学访问</a></li>
						<li><i></i><a href="./zhongdexueyuan.html">中德学院建设</a></li>
						<li class="cur"><i></i><a href="./shuangyuanzhiidaxue.html">双元制大学建设</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 zhongdejiaoyuhezuo_info">
				<div class="article">
					<h3>双元制大学建设</h3>
					<div class="art_con shuangyuanzhidayue_info">
						<p style="font-size: 1.6em;letter-spacing: 4px;font-weight: bold;">
							在德国，有一种对于中国来说新型的高等教育机构——双元制大学。该大学有着自己独树一帜的办学特色，在德国深得学生和就业单位的认可，其生源质量不仅堪与综合性大学相媲美，就业率也高于应用科学大学。为什么会有如此完美无缺的大学呢？
						</p>
						<img class="img-responsive center-block"
							 src="../../static/imgs/china_education/shuangyuanzhi01.png" alt="">
						<br><br>
						<p style="font-size: 1.6em;">
							<b>双元制大学在办学模式上，将中等职业教育领域的双元制培养模式延伸至高等教育领域：</b>学业中的理论教学部分在大学里进行，而实践教学部分则在企业或其他社会机构（如政府机构、基金会、社会救济机构等）完成。后者也被称作双元制伙伴（Duale Partner）。德国第一所双元制大学巴登-符滕堡州双元制大学就拥有9000多个双元制伙伴。理论教学和实践教学以三个月为期交替进行。在教学内容上，理论教学和实践学习两个阶段相互协调和衔接。这种教学模式不仅可以让学生掌握专业知识和方法能力，还让他们在就读期间就积累到实际工作经验。如此一来，在毕业后学生不用再经过职业培训即可快速直接地进入企业工作。
						</p>
						<br>
						<img class="img-responsive center-block" src="../../static/imgs/china_education/shuangyuanzhi02.png"
							 alt="">
						<br><br>
						<p style="font-size: 1.6em;">
							而这就是德国理论与实践齐飞的双元制大学。双元制大学的学生学习理论后进行企业实践，企业实践后学习理论。如此一来，双元制大学的学生在毕业后就能无需培训，快速上手。无论是企业，院校还是研究所，双元制大学都能提供高质量的人才。
						</p>
						<p style="font-size: 1.6em;">
							<b>
								本中心将引入双元制大学的教学模式，寻求院校和企业、研究所等合作伙伴，在中国建立双元制大学，或者按照德国标准在相关院校试行，建立双元制专业、学院，或者在企业内部开设双元制培训班，在本土批量培养高层次应用人才，提高学校、企业的国际竞争力。
							</b>
						</p>
						<br><br>
						<p style="text-align: center;text-indent: 0;font-size: 1.2em;">
							<a style="color: #333333;font-weight: bold;border-bottom: 1px solid #333333;"
							   href="../aboutUs/contactUs.html">更多详细内容请联系我们</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
