<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>游学服务</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/china_education/youxue.css">
	<link rel="stylesheet" href="../../static/css/china_education/liuxue.css">
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<!--banner-->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>

		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="../../static/imgs/index/banner1.png" alt="..." width="100%">
				<div class="carousel-caption">

				</div>
			</div>
			<div class="item">
				<img src="../../static/imgs/index/banner2.png" alt="..." width="100%">
				<div class="carousel-caption">

				</div>
			</div>
			<div class="item">
				<img src="../../static/imgs/index/banner3.png" alt="..." width="100%">
				<div class="carousel-caption">

				</div>
			</div>

		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!--content-->
	<div class="container liuxues">
		<div class="row">
			<div class="col-md-12 liuxue_title">
				<div class="sec-title">
					<h1 class="commonality_title">游学项目</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-12 liuxue_info">
				<ul class="module-tab-box-ma">
					<div class="module-tab-box-ma_Div"></div>
					<li>
						<div class="module-tab-title">
							<a href="./study_tour_program/germany_chengya.html">
								<div class="module-tab-title_DivSon01">
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/germanycy.png" alt="">
								</div>
								<div class="module-tab-title_DivSon02">
									<h4 class="module-tab-title_DivSon02_title">德国成亚管理和科技培训中心</h4>
									<p class="module-tab-title_DivSon02_time">来源：本站</p>
									<p class="module-tab-title_DivSon02_info">
										随着科技的发展与进步，全世界拉近了距离。在如今快速便利的交通环境下，游学自然而然地兴起。
										所谓游学，即为游与学，这里的游即是游玩，旅游之意，学则为学习，参学之意。游学游学，
										即为边游边学， 在游玩中学习，在学习中游玩。游学不仅仅能开阔视野，培养独立自主的能力，
										还能够收获独一无二的感动和体验。
									</p>
								</div>
							</a>
						</div>
					</li>
				</ul>
				<div class="module-tab-box-ma_Divs">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
