<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>游学服务</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/china_education/youxue.css">
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
    <script type="text/javascript" src="../../static/js/createMaps.js"></script>
    <script type="text/javascript" src="../../static/js/maps.js"></script>
</head>
<body>
<!--背景-->
<section>
    <!-- 背景图 -->
    <div class="container-fluid">
        <div class="row url">
            <img src="../../static/imgs/china_education/s2_youxue.png" class="img-responsive" width="100%" alt=""/>
        </div>
    </div>

</section>

<section class="container">
    <div class="page-header" style="text-align: center;color: #005578">
        <h1>游学</h1>
        <hr/>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 ">
            <img src="../../static/imgs/china_education/s2_1.jpg" style="padding: 0;width: 100%;margin-bottom: 30px"
                 alt=""/>
        </div>
        <div class="col-xs-12 col-md-6 ">
            <p class="s2"> 随着科技的发展与进步，全世界拉近了距离。在如今快速便利的交通环境下，游学自然而然地兴起。
                所谓游学，即为游与学，这里的游即是游玩，旅游之意，学则为学习，参学之意。游学游学，
                即为边游边学，在游玩中学习，在学习中游玩。游学不仅仅能开阔视野，培养独立自主的能力，还能够收获独一无二的感动和体验。

            </p>
        </div>
    </div>
    <div class="page-header" style="text-align: center;color: #005578">
        <h2>学生游学</h2>
        <hr/>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="../../static/imgs/china_education/s2_b2youxue.jpeg" style="padding: 0;height:50%;width: 100%;margin-bottom: 30px"
                 alt=""/>
            <p class="s1">
                学生游学主要面向于学生，前往学校或是科研机构进行访问与交流，在游玩的同时学习西方独特的思考模式和培养独立自主的能力等。
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../../static/imgs/china_education/s2_b1.jpg" alt="..." >
                        <div class="carousel-caption">
                            学生游学图片1
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/imgs/china_education/s2_b2.jpg" alt="..." >
                        <div class="carousel-caption">
                            学生游学图片2
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/imgs/china_education/s2_b3.jpg" alt="..." >
                        <div class="carousel-caption">
                            学生游学图片3
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-header" style="text-align: center;color: #005578">
        <h2>企业游学</h2>
        <hr/>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../../static/imgs/china_education/s2_1.jpg" alt="..." >
                        <div class="carousel-caption">
                            企业游学图片1
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/imgs/china_education/s2_b2youxue.jpeg" alt="..." >
                        <div class="carousel-caption">
                            企业游学图片2
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../static/imgs/china_education/s2_byouxue.jpg" width="100%" alt="..." >
                        <div class="carousel-caption">
                            企业游学图片3
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <img src="../../static/imgs/china_education/s2_byouxue.jpg" style="padding: 0;height:50%;width: 100%;margin-bottom: 30px"
                 alt=""/>
            <p class="s1">
                企业游学主要面向于企业。企业组织企业管理层或是企业员工前往其他国家，在旅游的同时学习并交流企业文化和管理模式等。
            </p>
        </div>
    </div>
</section>


<footer>
    <div class="footer"
         style="color: #999999;font-size: 1rem;padding: 15px;text-align: center;background-color: #2C2C2C;">
        <p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>

        <p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
    </div>
</footer>

</body>
</html>
