<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>游学服务</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/china_education/china_education.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
	<script>
		$(function () {$(".li-cate-1").eq(5).addClass("active");})
	</script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/background_img.jpg" width="100%" alt="">
		</div>
	</div>
	<div class="container zhongdejiaoyuhezuo youxue_info">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 zhongdejiaoyuhezuo_title">
				<div class="subnav">
					<a href="./zhongdejiaoyuhezuo.html" style="text-decoration: none;">
						<h3 style="margin: 0;">中德教育合作</h3>
					</a>
					<ul class="navcon">
						<li><i></i><a href="./zhongdejiaoyuhezuo.html">简介</a></li>
						<li><i></i><a href="./liuxue.html">留学服务</a></li>
						<li class="cur"><i></i><a href="./youxue.html">游学访问</a></li>
						<li><i></i><a href="./zhongdexueyuan.html">中德学院建设</a></li>
						<li><i></i><a href="./shuangyuanzhiidaxue.html">双元制大学建设</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 zhongdejiaoyuhezuo_info">
				<div class="article">
					<h3>游学服务</h3>
					<div class="art_con">
						<p>
							您知道吗？著有闻名全世界的《浮士德》的著名诗人歌德是德国人；建立相对论“大厦”的著名科学家爱因斯坦也是德国人；而闻名于世的天才音乐家莫扎特也是德国人哦！而德国也是全世界公认的音乐天堂，基本上所有的德国人都会一门乐器；德国人也热爱运动，尤其是足球，在酒馆里您都能看到很多德国人在为他们所喜爱的球队呐喊助威。除此之外，德国也是艺术、文学的天堂，在那里可以尽情地徜徉在艺术和文学的海洋里。
						</p>
						<br><br>
						<img width="100%" class="img-responsive center-block" src="../../static/imgs/china_education/s2_1.jpg" alt="">
						<p style="text-indent: 0;text-align: center;margin-bottom: 50px;"><br><b>是不是很动心呢？</b></p>
						<p class="youxue_info_p" style="margin-bottom: 50px;">本中心为深化中德两国之间的教育合作，特地为<b>个人/团队/企业/亲子</b>提供德国特色游学项目。无论您是想游览德国的名胜古迹，还是想侧重语言的学习，亦或者是想参观德国企业，本中心都可以为您特别定制，定制独属于您的游学路线！</p>
						<img width="100%" class="img-responsive center-block" src="../../static/imgs/china_education/s2_b2youxue.jpeg" alt="">
						<br><br>
						<p style="text-indent: 0;text-align: center;font-size: 1.2em;">
							<a style="color: #333333;font-weight: bold;border-bottom: 1px solid #333333;"
							   href="../aboutUs/contactUs.html">更多详细内容请联系我们</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
