<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>中德教育合作</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/china_education/china_education.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/common.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block"
				 src="../../static/imgs/background_img.jpg" width="100%" alt="">
		</div>
	</div>
	<div class="container zhongdejiaoyuhezuo">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 zhongdejiaoyuhezuo_title">
				<div class="subnav">
					<a href="./zhongdejiaoyuhezuo.html" style="text-decoration: none;">
						<h3 style="margin: 0;">中德教育合作</h3>
					</a>
					<ul class="navcon">
						<li class="cur"><i></i><a href="./zhongdejiaoyuhezuo.html">简介</a></li>
						<li><i></i><a href="./liuxue.html">留学服务</a></li>
						<li><i></i><a href="./youxue.html">游学访问</a></li>
						<li><i></i><a href="./zhongdexueyuan.html">中德学院建设</a></li>
						<li><i></i><a href="./shuangyuanzhiidaxue.html">双元制大学建设</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 zhongdejiaoyuhezuo_info">
				<div class="article">
					<h3>简介</h3>
					<div class="art_con">
						<p>
							本中心将深化中德之间的教育合作，学习并借鉴德国教育模式，探索建立中德教育合作新机制。本中心与德国几所大学、企业建立了合作关系，无论是在科技领域中还是在教育领域里都有合作。例如本中心已促成西南交通大学与德国奥斯特法利亚应用科学大学建<b><a target="_blank" href="https://sme.swjtu.edu.cn/info/1169/10060.htm">合作关系</a></b>，例如“4+2硕士项目”等合作，现在已输送40多位学子赴德留学。
						</p>
						<p style="font-size: 2em;text-indent: 0;letter-spacing: 2px;text-align: center;padding: 20px 0;font-weight: bolder;">
							具体合作
						</p>
						<p style="text-indent: 0">
							1、本中心寻求院校和企业合作伙伴，在中国共建<b><a href="./zhongdexueyuan.html">采用双语教学的中德学院</a></b>；
						</p>
						<p style="text-indent: 0">
							2、本中心寻求院校和企业合作伙伴，在中国共建<b><a href="./shuangyuanzhiidaxue.html">双元制大学</a></b>，或者<b><a
								href="./shuangyuanzhiidaxue.html">双元制专业</a></b>、<b><a
								href="./zhongdexueyuan.html">学院</a></b>；
						</p>
						<p style="text-indent: 0">
							3、本中心寻求院校和企业合作伙伴，创办<b><a href="../language_center/language_center.html">德语教学培训班</a></b>；
						</p>
						<p style="text-indent: 0">
							4、本中心提供<b><a href="./liuxue.html">留学咨询</a></b>、<b><a href="./youxue.html">游学服务</a></b>等。
						</p>
						<p style="text-indent: 0;font-size: 1.2em;">
							<a style="color: #333333;font-weight: bold;border-bottom: 1px solid #333333;"
							   href="../aboutUs/contactUs.html">更多详细内容请联系我们</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
