<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>中德学院</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/china_education/zhongdexueyuan.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<!-- img -->
	<img class="img-responsive center-block" src="../../static/imgs/china_education/xueyuanshuamgyuanzhi.png" alt="..." width="100%">
	<!--content-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 zhongdexueyuan_div">
				<div class="sec-title">
					<h1 class="commonality_title">中 德 学 院</h1>
					<div class="border-shape"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 zhongdexueyuanDiv01">
				<h1><i class="fa fa-location-arrow"></i>学院目标</h1>
			</div>
			<div class="col-md-12 zhongdexueyuanDiv02">
				<p>
					中德学院是采用汉德双语教学的学院，以国际合作的视野，优良的师资和现代化的教学环境， 培养出我国既懂外语又掌握专业知识的年轻后备力量。
					学院中方教授多数拥有德国博士学位，或具有多年留德经历和德语基础。
					外方教授多为德国大学的知名教授。
					具备本科学历的中国学生可以在这里完成双语硕士课程，可同时获得双语硕士文凭。
					学院的教学计划将借鉴德国模式，贴合实践，贴近企业需求。
					中德学院为中德两国培养既有专业知识又熟悉两国文化的精英人才。
					多数学生也将有机会获得奖学金赴德国高校进行专业学习，或是进入著名跨国企业参加实习或撰写硕士论文。
					本中心致力于这些双语教学出来的毕业生步入中德两国顶尖企业，成为中德两国的栋梁之材。
				</p>
			</div>
			<div class="col-md-12 zhongdexueyuanDiv02">
				<img class="img-responsive center-block" src="../../static/imgs/china_education/zhongdexueyuan.png" alt="">
			</div>
		</div>
	</div>

</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
