<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>德国成亚管理和科技培训中心</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/china_education/germany_chengya.css" type="text/css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" width="100%" src="../../../static/imgs/index/banner2.png" alt="">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 youxuediv">
				<div class="sec-title">
					<h1>德国成亚游学</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 youxuediv_info">
				<img class="img-responsive" src="../../../static/imgs/china_education/s2_b2youxue.jpeg" alt="">
			</div>
			<div class="col-lg-6 col-md-6 youxuediv_info">
				<p>
					随着科技的发展与进步，全世界拉近了距离。在如今快速便利的交通环境下，游学自然而然地兴起。
					所谓游学，即为游与学，这里的游即是游玩，旅游之意，学则为学习，参学之意。游学游学，即为边游边学，
					在游玩中学习，在学习中游玩。游学不仅仅能开阔视野，培养独立自主的能力，还能够收获独一无二的感动和体验。
				</p>
			</div>
			<div class="col-lg-6 col-md-6 youxuediv_info">
				<p>
					学生游学主要面向于学生，前往学校或是科研机构进行访问与交流，
					在游玩的同时学习西方独特的思考模式和培养独立自主的能力等。
				</p>
			</div>
			<div class="col-lg-6 col-md-6 youxuediv_info">
				<img class="img-responsive" src="../../../static/imgs/china_education/s2_1.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" style="background-color: #0cb1f6;height: 140px;margin-top: 50px;"></div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 youxuediv">
				<div class="sec-title">
					<h1>德国成亚游学学生</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-12 xueshengyouxue">
				<div class="page-wrapper">
					<section class="home-features-area section-padding">
						<div class="container">
							<div class="row">
								<div class="col-lg-4 col-md-6 fadeInLeft"
									 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
									<div class="single-home-feature">
										<img src="../../../static/imgs/china_education/s2_b1.jpg" alt="">
										<div class="row home-features-contents">
											<div class="col-sm-9 col-xs-12">
												<div class="home-features-title">
													<h3>德国青少年夏令营活动掠影</h3>
													<h5>夏令营活动掠影</h5>
												</div>
											</div>
											<div class="col-sm-3">
												<h4>01</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 fadeInLeft"
									 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
									<div class="single-home-feature">
										<img src="../../../static/imgs/china_education/s2_b2.jpg" alt="">
										<div class="row home-features-contents">
											<div class="col-sm-9 col-xs-12">
												<div class="home-features-title">
													<h3>亚琛市长和陈老师合影</h3>
													<h5>夏令营活动掠影</h5>
												</div>
											</div>
											<div class="col-sm-3">
												<h4>02</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 fadeInLeft"
									 style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
									<div class="single-home-feature">
										<img src="../../../static/imgs/china_education/s2_b3.jpg" alt="">
										<div class="row home-features-contents">
											<div class="col-sm-9">
												<div class="home-features-title">
													<h3>德国青少年夏令营活动掠影</h3>
													<h5>夏令营活动掠影</h5>
												</div>
											</div>
											<div class="col-sm-3">
												<h4>03</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" style="background-color: #999999;height: 140px;margin-top: 50px;"></div>
		</div>
	</div>
	<div class="container" style="padding-bottom: 60px;">
		<div class="row">
			<div class="col-md-12 youxuediv">
				<div class="sec-title">
					<h1>企 业 游 学</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 youxuediv_info">
				<img class="img-responsive" src="../../../static/imgs/china_education/s2_byouxue.jpg" alt="">
			</div>
			<div class="col-lg-6 col-md-6 youxuediv_info">
				<p>
					企业游学主要面向于企业。企业组织企业管理层或是企业员工前往其他国家，
					在旅游的同时学习并交流企业文化和管理模式等。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
