<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>德国之夏</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/china_education/summer_germany.css" type="text/css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" width="100%" src="../../../static/imgs/index/banner2.png" alt="">
		</div>
	</div>
	<div class="container summer_germanys">
		<div class="row">
			<div class="col-md-12 summer_germany">
				<div class="sec-title">
					<h1 class="commonality_title">德国之夏</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-12 summer_germany_info">
				<span class="summer_germany_info_p01">
					<i class="fa fa-question-circle-o"></i>
					当提到工业的时候，我们首先会想到哪一个国家呢？
				</span>
				<span class="summer_germany_info_p02">
					那当然是一个大家熟知的国度——德国。
					<i class="fa fa-hand-o-left"></i>
				</span>
			</div>
			<div class="col-md-12 summer_germany_info_img" style="box-shadow: 0 0 5px 5px #999999">
				<img class="img-responsive center-block" width="100%"
					 src="../../../static/imgs/language_center/deyukecheng.png" alt="">
				<p class="summer_germany_info_img_p">
					纵观德国这个工业高度发达而又充满文化气息的国家发展史，这里曾经出现过伟大的马克思主义创始人马克思、哲学家黑格尔、诗人歌德、音乐家贝多芬以及伟大的科学家爱因斯坦。而“德国制造4.0”也享誉世界，德式教育体制更是久负盛名。这一切的一切，都吸引着人们前往德国一探究竟。
				</p>
			</div>
			<div class="col-md-12 summer_germany_info_fenge"></div>
			<div class="col-md-12 summer_germany_info">
				<p class="summer_germany_info_div_p">
					于是，2019年8月我们组织了一场青少年夏令营“走进德国”。我和我的小伙伴们一起前往德国，近距离接触德国的文化与科技，游览德国文化与教育圣地，领略中德文化差异的魅力。
				</p>
			</div>
			<div class="col-md-12 summer_germany_info">
				<p class="summer_germany_info_div_ps">
					8月，我们先飞往捷克布拉格，漫游了布拉格广场和查理大桥，再到德国德累斯顿欣赏易北河畔‘’佛罗伦萨‘’自然和艺术风光，领略博物馆奇幻夜。奇幻夜上50个博物馆同时对外开放，能够一次性感受整个德国前沿科技和文化的魅力。
				</p>
				<p class="summer_germany_info_div_ps">
					紧接着我们访问了德累斯顿工业大学和州立图书馆，感受德国精英大学联盟TU9的魅力，和书海之香。
				</p>
				<p class="summer_germany_info_div_ps">
					然后我们参观了大众4.0未来工厂，感受德国顶尖制造技术，领悟未来汽车发展趋势。
				</p>
				<p class="summer_germany_info_div_ps">
					我们还参观了顶级葡萄酒庄园，在温和日光下品鉴享誉全世界的雷司令葡萄酒，参观了柏林墙、勃兰登堡门，体会那段历史打动人心的深沉力量。
				</p>
				<p class="summer_germany_info_div_ps">
					接着我们就去访问了号称“现代大学之母”，无数诺贝尔奖诞生地的洪堡大学。
				</p>
				<p class="summer_germany_info_div_ps">
					除此之外我们还访问了德国高中，体验了德式中学的教育。最后我们访问了奥斯特法利亚应用科学大学，感受了德国的“双元制”职业教育。
				</p>
				<p class="summer_germany_info_div_ps">
					另外我们游览了众多旅游胜地，例如伍伯塔尔、罗马、苏黎世，在伍伯塔尔我们游览了和哥特式建筑艺术的代表作——科隆大教堂。教堂的恢弘磅礴、美轮美奂真是令人目不转睛啊。
				</p>
			</div>
			<div class="col-md-12 summer_germany_info_fenge"></div>
			<div class="col-md-12 summer_germany_info_img" style="box-shadow: 0 0 5px 5px #999999">
				<img class="img-responsive center-block" width="100%"
					 src="../../../static/imgs/language_center/deguozhixia02.jpg" alt="">
				<p class="summer_germany_info_img_p">
					古人语：“千里之行始于足下”，正所谓很多我们从书本、网络上学到的知识总是肤浅的，得亲自跨出去体会和经历，才会真正的理解和运用。我相信，在这次的游学中，参与的每一个人扩宽了眼界和认知面，都受益匪浅。
				</p>
			</div>
			<div class="col-md-12 summer_germany_info_img" style="box-shadow: 0 0 5px 5px #999999">
				<img class="img-responsive center-block" width="100%"
					 src="../../../static/imgs/language_center/deguozhixia01.png" alt="">
				<p class="summer_germany_info_img_p">
					<strong>
						虽然仲夏已逝，但是玄冬将临。亲爱的小伙伴们，仲夏我们没有相约在德国，但是我们还有冬令营哦！ 我们在冬令营等你来哦！
					</strong>
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
