.invertment_div h1 {
	text-align: center;
}

.invertment_div img {
	padding: 20px 0;
}

.invertment_div p {
	line-height: 2em;
	letter-spacing: 2px;
	text-indent: 2em;
	font-size: 1.5em;
}

.div_line {
	border: 2px #2e75b5 solid;
}

.liangdian{
	font-size: 2.2em;
	font-weight: bolder;
	color: #2e75b5;
	padding: 20px 0;
}

.div_line h4 {
	margin: 0 30px;
	color: #2e75b5;
	font-size: 1.8em;
	line-height: 2em;

}

.invertment_div h3{}

.div_line p {
	margin: 0 30px;
	line-height: 2em;
	letter-spacing: 2px;
	text-indent: 2em;
	font-size: 1.5em;
}

.table-bordered tbody {
	border: 3px #2e75b5 solid;
}

.table-bordered tbody tr td {
	border: 2px #2e75b5 solid;
}

.techical_service_div .sec-title {
	text-align: center;
}

.techical_service_div .sec-title h2 {
	color: #333333;
	letter-spacing: 2px;
}

.techical_service_div .border-shape {
	background: #ddd;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 550px;
}

.techical_service_div .border-shape::before {
	background: #ddd none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 300px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.techical_service_div .border-shape::after {
	background: #ddd none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 200px;
	margin: 0 auto;
}

.module-tab-box-ma table td {
	text-align: left;
}
