#keyanhezuo_Div {
	padding: 40px 15px;
}

.keyanhezuo_Div_font {
	padding-bottom: 50px;
	text-align: center;
}

.keyanhezuo_DivSon {
	padding: 30px 15px;
}

.keyanhezuo_DivSon p {
	color: #333333;
	font-size: 1.4em;
	text-indent: 2em;
	line-height: 2em;
	letter-spacing: 2px;
}

.keyanhezuo_DivSon h4 {
	font-size: 1.3em;
	font-weight: bolder;
	letter-spacing: 2px;
}

.keyanhezuo_DivSon_div {
	width: 60px;
	height: 5px;
	background-color: #154fdf;
}

/*investment_advisory*/
.investment_advisory{
	padding: 50px 0;
}
.investment_advisory .sec-title {
	text-align: center;
}

.investment_advisory .sec-title h1 {
	color: #333333;
}

.investment_advisory .border-shape {
	background: #ddd;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 350px;
}

.investment_advisory .border-shape::before {
	background: #ddd none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.investment_advisory .border-shape::after {
	background: #ddd none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 70px;
	margin: 0 auto;
}
