@media (max-width: 750px) {
    .s2 {
        font-size: 0.3em;
        color: #005578;
    }
    .s1 {
        font-size: 0.3em;
        margin-left: 30px;
    }
    .carousel-caption{
        font-size: 0.8em;
    }
    .s3{
        padding-top: 30px;
    }
}

@media (min-width: 750px){
    .s2{
        font-size: 1.3em;
        color: #005578;
    }
    .s1 {
        font-size: 2em;
        margin-left: 20px;
    }
    .carousel-caption{
        font-size: 1.3em;
    }

}
