#keyanhezuo_Div {
	padding: 40px 15px;
}

.keyanhezuo_Div_font {
	text-align: center;
}

.keyanhezuo_DivSon {
	padding: 30px 15px;
}

.keyanhezuo_DivSon p {
	color: #165ddf;
	font-size: 1.3em;
	text-indent: 2em;
	line-height: 2em;
	letter-spacing: 2px;
}

.keyanhezuo_DivSon h4 {
	letter-spacing: 2px;
}

.keyanhezuo_DivSon_div {
	width: 60px;
	height: 5px;
	background-color: #154fdf;
}

