.tops{
	margin-top: 30px;
}

.what-we-do-crousel-sec {
	padding: 50px 0;
	background: #0cb1f6;
	letter-spacing: 2px;
}

.what-we-do-crousel-sec .sec-title {
	text-align: center;
}

.what-we-do-crousel-sec .sec-title h1{
	color: #fff;
}

.what-we-do-crousel-sec .border-shape {
	background: #ddd;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 350px;
}

.what-we-do-crousel-sec .border-shape::before {
	background: #ddd none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.what-we-do-crousel-sec .border-shape::after {
	background: #ddd none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 70px;
	margin: 0 auto;
}


/*what-we-do-single-inner*/
.what-we-do-single-inner {
	padding: 20px 20px;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
	background: #072948;
	border-radius: 10px;
	overflow: hidden;
}

.what-we-do-single-inner::before {
	position: absolute;
	z-index: -1;
	content: "";
	width: 100%;
	height: 100%;
	background: #fff;
	top: 0;
	left: 0;
	transition: all 0.4s ease 0s;
}

.what-we-do-single-inner:hover:before {
	height: 0%;
	transition: all 0.4s ease 0s;
}

.what-we-do-single-inner:hover {
	border-color: #0cb1f6;
	color: #fff;
}

.what-we-do-single-inner:hover .what-we-do-inner-desc h2 span {
	color: #fff;
}

.what-we-do-single-inner:hover .what-we-do-inner-desc h2 a {
	color: #0cb1f6;
	text-decoration: none;
}

.what-we-do-single-inner:hover .what-we-do-button {
	color: #fff;
	background: #0cb1f6;
	transition: all 0.5s ease-out;
	text-decoration: none;
}

.what-we-do-inner-img {
	margin-bottom: 30px;
}

.what-we-do-inner-img img {
	/*height: 100px;*/
}

.what-we-do-inner-desc{
	text-align: center;
}

.what-we-do-inner-desc h2 a {
	font-size: 20px;
	text-transform: capitalize;
}

.what-we-do-inner-desc h2 span {
	color: #0cb1f6;
	position: relative;
	z-index: 2;
	margin-right: 4px;
}

.what-we-do-button {
	color: #0cb1f6;
	font-size: 14px;
	width: 50px;
	height: 50px;
	display: inline-block;
	background: #f9f9f9;
	border-radius: 100%;
	text-align: center;
	line-height: 58px;
}

.what-we-do-button i {
	font-size: 26px;
}

