.what-we-do-crousel-sec {
	padding: 60px 0;
	letter-spacing: 2px;
}

.what-we-do-crousel-sec .sec-title {
	text-align: center;
}

.what-we-do-crousel-sec .border-shape {
	background: #a8a8a8;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 300px;
}

.what-we-do-crousel-sec .border-shape::before {
	background: #a8a8a8 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.what-we-do-crousel-sec .border-shape::after {
	background: #a8a8a8 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 70px;
	margin: 0 auto;
}

.what-we-do-crousel-sec div .item {
	padding: 20px;
	margin-top: 50px;
	color: #333;
	border-radius: 5px;
	background-color: white;
	max-height: 300px;
}

.what-we-do-crousel-sec div .item img {
	width: 50%;
}

.what-we-do-crousel-sec div .item h3 {
	text-align: center;
}

.what-we-do-crousel-sec div .item p {
	color: #333333;
	line-height: 2em;
	letter-spacing: 1px;
	text-indent: 2em;
	font-size: 1.4em;
	display: block;
	max-height: 200px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.what-we-do-crousel-sec .what-we-do-button {
	color: #0cb1f6;
	font-size: 14px;
	width: 50px;
	height: 50px;
	float: right;
	transition: all 0.3s;
	display: inline-block;
	background: #f8f8f8;
	border-radius: 100%;
	text-align: center;
	line-height: 58px;
}

.what-we-do-crousel-sec .what-we-do-button i {
	font-size: 26px;
}

.what-we-do-crousel-sec div .item:hover {
	cursor: pointer;
}

.what-we-do-crousel-sec div .item:hover h3 {
	font-weight: bolder;
}

.what-we-do-crousel-sec div .item:hover .what-we-do-button {
	background: #0cb1f6;
	color: white;
}

@media (max-width: 767px) {
	.what-we-do-crousel-sec {
		padding: 30px 0;
	}

	.what-we-do-crousel-sec div .item {
		padding: 10px;
		margin: 10px;
	}
}
