.what-we-do-crousel-sec {
	padding-top: 20px;
	padding-bottom: 50px;
	letter-spacing: 2px;
}

.what-we-do-crousel-sec div .item {
	padding: 20px;
	margin-top: 50px;
	color: #333;
	border-radius: 10px;
	background-color: white;
}

@media (min-width: 1024px) {
	.what-we-do-crousel-sec div .item {
		height: 340px;
	}
}

.what-we-do-crousel-sec div .item img {
	width: 50%;
}

.what-we-do-crousel-sec div .item h3 {
	text-align: center;
}

@media (min-width: 1301px) {
	.what-we-do-crousel-sec div .item p {
		color: #333333;
		line-height: 2em;
		letter-spacing: 1px;
		text-indent: 2em;
		font-size: 1.4em;
		display: block;
		max-height: 270px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 6;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
	}
}

@media (min-width: 768px) and (max-width: 1300px){
	.what-we-do-crousel-sec div .item p {
		color: #333333;
		line-height: 2em;
		letter-spacing: 1px;
		text-indent: 2em;
		font-size: 1.4em;
		display: block;
		max-height: 220px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
	}
}

@media (max-width: 767px) {
	.what-we-do-crousel-sec div .item p {
		color: #333333;
		line-height: 2em;
		text-indent: 2em;
		font-size: 1.4em;
		display: block;
		margin-bottom: 50px;
	}
}


.what-we-do-crousel-sec .what-we-do-button {
	color: #0cb1f6;
	font-size: 14px;
	width: 50px;
	height: 50px;
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	transition: all 0.3s;
	display: inline-block;
	background: #f8f8f8;
	border-radius: 100%;
	text-align: center;
	line-height: 58px;
}

.what-we-do-crousel-sec .what-we-do-button i {
	font-size: 26px;
}

.what-we-do-crousel-sec div .item:hover {
	cursor: pointer;
}

.what-we-do-crousel-sec div .item:hover h3 {
	font-weight: bolder;
}

.what-we-do-crousel-sec div .item:hover .what-we-do-button {
	background: #0cb1f6;
	color: white;
}

@media (max-width: 767px) {
	.what-we-do-crousel-sec {
		padding: 30px 0;
	}

	.what-we-do-crousel-sec div .item {
		padding: 10px;
	}
}

.technology-platform_div {
	padding-top: 50px;
}

.technology-platform_title {
	text-align: center;
	padding: 20px 0;
	cursor: pointer;
}

a:hover, a:focus {
	color: #23527c;
	text-decoration: none;
}

.technology-platform_title .sec-title h1 {
	color: white;
	font-size: 2em;
	letter-spacing: 2px;
}

.technology-platform_title:hover .sec-title h1 {
	font-weight: bolder;
}

.technology_platform_info {
	display: none;
}

.sec-title i {
	transition: all 0.3s;
	transform-origin: center;
}

.sec-title a {
	text-decoration: none;
}

.hezuoziyuan .container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.hezuoziyuan .row {
	margin: 0;
}

.introduction_to_the {
	padding: 20px 0;
	text-align: center;
}

.introduction_to_the p {
	line-height: 2em;
	letter-spacing: 2px;
	color: #333333;
	font-size: 1.4em;
}

@media (max-width: 600px) {
	.technology-platform_title .sec-title h1 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}

	.introduction_to_the p {
		line-height: 1.1em;
	}

	.what-we-do-crousel-sec div .item h3 {
		font-size: 1.3em;
		line-height: 1.5em;
	}

	.what-we-do-crousel-sec div .item p {
		line-height: 1.5em;
		font-size: 1.1em;
	}

	.what-we-do-crousel-sec div .item img {
		width: 60%;
		padding-bottom: 20px;
	}
}

@media (min-width: 1720px){
	.what-we-do-crousel-sec div .item img {
		width: 30%;
	}
}

.kejihezuo .kejihezuo_p01,
.kejihezuo .kejihezuo_p02{
	font-size: 1.5em;
	letter-spacing: 1px;
	text-indent: 2em;
	line-height: 2em;
}

.kejihezuo h4{
	font-size: 1.3em;
	font-weight: bolder;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 3px solid #154fdf;
}
