.carousel-caption {
	bottom: 20%;
}

.carousel-caption p {
	color: white;
}

.banner1 {
	display: block;
}

.banner2 {
	display: none;
}

@media (max-width: 1386px) {
	.banner1 {
		display: none;
	}

	.banner2 {
		display: block;
	}
	.carousel-indicators {
		bottom: 0;
	}
	.carousel-indicators .active {
		width: 40px;
		height: 10px;
		background-color: white;
	}

	.carousel-indicators li {
		border: 0;
		margin: 0;
		background-color: #b2b2b2;
	}
	.carousel-caption{
		bottom: 60px;
		text-align: left;
	}
	.carousel-caption p{
		display: initial;
		padding: 10px;
		opacity: 0.7;
		font-size: 1em;
		background-color: #000000;
	}
}
