.ziti{
    font-size: 2em;
    font-weight: bold;

}
.bgimg{
    background: url("../../imgs/index/new2.jpg");
    width: 600px;
    height: 360px;
    margin-bottom: 50px;
    margin-right: 100px;
}
