.banner1 {
	display: block;
}

.banner2 {
	display: none;
}

.carousel-caption p {
	color: white;
}

@media (max-width: 1386px) {
	.banner1 {
		display: none;
	}

	.banner2 {
		display: block;
	}

	.carousel-indicators .active {
		width: 40px;
		height: 10px;
		background-color: white;
	}

	.carousel-indicators li {
		border: 0;
		margin: 0;
		height: 10px;
		width: 10px;
		background-color: #b2b2b2;
	}

	.carousel-caption {
		bottom: 40px;
		text-align: center;
	}

	.carousel-caption p {
		display: initial;
		padding: 10px;
		opacity: 0.7;
		font-size: 1em;
		background-color: #000000;
	}
}

@media (max-width: 560px) {
	.carousel-indicators {
		bottom: -40px;
	}

	.carousel-caption {
		bottom: 0;
	}

	.carousel-indicators .active {
		width: 30px;
		height: 8px;
		background-color: #228BDF;
	}

	.carousel-indicators li {
		height: 8px;
		width: 8px;
	}

	.carousel-caption p {
		line-height: 2em;
	}
}
