<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/about/css/contactUs.css">
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
</head>
<body>
<!--背景图-->
<img src="../static/about/img/about.png" class="img-responsive" width="100%" alt=""/>
<!-- 当前页面位子 -->
<div class="c-position">
    <div class="container content">
        <img src="../static/about/img/position.png"> 当前位置&gt;&gt;联系我们-公司概况
    </div>
</div>
<!-- 简介 -->
<div class="c-survey">
    <div class="container">
        <!-- 标题 -->
        <div class="titleFle">
            <div class="fleItem">
                <span class="leftFont">M</span>
            </div>
            <div class="fleItem">
                <span class="chinaese">中德科技促进中心</span>
                <span class="english">China and deutsche technology center</span>
            </div>
        </div>
        <!-- 我们是谁 -->
        <div class="row how">
            <div class="col-md-7 word">
                <div class="title">
                    <h1>我们是谁？</h1>
                    <span>懂您所需、做您所想</span>
                </div>
                <div class="content">
                   中德科技促进中心（缺资料）
                </div>
            </div>
            <div class="col-md-5 pic">
                <img src="../static/about/img/about.png" class="img-responsive">
            </div>
        </div>
        <!-- 我们能做什么 -->
        <div class="row can">
            <div class="col-md-7 word">
                <div class="title">
                    <h1>我们能做什么？</h1>
                    <span>我们提供的产品</span>
                </div>
                <div class="content">
                    我们秉承“诚恳、高效、价值、创新”的企业文化。
                    怀着对马赛克艺术的执着，以极强的创造力和敬业精神,以及强大的团队，
                    为您提供多样的、颜色搭配丰富的马赛克组合，
                    务求以更专业更优质的服务态度为您打造一个不一样的富丽堂皇的空间效果！
                    (缺资料)
                </div>
            </div>
            <div class="col-md-5 pic">
                <img src="../static/about/img/about.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<!-- 联系我们 -->
<div class="c-contactUs">
    <div class="container">
        <!-- 标题 -->
        <div class="titleFle">
            <div class="fleItem">
                <span class="leftFont">C</span>
            </div>
            <div class="fleItem">
                <span class="chinaese">联系我们</span>
                <span class="english">ontact us</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 contact">
                <ul>
                    <li>
                        <img src="../static/about/img/phone.png">
                        <div class="info">
                            <span>全国免费咨询热线</span>
                            <span>18728871721</span>
                        </div>
                    </li>
                    <li>
                        <img src="../static/about/img/fax.png">
                        <div class="info">
                            <span>座机</span>
                            <span>0833-2595989</span>
                        </div>
                    </li>
                    <li>
                        <img src="../static/about/img/e-mail.png">
                        <div class="info">
                            <span>邮箱</span>
                            <span>1lszdkc@163.com</span>
                        </div>
                    </li>

                    <li>
                        <img src="../static/about/img/address.png">
                        <div class="info">
                            <span>地址</span>
                            <span> 四川省乐山市高新区高新孵化园A区</span>
                        </div>
                    </li>
                    <li>
                        <img src="../static/about/img/date.png">
                        <div class="info">
                            <span>开放时间</span>
                            <span>周一至周五 9:00-17:00</span>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-sm-6 message">
                <form>
                    <ul>
                        <li>你好.欢迎您给我们提出问题</li>
                        <li>
                            <span>姓名 </span>
                            <p><input type="text" name="name"></p>
                        </li>
                        <li>
                            <span>邮箱 </span>
                            <p><input type="text" name="email"></p>
                        </li>
                        <li>
                            <span>信息 </span>
                            <p><textarea name="message"></textarea></p>
                        </li>
                        <li>
                            <input type="button" class="messageBtn" value="提交留言">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>