<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新闻详情页面</title>
	<link rel="shortcut icon" type="images/x-icon" href="../static/imgs/logoIcon.png">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/font-awesome.css"/>
	<link type="text/css" rel="stylesheet" href="../static/css/header.css"/>
	<link type="text/css" rel="stylesheet" href="../static/css/footer.css"/>
	<script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../static/js/header.js"></script>
	<script>
		$(function () {
			var url = window.location.search;
			var urlResult = [];
			var arrUrl = url.substr(1).split("&");
			for (var j = 0; j < arrUrl.length; j++) {
				urlResult[j] = decodeURI(arrUrl[j].split("=")[1]);
			}
			alert(urlResult[0] + "==" + urlResult[1]+ "==" + urlResult[2]);
			//Search
			$(".search_a").click(function () {
				var search = $(".search_input").val();
				if (search !== "") {
					location.href = "./search_details_page.html?search=" + search;
				} else {
					alert("请输入关键词");
				}
			});
		})
	</script>
</head>
<body>

<div id="title">
	<!--languageSearch-->
	<div class="languageSearch">
		<!--Language-->
		<div class="language">
			<a href="index.html" class="chinese">中文版</a> |
			<a href="./german.html" class="deutsch">Deutsch</a>
		</div>
		<!--time-->
		<div class="time">
			<p id="times"></p>
		</div>
		<!--Search-->
		<div class="searchDiv">
			<form action="">
				<input type="text" class="search_input" placeholder="请输入关键词">
				<a href="javascript:;" class="search_a">
					<i class="fa fa-search"></i>
				</a>
			</form>
		</div>
	</div>
	<header class="header" id="header">
		<div class="h-fix">
			<div class="containers">
				<!--LoGo-->
				<div class="logo">
					<a href="index.html" title="中德科技">
						<img src="../static/imgs/logo.png" alt="中德科技" title="中德科技" class="logo_icon"/>
					</a>
				</div>
				<!--BarsIcon-->
				<div id="m-btn" class="m-btn">
					<i class="fa fa-bars"></i>
				</div>
				<!--Nav-->
				<nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
					<ul class="nav">
						<li class="li-cate-1">
							<a href="index.html" class="li-cate_a">首页</a>
						</li>
						<li class="li-cate-1">
							<a href="./newsactivity/news_list.html" class="li-cate_a">新闻动态</a>
						</li>
						<li class="li-cate-1">
							<a href="./newsactivity/activity_list.html" class="li-cate_a">活动计划</a>
						</li>
						<li class="li-cate-1">
							<a href="./scientificcooperation/technology-platform.html" class="li-cate_a">合作资源</a>
						</li>
						<li class="li-cate-1">
							<a href="./scientificcooperation/scientific-cooperation.html" class="li-cate_a">中德科技合作</a>
						</li>
						<li class="li-cate-1">
							<a href="./china_education/zhongdejiaoyuhezuo.html" class="li-cate_a">中德教育合作</a>
							<ul class="sub-menu">
								<li>
									<a href="./china_education/liuxue.html" class="subdirectories02">留学服务</a>
								</li>
								<li>
									<a href="./china_education/youxue.html" class="subdirectories02">游学访问</a>
								</li>
								<li>
									<a href="./china_education/zhongdexueyuan.html" class="subdirectories02">中德学院建设</a>
								</li>
								<li>
									<a href="./china_education/shuangyuanzhiidaxue.html"
									   class="subdirectories02">双元制大学建设</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="./cooperative_enterprise/zdcooperative_enterprise.html"
							   class="li-cate_a">中德企业合作</a>
							<ul class="sub-menu">
								<li>
									<a href="./cooperative_enterprise/enterprise_inspection.html"
									   class="subdirectories03">企业考察</a>
								</li>
								<li>
									<a href="./cooperative_enterprise/investment_advisory.html"
									   class="subdirectories03">投资咨询</a>
								</li>
								<li>
									<a href="./cooperative_enterprise/successful_conversion.html"
									   class="subdirectories03">成果转化</a>
								</li>
								<li>
									<a href="./cooperative_enterprise/technical_service.html" class="subdirectories03">技术服务</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="./language_center/language_center.html" class="li-cate_a">语言中心</a>
							<ul class="sub-menu">
								<li>
									<a href="./language_center/shangwudeyu.html" class="subdirectories04">商务德语课程</a>
								</li>
								<li>
									<a href="./language_center/qingshaoniandeyu.html"
									   class="subdirectories04">青少年德语课程</a>
								</li>
								<li>
									<a href="./language_center/liudeoubiaokecheng.html"
									   class="subdirectories04">留德欧标课程</a>
								</li>
								<li>
									<a href="./language_center/translation.html" class="subdirectories04">翻译服务</a>
								</li>
								<li>
									<a href="./language_center/interestGermany.html" class="subdirectories04">趣味德国</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="./aboutUs/centeroverview.html" class="li-cate_a">关于我们</a>
							<ul class="sub-menu">
								<li>
									<a href="./aboutUs/organization.html" class="subdirectories05">组织架构</a>
								</li>
								<li>
									<a href="./aboutUs/fazhanlicheng.html" class="subdirectories05">发展历程</a>
								</li>
								<li>
									<a href="./aboutUs/contactUs.html" class="subdirectories05">联系我们</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!--Mask-->
	<div id="mask"></div>
</div>

<div style="min-height: 500px;width: 100%">

</div>

<footer id="myFooter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 myFooter_div">
				<a href="index.html" class="myFooter_logo" title="中德科技">
					<img class="myFooter_div_logo" src="../static/imgs/logoFooter.png" alt="">
				</a>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 myFooter_divs">
				<div>
					<p><i class="fa fa-phone"></i>手机：18728871721</p>
					<p><i class="fa fa-volume-control-phone"></i>座机：0833-2595989</p>
					<p><i class="fa fa-envelope-o"></i>邮箱：lszdkc@163.com</p>
				</div>
				<div>
					<p><i class="fa fa-map-marker"></i>地址:四川省乐山市高新区安港路489号高新孵化园A园9楼910</p>
					<p style="width: 100%;"><i class="fa fa-clock-o"></i>开放时间：周一至周五 9:00-17:00</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 myFooter_div weixingongzhonghao_div">
				<img class="weixingongzhonghao" src="../static/imgs/weixingongzhonghao.jpg" alt="">
				<br><br>
				<p>微信公众号</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 myFooter_div_more">
				<p>
					<i class="fa fa-paper-plane-o"></i>友情链接
				</p>
				<p>
					<a target="_blank" href="https://www.swjtu.edu.cn/">西南交大</a>
				</p>
				<p>
					<a target="_blank" href="http://gxq.leshan.gov.cn/">乐山高新区</a>
				</p>

				<p>
					<a target="_blank" href="https://www.Goethe.de/ins/cn/zh/index.html">歌德学院</a>
				</p>
				<p>
					<a target="_blank" href="https://www.hochschulkompass.de/home.html">德国高校指南</a>
				</p>
				<p>
					<a target="_blank" href="http://www.sinogermanscience.org.cn/cn/index.html">中德科学中心</a>
				</p>
				<p>
					<a target="_blank" href="https://www.vdi.eu/">德国工程师协会</a>
				</p>
				<p>
					<a target="_blank" href="http://www.che-ranking.de/cms/?getObject=613&getLang=en">德国大学专业评估( CHE
						)</a>
				</p>
				<p>
					<a target="_blank" href="https://www.daad.org.cn/zh/">德意志学术交流中心( DAAD )</a>
				</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
				<p>版权所有四川中德科技促进中心 <a target="_blank" href="http://www.beian.miit.gov.cn">蜀ICP备19034889号</a></p>
				<p style="margin-top: 8px;">Copyright© 2019 China-germany science and technology promotion center.All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
