<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Über uns</title>
	<link href="../static/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/css/german/layout.css">
	<link rel="stylesheet" type="text/css" href="../static/css/german/elements.css">
	<link rel="stylesheet" type="text/css" href="../static/css/german/shortcode.css">
	<link rel="stylesheet" type="text/css" href="../static/css/german/extra.css">
	<link rel="stylesheet" type="text/css" href="../static/css/german/responsive.css">
	<script src="../static/js/jquery-3.4.1.js"></script>
	<script src="../static/js/bootstrap.js"></script>
	<script src="../static/js/german/skrollr.min.js"></script>
	<script src="../static/js/german/main.js"></script>
	<style type="text/css">
		* {
			margin: 0 auto;
			padding: 0;
			font-family: Arial Unicode MS, serif;
		}

		.german_title {
			margin-bottom: 30px;
			width: 100%;
			z-index: 1025;
			height: 50px;
			opacity: 0.8;
			position: fixed;
			background-color: #1E89DF;
		}

		.german_title .language {
			color: white;
			font-size: 1em;
		}

		.german_title .language a {
			color: #dddddd;
			font-weight: bolder;
			text-decoration: none;
			line-height: 50px;
		}

		.german_title .language .deutsch {
			color: white;
		}

		.german_title .language a:hover {
			color: white;
		}

		.service-desc {
			font-size: 1.2em;
		}

		.page-content .title-shape{
			animation: myfirst 2s linear 1s infinite alternate;
		}

		@keyframes myfirst {
			0% {
				top: 0px;
			}
			25% {
				top: 20px;
			}
			50% {
				top: 40px;
			}
			75% {
				top: 20px;
			}
			100% {
				top: 0px;
			}
		}

		.footer{
			background: url("../static/imgs/german/info01.png");
			background-size: cover;
			background-position-y: 50%;
		}
		.footer .footer_info {
			padding: 20px;
			background-color: #1E89DF;
			text-align: center;
			opacity: 0.9;
		}
		.footer .footer_info p{
			letter-spacing: 1px;
			line-height: 1.5em;
			font-size: 1.2em;
			color: white;
		}

	</style>
</head>
<body class="sticky-enable home-1">

<header>
	<div class="container-fluid german_title">
		<div class="row">
			<div class="col-md-12">
				<div class="language">
					<a href="./index.html" class="chinese">中文版</a> |
					<a href="./german.html" class="deutsch">Deutsch</a>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="pagewrap" class="pagewrap" style="padding-top: 50px;">
	<div id="html-content" class="wrapper-content">
		<div class="page-container">
			<!-- page heading-->
			<div class="page-heading page-about large light"
				 style="background-image: url(../static/imgs/german/background_img.png);">
				<div class="container">
					<div class="title-wrapper">
						<div data-top="transform: translateY(0px);opacity:1;"
							 data--120-top="transform: translateY(-30px);opacity:0;"
							 data-anchor-target=".page-heading"
							 class="title">China-Deutschland Technikförderungsinstitut in Leshan
							<div class="title-shape"><span class="shape"></span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="page-content">
				<!-- infor-->
				<section style="background: url(../static/imgs/german/info01.png); background-size: cover;">
					<div class="container" style="padding-top: 50px;padding-bottom: 100px;">
						<div class="swin-sc swin-sc-title style-01 text-center dark">
							<h3 class="main-title title dark">Über uns</h3>
							<div class="title-shape"><span class="shape"></span></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="text-description">
									<p style="font-size: 1.6em;word-break:break-all;">
										China-Deutschland Technikförderungsinstitut in Sichuan(Leshan), das High-Tech
										Industrial Development Zone in Leshan, Southwest Jiaotong Universität und
										Ostfalia Hochschule für angewandte Wissenschaften offiziell im Juli 2019
										gründeten, ist ein Plattform für den Austausch und der Kooperation von der
										Universitäten, Unternehmen, Forschungsinstitute, Regierungsbehörden usw.
										zwischen Deutschland und China.
									</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="swin-sc swin-sc-image left">
									<div class="wrap-img"><img src="../static/imgs/german/info06.JPG" alt=""
															   class="img img-responsive"></div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12" style="margin-top: 50px;">
								<div class="text-description">
									<p style="font-size: 1.6em;word-break:break-all;">
										Wir haben , Sprachenzentrum, College-Dienstzentrum, Unternehmendienstzentrum und
										Kulturzentrum. Aufgrund des Plans „Industry 4.0“ und „Made in China 2025“
										hinzielen wir darauf, um der Austausch und die Kooperation zwischen China und
										Deutschland in den Bereichen Wissenschaft und Technologie, Erziehung, Wirtschaft
										und Kultur usw. zu fördern.
									</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-12" style="margin-top: 50px;">
								<div class="swin-sc swin-sc-image left">
									<div class="wrap-img"><img src="../static/imgs/german/info07.JPG" alt=""
															   class="img img-responsive"></div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="container" style="padding-bottom: 150px;">
						<div class="swin-sc swin-sc-title style-01 text-center dark">
							<div class="title-shape"><span class="shape"></span></div>
						</div>
					</div>
					<div class="container">
						<div class="swin-sc swin-sc-blog-grid">
							<div class="row">
								<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
									<div class="blog-item">
										<div class="blog-item-featured">
											<div class="blog-featured-img">
												<a href="javascript:void (0)">
													<img width="100%" src="../static/imgs/german/dishangfang.png"
														 alt="" class="img img-responsive">
												</a>
											</div>
											<div class="blog-meta-info"><span class="blog-meta-base"></span>
												<div class="blog-date builday_style"></div>
											</div>
										</div>
										<div class="blog-content">
											<h3 class="blog-title" style="text-align: center">
												Unterzeichnungszeremonie</h3>
										</div>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
									<div class="blog-item">
										<div class="blog-item-featured">
											<div class="blog-featured-img">
												<a href="javascript:void (0)">
													<img width="100%" src="../static/imgs/german/zuzhijiagou.png"
														 alt="" class="img img-responsive">
												</a>
											</div>
											<div class="blog-meta-info"><span class="blog-meta-base"></span>
												<div class="blog-date builday_style"></div>
											</div>
										</div>
										<div class="blog-content">
											<h3 class="blog-title" style="text-align: center">Organisationsstruktur</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="container" style="padding-bottom: 100px;">
						<div class="swin-sc swin-sc-title style-01 text-center dark">
							<div class="title-shape"><span class="shape"></span></div>
						</div>
					</div>
					<div class="container" style="padding-bottom: 100px">
						<div class="swin-sc swin-sc-service-list builday-mtop80">
							<div class="service-item item row">
								<div class="service-item-inner col-md-12">
									<div class="service-image">
										<div class="box-wrap">
											<img width="1200" height="800" src="../static/imgs/german/info01.png"
												 alt="" class="img img-responsive swin-transition"></div>
									</div>
									<div class="service-info">
										<img src="../static/imgs/german/tubiao01.png" alt="" class="icon">
										<h4 class="service-heading">
											<a href="javascript:void (0)">Tanlentzentrum</a>
										</h4>
										<div class="service-desc">
											Wir suchen nach mehr Talenten in Deutschland, um Kontakte zu Unternehmen,
											Hochschulen usw. sowie zum Austausch und zu anderen Aktivitäten zu knüpfen.
										</div>
									</div>
								</div>
							</div>
							<div class="service-item item row">
								<div class="service-item-inner col-md-12">
									<div class="service-image">
										<div class="box-wrap">
											<img width="1200" height="800"
												 src="../static/imgs/german/info02.png"
												 alt="" class="img img-responsive swin-transition"></div>
									</div>
									<div class="service-info">
										<img src="../static/imgs/german/tubiao02.png" alt="" class="icon">
										<h4 class="service-heading">
											<a href="javascript:void (0)">Sprachenzentrum</a>
										</h4>
										<div class="service-desc">
											Als Eckpfeiler entwickelt das Sprachenzentrum deutschsprachige Talente in
											China und bietet Chinesischkurse in künftigen Deutschland an. Darüber hinaus
											wird das Sprachenzentrum mit Deutschland zusammenarbeiten, um Studienreisen
											und Auslandsaufenthalte durchzuführen.
										</div>
									</div>
								</div>
							</div>
							<div class="service-item item row">
								<div class="service-item-inner col-md-12">
									<div class="service-image">
										<div class="box-wrap">
											<img width="1200" height="800"
												 src="../static/imgs/german/info03.png"
												 alt="" class="img img-responsive swin-transition"></div>
									</div>
									<div class="service-info">
										<img src="../static/imgs/german/tubiao03.png" alt="" class="icon">
										<h4 class="service-heading">
											<a href="javascript:void (0)">Collegedienstzentrum</a>
										</h4>
										<div class="service-desc">
											Das Collegedienstzentrum wird einen Austausch und eine Zusammenarbeit mit
											Deutschland in den Bereichen Bildung, Wissenschaft, Technologie und Kultur
											usw. durchführen, beispielsweise den Aufbau einer dualen Ausbildung in China
											und das Chinesisch-Deutsche College.
										</div>
									</div>
								</div>
							</div>
							<div class="service-item item row">
								<div class="service-item-inner col-md-12">
									<div class="service-image">
										<div class="box-wrap">
											<img width="1200" height="800"
												 src="../static/imgs/german/info04.png"
												 alt="" class="img img-responsive swin-transition"></div>
									</div>
									<div class="service-info">
										<img src="../static/imgs/german/tubiao04.png" alt="" class="icon">
										<h4 class="service-heading">
											<a href="javascript:void (0)">Unternehmensdienstzentrum</a>
										</h4>
										<div class="service-desc">
											Das Unternehmensdienstzentrum bieten Kooperationskanäle für chinesische und
											deutsche Unternehmen, z. B. Investitionen, Finanzierung, Firmabesuche und
											Transformation von Ergebnissen.
										</div>
									</div>
								</div>
							</div>
							<div class="service-item item row">
								<div class="service-item-inner col-md-12">
									<div class="service-image">
										<div class="box-wrap">
											<img width="1200" height="800"
												 src="../static/imgs/german/info05.png"
												 alt="" class="img img-responsive swin-transition"></div>
									</div>
									<div class="service-info">
										<img src="../static/imgs/german/tubiao05.png" alt="" class="icon">
										<h4 class="service-heading">
											<a href="javascript:void (0)">Kulturzentrum</a>
										</h4>
										<div class="service-desc">
											Das Kulturzentrum führt die kulturellen Austausch zwischen China und
											Deutschland durch, beispielsweise Deutsche Sprachecke.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</section>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="container-fluid footer">
		<div class="row">
			<div class="col-md-12 footer_info">
				<p>Bei Interesse nehmen Sie bitte Kontakt mit uns auf</p>
				<p>Tel-Nr：01748295026</p>
				<p>Email：wang.zhaolin324@gmail.com</p>
			</div>
		</div>
	</div>
</footer>

<a id="totop" href="#" class="animated zoomIn"><i class="fa fa-angle-up"></i></a>

</body>
</html>
