<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>中德科技</title>
	<link rel="shortcut icon" type="images/x-icon" href="../static/imgs/logoIcon.png">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/font-awesome.css"/>
	<link type="text/css" rel="stylesheet" href="../static/css/header.css"/>
	<link type="text/css" rel="stylesheet" href="../static/css/footer.css"/>
	<link type="text/css" rel="stylesheet" href="../static/css/index/index.css">
	<link type="text/css" rel="stylesheet" href="../static/css/index/publish.min.css">
	<link type="text/css" rel="stylesheet" href="../static/css/index/clientlibs.min.css">
	<link type="text/css" rel="stylesheet" href="../static/css/banner.css">
	<script type="text/javascript" src="../static/js/common.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../static/js/header.js"></script>
	<script type="text/javascript" src="../static/js/publish.min.js"></script>
	<script type="text/javascript" src="../static/js/clientlibs.min.js"></script>
	<script type="text/javascript" src="../static/js/banner/bdtxk7.js"></script>
	<script type="text/javascript" src="../static/js/banner/slider.js"></script>
	<script type="text/javascript" src="../static/js/banner/jquery.iosslider.js"></script>
</head>
<body>

<div id="title">
	<!--languageSearch-->
	<div class="languageSearch">
		<!--Language-->
		<div class="language">
			<a href="./index.html" class="chinese">中文版</a> |
			<a href="./german.html" class="deutsch">Deutsch</a>
		</div>
		<!--time-->
		<div class="time">
			<p id="times"></p>
		</div>
		<!--Search-->
		<div class="searchDiv">
			<form action="">
				<input type="text" class="search_input" placeholder="请输入关键词">
				<a href="javascript:;" class="search_a" id="search_a">
					<i class="fa fa-search"></i>
				</a>
			</form>
		</div>
	</div>
	<header class="header" id="header">
		<div class="h-fix">
			<div class="containers">
				<!--LoGo-->
				<div class="logo">
					<a href="../templates/index.html" title="中德科技">
						<img src="../static/imgs/logo.png" alt="中德科技" title="中德科技" class="logo_icon"/>
					</a>
				</div>
				<!--BarsIcon-->
				<div id="m-btn" class="m-btn">
					<i class="fa fa-bars"></i>
				</div>
				<!--Nav-->
				<nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
					<ul class="nav">
						<li class="li-cate-1 active">
							<a href="./index.html" class="li-cate_a">首页</a>
						</li>
						<li class="li-cate-1">
							<a href="./newsactivity/news_list.html" class="li-cate_a">新闻动态</a>
						</li>
						<li class="li-cate-1">
							<a href="./newsactivity/activity_list.html" class="li-cate_a">活动计划</a>
						</li>
						<li class="li-cate-1">
							<a href="./scientificcooperation/technology-platform.html" class="li-cate_a">合作资源</a>
						</li>
						<li class="li-cate-1">
							<a href="./scientificcooperation/scientific-cooperation.html" class="li-cate_a">中德科技合作</a>
						</li>
						<li class="li-cate-1">
							<a href="./china_education/zhongdejiaoyuhezuo.html" class="li-cate_a">中德教育合作</a>
							<ul class="sub-menu">
								<li>
									<a href="./china_education/liuxue.html" class="subdirectories02">留学服务</a>
								</li>
								<li>
									<a href="./china_education/youxue.html" class="subdirectories02">游学访问</a>
								</li>
								<li>
									<a href="./china_education/zhongdexueyuan.html" class="subdirectories02">中德学院建设</a>
								</li>
								<li>
									<a href="./china_education/shuangyuanzhiidaxue.html" class="subdirectories02">双元制大学建设</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="./cooperative_enterprise/zdcooperative_enterprise.html"
							   class="li-cate_a">中德企业合作</a>
							<ul class="sub-menu">
								<li>
									<a href="./cooperative_enterprise/enterprise_inspection.html"
									   class="subdirectories03">企业考察</a>
								</li>
								<li>
									<a href="./cooperative_enterprise/investment_advisory.html"
									   class="subdirectories03">投资咨询</a>
								</li>
								<li>
									<a href="./cooperative_enterprise/successful_conversion.html"
									   class="subdirectories03">成果转化</a>
								</li>
								<li>
									<a href="./cooperative_enterprise/technical_service.html" class="subdirectories03">技术服务</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="./language_center/language_center.html" class="li-cate_a">语言中心</a>
							<ul class="sub-menu">
								<li>
									<a href="./language_center/shangwudeyu.html" class="subdirectories04">商务德语课程</a>
								</li>
								<li>
									<a href="./language_center/qingshaoniandeyu.html"
									   class="subdirectories04">青少年德语课程</a>
								</li>
								<li>
									<a href="./language_center/liudeoubiaokecheng.html"
									   class="subdirectories04">留德欧标课程</a>
								</li>
								<li>
									<a href="./language_center/translation.html" class="subdirectories04">翻译服务</a>
								</li>
								<li>
									<a href="./language_center/interestGermany.html" class="subdirectories04">趣味德国</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="./aboutUs/centeroverview.html" class="li-cate_a">关于我们</a>
							<ul class="sub-menu">
								<li>
									<a href="./aboutUs/organization.html" class="subdirectories05">组织架构</a>
								</li>
								<li>
									<a href="./aboutUs/fazhanlicheng.html" class="subdirectories05">发展历程</a>
								</li>
								<li>
									<a href="./aboutUs/contactUs.html" class="subdirectories05">联系我们</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!--Mask-->
	<div id="mask"></div>
</div>

<section id="content">
	<!--banner1-->
	<div class="iosSliderDemo banner1" style="overflow: hidden">
		<div class="fluidHeight">
			<div class="sliderContainer">
				<div class="iosSlider"
					 style="position: relative; top: 0; left: 0; overflow: hidden; z-index: 1; perspective: 1000px;
					 backface-visibility: hidden; width: 1579px; height: 462px;">
					<div class="slider" style="position: relative; cursor: -webkit-grab; backface-visibility: hidden;
					transform: matrix(1, 0, 0, 1, -16560, 0); width: 8280px;">
						<div class="item">
							<div class="inner">
								<a href="javascript:void (0)"
								   style="background:url(./banner01.jpg) no-repeat center;background-size: cover;"></a>
								<div class="text1" style=""><span>德国模式--民营中小企业的学习典范</span></div>
							</div>
						</div>
						<div class="item">
							<div class="inner">
								<a href="javascript:void (0)"
								   style="background:url(../static/imgs/china_education/shuangyuanzhi02.png) no-repeat center;background-size: cover;"></a>
								<div class="text1" style=""><span>双元制大学</span></div>
							</div>
						</div>
						<div class="item">
							<div class="inner">
								<a href="javascript:void (0)"
								   style="background:url(../static/imgs/background_img.jpg) no-repeat center;background-size: cover;"></a>
								<div class="text1" style=""><span>科研合作</span></div>
							</div>
						</div>
						<div class="item">
							<div class="inner">
								<a href="javascript:void (0)"
								   style="background:url(../static/imgs/banner/product1.jpg) no-repeat center;background-size: cover;"></a>
								<div class="text1" style=""><span>成果转化</span></div>
							</div>
						</div>
						<div class="item">
							<div class="inner">
								<a href="javascript:void (0)"
								   style="background:url(../static/imgs/banner/yuyan.png) no-repeat center;background-size: cover;"></a>
								<div class="text1" style=""><span>为什么要学德语</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="slideSelectors">
					<div class="prev"></div>
					<div class="slideSelectorsa">
						<a class="item selected" onfocus="undefined"></a>
						<a class="item" onfocus="undefined"></a>
						<a class="item" onfocus="undefined"></a>
						<a class="item" onfocus="undefined"></a>
						<a class="item" onfocus="undefined"></a>
					</div>
					<div class="next"></div>
				</div>
				<div class="leftbg"></div>
				<div class="rightbg"></div>
			</div>
		</div>
	</div>
	<!--banner2-->
	<div id="carousel-example-generic" class="carousel slide banner2" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="img-responsive center-block" src="../static/imgs/invertment_text/invertment_text5.jpg"
					 alt="">
				<div class="carousel-caption">
					<p>德国模式--民营中小企业的学习典范</p>
				</div>
			</div>
			<div class="item">
				<img class="img-responsive center-block"
					 src="../static/imgs/china_education/shuangyuanzhi02.png" alt="">
				<div class="carousel-caption">
					<p>双元制大学</p>
				</div>
			</div>
			<div class="item">
				<img class="img-responsive center-block" src="../static/imgs/background_img.jpg" alt="">
				<div class="carousel-caption">
					<p>科研合作</p>
				</div>
			</div>
			<div class="item">
				<img class="img-responsive center-block" src="../static/imgs/banner/product1.jpg" alt="">
				<div class="carousel-caption">
					<p>成果转化</p>
				</div>
			</div>
			<div class="item">
				<img class="img-responsive center-block" src="../static/imgs/banner/yuyan.png" alt="">
				<div class="carousel-caption">
					<p>为什么要学德语</p>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!--新闻-->
	<div class="container-fluid" style="padding: 60px 0;">
		<div class="topicnews__base" data-component="topicnews">
			<div class="topicnews__header">
				<h2 class="topicnews__headline font--bold">热点新闻</h2>
				<a href="./newsactivity/news_list.html" class="topicnews__link">
                    <span class="glyphicon-menu-right glyphicon">
                        <span>更多</span>
                  </span>
				</a>
			</div>
			<div class="slider topicnews__slider">
				<div class="newsteaser__base newsteaser--large">
					<div class="newsteaser__wrapper">
						<a href="./cooperative_enterprise/enterprise_inspection.html">
							<div class="newsteaser__imageBlock newsteaser__imageBlock--large">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../static/imgs/invertment_text/invertment_text5.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">企业考察</h3>
										<div class="newsteaser__info">
											德国模式--民营中小企业的学习典范
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="china_education/shuangyuanzhiidaxue.html">
							<div class="newsteaser__imageBlock">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../static/imgs/china_education/shuangyuanzhi01.png" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">双元制大学</h3>
										<div class="newsteaser__info">
											在德国，有一种新型的高等教育机构——双元制大学（Duale
											Hochschule）。该大学有着自己独树一帜的办学特色，在德国深得学生和就业单位的认可，其生源质量不仅堪与综合性大学相媲美，就业率也高于应用科学大学。
											为什么会有如此完美无缺的大学呢？
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="scientificcooperation/scientific-cooperation.html" class="#">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../static/imgs/keyan.png" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">中德科技合作</h3>
										<div class="newsteaser__info">
											如今随着科研的不断深入，对单一专业领域的科研也就达到了瓶颈。
											随之而来的是，针对跨学科领域的科研逐渐地炙手可热。然而现今的学科高难又复杂，往往专精一项领域就没有时间和精力去研究另一门领域。而高端的跨领域人才也十分奇缺。因此，如何去研究跨学科领域成为了当今世上的一大难题。而通过科研合作，即可携手共进，完成跨领域研究。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="cooperative_enterprise/successful_conversion.html">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../static/imgs/invertment_text/product1.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">成果转化</h3>
										<div class="newsteaser__info">
											（已转化）中车广机公司100%低地板有轨电车转向架开发
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="language_center/weishenme.html">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../static/imgs/Language_center/yuyan.png" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">为什么学德语</h3>
										<div class="newsteaser__info">
											德语是著有《浮士德》的著名诗人歌德的语言。是了不起的音乐家莫扎特、巴赫、贝多芬的语言。是建设相对论“大厦”的科学家爱因斯坦的语言。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer id="myFooter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 myFooter_div">
				<a href="./index.html" class="myFooter_logo" title="中德科技">
					<img class="myFooter_div_logo" src="../static/imgs/logoxlwm.png" alt="">
				</a>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 myFooter_divs">
				<div>
					<p><i class="fa fa-phone"></i>手机：18384651575</p>
					<p><i class="fa fa-volume-control-phone"></i>座机：0833-2595989</p>
					<p><i class="fa fa-envelope-o"></i>邮箱：lszdkc@163.com</p>
				</div>
				<div>
					<p><i class="fa fa-map-marker"></i>地址:四川省乐山市高新区安港路489号高新孵化园A园9楼910</p>
					<p style="width: 100%;"><i class="fa fa-clock-o"></i>开放时间：周一至周五 9:00-17:00</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 myFooter_div weixingongzhonghao_div">
				<img class="weixingongzhonghao" src="../static/imgs/footer/weixingongzhonghao.jpg" alt="">
				<br><br>
				<p>微信公众号</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 myFooter_div_more">
				<p>
					<i class="fa fa-paper-plane-o"></i>友情链接
				</p>
				<p>
					<a target="_blank" href="https://www.swjtu.edu.cn/">西南交大</a>
				</p>
				<p>
					<a target="_blank" href="http://gxq.leshan.gov.cn/">乐山高新区</a>
				</p>

				<p>
					<a target="_blank" href="https://www.Goethe.de/ins/cn/zh/index.html">歌德学院</a>
				</p>
				<p>
					<a target="_blank" href="https://www.hochschulkompass.de/home.html">德国高校指南</a>
				</p>
				<p>
					<a target="_blank" href="http://www.sinogermanscience.org.cn/cn/index.html">中德科学中心</a>
				</p>
				<p>
					<a target="_blank" href="https://www.vdi.eu/">德国工程师协会</a>
				</p>
				<p>
					<a target="_blank" href="http://www.che-ranking.de/cms/?getObject=613&getLang=en">德国大学专业评估( CHE
						)</a>
				</p>
				<p>
					<a target="_blank" href="https://www.daad.org.cn/zh/">德意志学术交流中心( DAAD )</a>
				</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
				<p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
				<p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
			</div>
		</div>
	</div>
</footer>

<!--<script>
	$(function () {
		//Search
		$(".search_a").click(function () {
			var search = $(".search_input").val();
			if (search !== "") {
				location.href = "./search_details_page.html?search=" + search;
			} else {
				alert("请输入关键词");
			}
		});
		//Banner
		const url = 'http://106.52.3.235:8888/';
		$.ajax({
			type: "GET",
			url: url + "banner/list",
			dataType: "json",
			success: function (data) {
				for (let i = 0; i < data.data.length; i++) {
					//banner1
					$(".slider .inner a").eq(i).css("background", "url(" + url + data.data[i].img + ") no-repeat center");
					$(".slider .inner span").eq(i).html(data.data[i].descrip);
					//banner2
					$(".carousel-inner .item img").eq(i).attr("src", data.data[i].img);
					$(".carousel-inner .item .carousel-caption p").eq(i).html(data.data[i].descrip);
				}
			},
			error: function () {
				alert("服务器繁忙，请稍后再试！");
			}
		});
		//News
		$.ajax({
			type: "GET",
			url: url + "news/topic",
			dataType: "json",
			success: function (data) {
				for (let i = 0; i < data.data.length; i++) {

				}
			},
			error: function () {
				alert("服务器繁忙，请稍后再试！");
			}
		});
		//新闻跳转
		for (let i = 0; i < $(".newsteaser__wrapper a").length; i++) {
			$(".newsteaser__wrapper a").click(function () {
				$(".newsteaser__wrapper a").attr("href","./cooperative_enterprise/enterprise_inspection.html");
			})
		}
	});
</script>-->

</body>
</html>
