<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/index/index.css">
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/header.js"></script>
</head>
<body>

<div id="title">
    <!--languageSearch-->
    <div class="languageSearch" style="opacity: 0.9">
        <!--Language-->
        <div class="language">
            <a href="#" class="chinese">中文版</a> |
            <a href="#" class="deutsch">Deutsch</a>
        </div>
        <!--Search-->
        <div class="searchDiv">
            <form action="">
                <input type="text" class="search_input" placeholder="请输入搜索词">
                <a href="#" class="search_a">
                    <i class="fa fa-search"></i>
                </a>
            </form>
        </div>
    </div>
    <header class="header" id="header" style="opacity: 0.9">
        <div class="h-fix">
            <div class="containers">
                <!--LoGo-->
                <div class="logo">
                    <a href="#" title="中德科技">
                        <img src="../static/imgs/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
                    </a>
                </div>
                <!--BarsIcon-->
                <div id="m-btn" class="m-btn">
                    <i class="fa fa-bars"></i>
                </div>
                <!--Nav-->
                <nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
                    <ul class="nav">
                        <li class="li-cate-1 active">
                            <a href="./index.html">首页</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">新闻活动</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德科技合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">科研合作</a>
                                </li>
                                <li>
                                    <a href="#">科技支撑平台</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德教育合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">留学服务</a>
                                </li>
                                <li>
                                    <a href="#">游学访问</a>
                                </li>
                                <li>
                                    <a href="#">中德学校合作</a>
                                </li>
                                <li>
                                    <a href="#">中德学院</a>
                                </li>
                                <li>
                                    <a href="#">双元制大学</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德企业合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">企业考察</a>
                                </li>
                                <li>
                                    <a href="#">投资咨询</a>
                                </li>
                                <li>
                                    <a href="#">技术对接</a>
                                </li>
                                <li>
                                    <a href="#">成果转化</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">语言中心</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">商务德语课程</a>
                                </li>
                                <li>
                                    <a href="#">青少年德语课程</a>
                                </li>
                                <li>
                                    <a href="#">留德欧标课程</a>
                                </li>
                                <li>
                                    <a href="#">翻译服务</a>
                                </li>
                                <li>
                                    <a href="#">趣味德国</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">关于我们</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="./aboutUs/centeroverview.html">中心概况</a>
                                </li>
                                <li>
                                    <a href="./aboutUs/organization.html">组织架构</a>
                                </li>
                                <li>
                                    <a href="#">发展历程</a>
                                </li>
                                <li>
                                    <a href="#">发展目标</a>
                                </li>
                                <li>
                                    <a href="./aboutUs/contactUs.html">联系我们</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--Mask-->
    <div id="mask"></div>
</div>

<!--banner-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../static/imgs/index/banner1.png" alt="..." width="100%">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="../static/imgs/index/banner2.png" alt="..." width="100%">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="../static/imgs/index/banner3.png" alt="..." width="100%">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="../static/imgs/index/banner3.png" alt="..." width="100%">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="../static/imgs/index/banner3.png" alt="..." width="100%">
            <div class="carousel-caption">

            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--新闻-->
<section>
<div class="container">
    <div class="row" style="padding: 30px">

    </div>
    <div class="row ">
            <p class=" col-md-2   col-xs-5 ziti" style="">新闻活动</p>
    </div>
    <div class="row" style="height: 200px">
            <div class="row">
                <div class="col-md-8 col-xs-12 bgimg"  >
                        <h3  style="color: white;font-size: 2em;margin-top: 230px;margin-bottom: 30px">博大精深 同心致远
                        </h3>
                    <p  style="color: white;font-size:1em;margin-bottom: 30px">西门子的解决方案正在支持中国转型升级。西门子将电气化、
                        自动化、数字化的力量融入各行各业，以前所未见的高度、速度、精度和深度，
                        让关键所在，逐一实现。有一种力量，正在支持我们前行，源于博大精深，同心致远。</p>
                </div>
                <div class="col-md-4 col-xs-12" >
                    <img src="../static/imgs/index/new2.jpg" width="500px" alt="" />
                    <p  style="font-size: 2em;margin-left: 8px">
                        打造新能源汽车“世界名片”
                    </p>
                    <p  style="font-size:0.7em;width:500px;margin-left: 10px">
                        应用西门子软硬件一体的数字化企业解决方案，以及专用于汽车行业的Si-car标准。
                        帮助北汽新能源在青岛打造了北汽集团首个实现新能源汽车量产的生产基地。成就标杆性的
                        新能源汽车数字化工厂...
                    </p>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4 col-xs-12" >
                <img src="../static/imgs/index/new3.jpg" width="350px" alt="" />
                <p  style="font-size: 2em;margin-left: 8px">
                    木屋与歌声
                </p>
                <p  style="font-size:0.7em;width:500px;margin-left: 10px">
                    西门子助力传统村落推进电气安全改造
                </p>
            </div>
            <div class="col-md-4 col-xs-12" >
                <img src="../static/imgs/index/new4.jpg" width="350px" alt="" />
                <p  style="font-size: 2em;margin-left: 8px">
                    用智能制造“撩动”航天飞船的“神经”
                </p>
                <p  style="font-size:0.7em;width:500px;margin-left: 10px">
                    航天电器携手西门子、航天云网共同打造精密电子元器件行 <br/>
                    业全球首个基于工业互联网平台，具有云制造能力的智能制造样板间。
                </p>
            </div>
            <div class="col-md-4 col-xs-12" >
                <img src="../static/imgs/index/new5.jpg" width="350px" alt="" />
                <p  style="font-size: 2em;margin-left: 8px">
                    来自中国的西伯利亚掘金者
                </p>
                <p  style="font-size:0.7em;width:500px;margin-left: 10px">
                    西门子助力太原重工股份有限公司采掘俄罗斯最大露天金矿。
                </p>
            </div>
        </div>
    </div>
</div>
</section>
<footer>
    <div class="footer" style="color: #999999;font-size: 1rem;padding: 15px;text-align: center;background-color: #2C2C2C;">
        <p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
        <p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
    </div>
</footer>

<footer th:replace="fragments :: footer" >
</footer>
<th:block th:replace="fragments :: script">
</th:block>
</body>
</html>
