<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cbFlyout.js"></script>
    <link rel="stylesheet" href="../static/css/index.css"  th:href="@{/css/index.css}">
</head>

<body>
<div th:replace="fragments :: menu">
</div>
    <img width="100%" height="700px" src="../static/imgs/1.jpg" th:src="@{/imgs/1.jpg}">

    <div class="container">
        <div class="row ">
            <div class="col-md-6 div-title-distance">
                <div><span class="font-title">新闻/</span>News</div>
                <div class="div-line"></div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>

            </div>

            <div class="col-md-6 div-title-distance">
                <div><span class="font-title">公告/</span>News</div>
                <div class="div-line"></div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxx
                    </div>
                </div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家；写作者 勋章墙</b></p>
                    <div class="font-content">
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </div>
                </div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 div-title-distance">
                <div><span class="font-title">科技中心/</span>News</div>
                <div class="div-line"></div>
                <div class="div-title-distance">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <img width="240px" height="160px" src="../static/imgs/timg.jpg" th:src="@{/imgs/timg.jpg}">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <img width="240px" height="160px" src="../static/imgs/timg.jpg"th:src="@{/imgs/timg.jpg} ">
                        </div>
                    </div>
                    <div class="row div-title-distance">
                        <div class="col-md-6 col-sm-6">
                            <img width="240px" height="160px" src="../static/imgs/timg.jpg" th:src="@{/imgs/timg.jpg}">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <img width="240px" height="160px" src="../static/imgs/timg.jpg"th:src="@{/imgs/timg.jpg}" >
                        </div>
                    </div>
                    <div class="row div-title-distance" >
                        <div class="col-md-6 col-sm-6">
                            <img width="240px" height="160px" src="../static/imgs/timg.jpg"th:src="@{/imgs/timg.jpg}" >
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-6 div-title-distance">
                <div><span class="font-title">德语培训/</span>Title</div>
                <div class="div-line"></div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
                <div class="div-title-distance">
                    <p><b class="font-title2">德国艺术家：写作者 勋章墙</b></p>
                    <div class="font-content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
            </div>

        </div>
    </div>


    <div style="margin-top: 200px;margin-bottom: 100px;position:relative">
        <div style="position: absolute;top: 50%;left: 50%;color: #ffffff;font-size: 30px;">留学游学</div>
        <p></p>
        <img  width="100%" height="200px" src="../static/imgs/timg.jpg" th:src="@{/imgs/timg.jpg}">
    </div>




    <div class="container div-title-distance" style="margin-bottom: 50px">
        <div class="row">
            <div class="col-md-4">
                <div class="div-youxue-lien">
                    <img class="center-block" width="100px" height="100px" src="../static/imgs/timg.jpg" th:src="@{/imgs/timg.jpg}">
                    <p class="font-img-title">企业留学</p>
                    <p class="font-img-content">xxxx xxxx</p>
                    <div  style="text-align: center">
                        <a href="#" class="bt-a">查看详情</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="div-youxue-lien">
                    <img class="center-block" width="100px" height="100px" src="../static/imgs/timg.jpg" th:src="@{/imgs/timg.jpg}">
                    <p class="font-img-title">企业游学</p>
                    <p class="font-img-content">xxxx xxxx</p>
                    <div  style="text-align: center">
                        <a href="#" class="bt-a">查看详情</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="div-youxue-lien">
                    <img class="center-block" width="100px" height="100px" src="../static/imgs/timg.jpg" th:src="@{/imgs/timg.jpg}">
                    <p class="font-img-title">敬请期待</p>
                    <p class="font-img-content">xxxx xxxx</p>
                    <div  style="text-align: center">
                        <a href="#" class="bt-a2">敬请期待</a>
                    </div>
                </div>


            </div>
        </div>
    </div>

<footer th:replace="fragments :: footer" >
</footer>

<th:block th:replace="fragments :: script">
</th:block>
</body>
</html>