<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>企业考察</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/china_education/liuxue.css">
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body>

<div id="title">
	<!--languageSearch-->
	<div class="languageSearch">
		<!--Language-->
		<div class="language">
			<a href="#" class="chinese">中文版</a> |
			<a href="#" class="deutsch">Deutsch</a>
		</div>
		<!--time-->
		<div class="time">
			<p id="times"></p>
		</div>
		<!--Search-->
		<div class="searchDiv">
			<form action="">
				<input type="text" class="search_input" placeholder="请输入搜索词">
				<a href="#" class="search_a">
					<i class="fa fa-search"></i>
				</a>
			</form>
		</div>
	</div>
	<header class="header" id="header">
		<div class="h-fix">
			<div class="containers">
				<!--LoGo-->
				<div class="logo">
					<a href="#" title="中德科技">
						<img src="http://106.52.3.235/zdkj/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
					</a>
				</div>
				<!--BarsIcon-->
				<div id="m-btn" class="m-btn">
					<i class="fa fa-bars"></i>
				</div>
				<!--Nav-->
				<nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
					<ul class="nav">
						<li class="li-cate-1">
							<a href="../index.html" class="li-cate_a">首页</a>
						</li>
						<li class="li-cate-1">
							<a href="../newsactivity/news.html" class="li-cate_a">新闻活动</a>
						</li>
						<li class="li-cate-1">
							<a href="../scientificcooperation/scientific-cooperation.html" class="li-cate_a">中德科技合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../scientificcooperation/keyanhezuo.html">科研合作</a>
								</li>
								<li>
									<a href="../scientificcooperation/technology-platform.html">科技支撑平台</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../china_education/zhongdejiaoyuhezuo.html" class="li-cate_a">中德教育合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../china_education/liuxue.html">留学服务</a>
								</li>
								<li>
									<a href="../china_education/youxue.html">游学访问</a>
								</li>
								<li>
									<a href="../china_education/zhongdexuexiaohezuo.html">中德学校合作</a>
								</li>
								<li>
									<a href="../china_education/zhongdexueyuan.html">中德学院</a>
								</li>
								<li>
									<a href="../china_education/shuangyuanzhiidaxue.html">双元制大学</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1 active">
							<a href="../cooperative_enterprise/zdcooperative_enterprise.html"
							   class="li-cate_a">中德企业合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../cooperative_enterprise/enterprise_inspection.html">企业考察</a>
								</li>
								<li>
									<a href="../cooperative_enterprise/investment_advisory.html">投资咨询</a>
								</li>
								<li>
									<a href="../cooperative_enterprise/technical_service.html">技术服务</a>
								</li>
								<li>
									<a href="../cooperative_enterprise/successful_conversion.html">成果转化</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../language_center/language_center.html" class="li-cate_a">语言中心</a>
							<ul class="sub-menu">
								<li>
									<a href="../language_center/shangwudeyu.html">商务德语课程</a>
								</li>
								<li>
									<a href="../language_center/qingshaoniandeyu.html">青少年德语课程</a>
								</li>
								<li>
									<a href="../language_center/liudeoubiaokecheng.html">留德欧标课程</a>
								</li>
								<li>
									<a href="../language_center/translation.html">翻译服务</a>
								</li>
								<li>
									<a href="../language_center/interestGermany.html">趣味德国</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../aboutUs/centeroverview.html" class="li-cate_a">关于我们</a>
							<ul class="sub-menu">
								<li>
									<a href="../aboutUs/organization.html">组织架构</a>
								</li>
								<li>
									<a href="../aboutUs/fazhanlicheng.html">发展历程</a>
								</li>
								<li>
									<a href="../aboutUs/developtarget.html">发展目标</a>
								</li>
								<li>
									<a href="../aboutUs/contactUs.html">联系我们</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!--Mask-->
	<div id="mask"></div>
</div>

<section>
	<!--banner-->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>

		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="../../static/imgs/index/banner1.png" alt="..." width="100%">
				<div class="carousel-caption">
					2019年被HS Ostfalia录取的5名学生
				</div>
			</div>
			<div class="item">
				<img src="../../static/imgs/index/banner2.png" alt="..." width="100%">
				<div class="carousel-caption">
					2019年被HS Ostfalia录取的5名学生
				</div>
			</div>
			<div class="item">
				<img src="../../static/imgs/index/banner3.png" alt="..." width="100%">
				<div class="carousel-caption">
					2019年被HS Ostfalia录取的5名学生
				</div>
			</div>

		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control"
		   style="border: 0.1px solid rgba(0, 0, 0, 0);background-color: rgba(0, 0, 0, 0) "
		   href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!--content-->
	<div class="container liuxues">
		<div class="row">
			<div class="col-md-12">
				<div class="sec-title">
					<h1>企业考察项目</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-12 liuxue_list">
				<a href="./investment_text/invertment_text_one.html" class="liuxue_list-a">
					<div class="col-md-6 liuxueDiv01">
						<img class="img-responsive center-block" src="../../static/imgs/invertment_text/invertment_text6.jpg" alt="">
						<h3>
							德国模式--民营中小企业的学习典范
						</h3>
					</div>
					<div class="col-md-6 liuxueDiv02">
						<p>
							自第二次工业革命以来，德国人在机械、电气、化工等领域逐渐崛起成为世界冠军，但就算是以西门子、
							大众、蒂森克虏伯、宝马等声名显赫的大企业为贸易基础，德国的经济总量在2018年也不过美国的五分之一，
							中国的四分之一，可是德国出口额高踞世界第二（1.547万亿美元，仅次于中国），哪些企业对此所作的贡献最大？
							是在各自所在的细分市场默默耕耘并且成为全球行业领袖的中小企业！
						</p>
						<p>
							他们成功背后的逻辑，就是他们对技术和研发的专注执着。例如德国COMPRION公司，
							专注于制造手机卡接口测试设备，员工不足50人，国际市场占有率却超过了90%。
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<footer id="myFooter">
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-lg-1 col-lg-offset-1 col-md-2 col-sm-6 col-md-3 myFooter_div">
				<a href="javascript:void (0)" class="myFooter_logo" title="中德科技">
					<img class="center-block myFooter_div_logo" src="../../static/imgs/footer/logo.png" alt="">
				</a>
			</div>
			<div class="col-lg-2 col-lg-offset-1 col-md-4 col-sm-6 col-md-3 myFooter_divs">
				<h5><i class="fa fa-phone"></i>联系方式</h5>
				<p>手机：18728871721</p>
				<p>座机：0833-2595989</p>
				<p>邮箱：lszdkc@163.com</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-md-3 myFooter_divs">
				<h5><i class="fa fa-map-marker"></i>地址</h5>
				<p>四川省乐山市高新区高新孵化园A区9楼901</p>
				<p>开放时间：周一至周五 9:00-17:00</p>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-md-3 myFooter_div">
				<img class="center-block weixingongzhonghao" src="../../static/imgs/footer/weixingongzhonghao.jpg"
					 alt="">
				<p>微信公众号</p>
			</div>
		</div>
		<div class="row footer-copyright">
			<div class="col-md-12">
				<p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
				<p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
