<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>企业考察</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/cooperative_enterprise/cooperative_enterprise.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
	<script>
		$(function () {$(".li-cate-1").eq(6).addClass("active");})
	</script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/background_img.jpg" width="100%" alt="">
		</div>
	</div>
	<div class="container zhongdejiaoyuhezuo">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 zhongdejiaoyuhezuo_title">
				<div class="subnav">
					<a href="./zdcooperative_enterprise.html" style="text-decoration: none;">
						<h3 style="margin: 0;">中德企业合作</h3>
					</a>
					<ul class="navcon">
						<li><i></i><a href="./zdcooperative_enterprise.html">简介</a></li>
						<li class="cur"><i></i><a href="./enterprise_inspection.html">企业考察</a></li>
						<li><i></i><a href="./investment_advisory.html">投资咨询</a></li>
						<li><i></i><a href="./successful_conversion.html">成果转化</a></li>
						<li><i></i><a href="./technical_service.html">技术服务</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 zhongdejiaoyuhezuo_info">
				<div class="article enterprise_inspection_info">
					<h3>企业考察</h3>
					<div class="art_con">
						<img class="img-responsive center-block" src="../../static/imgs/invertment_text/invertment_text1.jpg"
							 alt="">
						<p>
							自第二次工业革命以来，德国人在机械、电气、化工等领域逐渐崛起成为世界冠军。但就算是以西门子、大众、蒂森克虏伯、宝马等声名显赫的大企业为贸易基础，德国的经济总量在2018年也不过美国的五分之一，中国的四分之一。然而德国出口额竟然高踞世界第二（1.547万亿美元，仅次于中国），这是为什么呢？
						</p>
						<p>
							在德国有着这样的一种称呼，那就是隐形冠军。正是因为他们，这些在各自所在的领域里默默耕耘而成为全球行业领袖的德国中小企业！例如德国COMPRION公司，专注于制造手机卡接口测试设备，员工不足50人，国际市场占有率却超过了90%。
						</p>
						<img class="img-responsive center-block" src="../../static/imgs/invertment_text/invertment_text2.jpg"
							 alt="">
						<p>
							他们背后成功的秘诀，正是在于他们对技术和研发的专注和执着。再多的相关资料我相信您也能在网上找到，多说无益，不妨加入我们，与我们一同去探寻德国企业“隐形冠军”的秘密吧。
						</p>
						<p style="font-weight: bolder;">
							再多的相关资料我相信您也能在网上找到，多说无益，不妨加入我们，与我们一同去探寻德国企业“隐形冠军”的秘密吧！更多考察信息请<a style="text-decoration: none;" href="../aboutUs/contactUs.html">联系我们</a>。
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
