<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>投资咨询</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/scientificcooperation/keyanhezuo.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
    <script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section class="container-fluid" style="padding: 0">
    <!-- img  -->
    <div class="container-fluid">
        <div class="row">
            <img src="../../static/imgs/aboutUs/contactUs/about.png" class="img-responsive" width="100%" alt=""/>
        </div>
    </div>
    <!--content-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 investment_advisory">
                <div class="sec-title">
                    <h1>投 资 咨 询</h1>
                    <div class="border-shape"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 keyanhezuo_DivSon">
                <p>
                    本中心为中德两国的政府机构、院校、研究所和企业，在机械制造、
                    节能环保、汽车制造等专业领域，提供投融资与并购交易等全面的咨询服务。
                    本中心将站在客户的视角，对项目实施、技术等方案的可能性、有效性进行深入
                    细腻的论证分析，以及对能够产生的效益进行预测，进行相互比较以求得确定技术、经济合理的最优方案。
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 keyanhezuo_DivSon">
                <p style="text-align: center">
                   成功案例（缺资料）
                </p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>
</body>
</html>
