<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>投资咨询</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/cooperative_enterprise/cooperative_enterprise.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/cooperative_enterprise/qiyehezuohared.png" width="100%" alt="">
		</div>
	</div>
	<div class="container investment_advisory">
		<div class="row">
			<div class="col-md-10 col-md-offset-1" style="padding: 50px 0;">
				<div class="sec-title">
					<h1 class="commonality_title">投资咨询</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-10 col-md-offset-1 investment_advisory_info">
				<p>
					本中心为中德两国的政府机构、院校、研究所和企业，在机械制造、节能环保、汽车制造等专业领域，提供投融资与并购交易等全面的咨询服务。
				</p>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<br><br>
				<img class="img-responsive center-block inverImg"
					 src="../../static/imgs/scientificcooperation/peitu1.png" alt="">
			</div>
			<div class="col-md-10 col-md-offset-1 investment_advisory_info">
				<br><br><br>
				<p>
					本中心将站在客户的视角，对项目实施、技术等方案的可能性、有效性进行深入细腻的论证分析，以及对能够产生的效益进行预测，进行相互比较以求得确定技术、经济合理的最优方案。
				</p>
			</div>
			<div class="col-md-10 col-md-offset-1" style="padding-bottom: 50px;">
				<br><br>
				<p style="font-weight: bold;font-size: 1.2em;letter-spacing: 2px;">
					莱比锡地区合作企业品牌
				</p>
				<img class="img-responsive center-block inverImg"
					 src="../../static/imgs/scientificcooperation/peitu3.png">
				<br><br><br>
				<p style="text-align: center;font-weight: bold;font-size: 1.2em;">
					<a style="color: #333333;" href="../aboutUs/contactUs.html">更多详细内容请联系我们</a>
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>
</body>
</html>
