<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>成果转化</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/cooperative_enterprise/cooperative_enterprise.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/cooperative_enterprise/chenggouzhuanhua.png" width="100%" alt="">
		</div>
	</div>
	<div class="container zhongdejiaoyuhezuo">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 zhongdejiaoyuhezuo_title">
				<div class="subnav">
					<a href="./zdcooperative_enterprise.html" style="text-decoration: none;">
						<h3 style="margin: 0;">中德企业合作</h3>
					</a>
					<ul class="navcon">
						<li><i></i><a href="./zdcooperative_enterprise.html">简介</a></li>
						<li><i></i><a href="./enterprise_inspection.html">企业考察</a></li>
						<li><i></i><a href="./investment_advisory.html">投资咨询</a></li>
						<li class="cur"><i></i><a href="./successful_conversion.html">成果转化</a></li>
						<li><i></i><a href="./technical_service.html">技术服务</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 zhongdejiaoyuhezuo_info">
				<div class="article enterprise_inspection_info">
					<h3>成果转化</h3>
					<div class="art_con">
						<div class="row">
							<div class="col-md-12 successful_conversion_info" style="padding-bottom: 50px;">
								<p>
									自2008年毒奶粉事件以来，人们在使用本国产品的时候十分注重有无问题，而在使用“德国制造”的时候却放心得大胆使用。这是为什么呢？“德国制造”有着极高的质量和相当长的寿命。在这一点上“德国制造”就已经跑在世界的前列了。
								</p>
								<img class="img-responsive center-block" src="../../static/imgs/cooperative_enterprise/cgzh01.gif"
									 alt="" style="width: 50%">
								<p style="text-align: center;">
									真空吸叶器
								</p>
								<p>
									例如，德国所有供3岁以下儿童食用的产品不得含有任何人工添加剂，必须是天然的；所有奶粉被列为药品监管；所有母婴产品只允许在药店出售，不允许在超市出售；德国锅具具有天然抗菌和耐高温性质，既能节能环保，导热效果又极佳，以至人们说，“使用这种德国锅具，一根蜡烛就能弄一顿美味佳肴。”
								</p>
								<p>
									如此强大的“德国制造”是否是您心中的目标和想法呢？而在德国还有许许多多的科研成果有待转化。
								</p>
								<img class="img-responsive center-block" src="../../static/imgs/cooperative_enterprise/cgzh02.png"
									 alt="">
								<p style="font-weight: bolder;">
									本中心旨在促进中德合作，提供在成果转化方面的合作渠道。无论您是想寻求机械领域的成果，还是想寻求生物领域的成果，本中心都可为您寻求在德国的合作伙伴。更多详细内容请<a style="text-decoration: none;" href="../aboutUs/contactUs.html">联系我们</a>。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
