<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>成果转化</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/cooperative_enterprise/successful_conversion.css">
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<!-- img  -->
	<div class="container-fluid">
		<div class="row">
			<img src="../../static/imgs/chengguozhuanhua.png" class="img-responsive center-block" width="58%" alt=""/>
		</div>
	</div>
	<!--content-->
	<div class="container-fluid successful_conversion">
		<div class="row">
			<div class="col-md-12 successful_conversion_div">
				<div class="sec-title">
					<h1 class="commonality_title">成果转化</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-6 successful_conversion_div_info">
				<h4>（已转化）中车广机公司100%低地板有轨电车转向架开发</h4>
				<img style="width: 100%" class="img-responsive center-block" src="./../../static/imgs/invertment_text/product1.jpg" alt="">
			</div>
			<div class="col-md-5 successful_conversion_div_info">
				<p style="margin-top: 10%;text-indent: 2em;">
					一种低地板有轨电车转向架，包括构架、摇枕、连接车体的牵引装置、轴箱、轮对、驱动系统、刹车系统、一系悬挂、二系悬挂、扫石器及撒砂装置；驱动系统包括电机、齿轮箱和空心的轴套，齿轮箱内设有齿轮组，电机的输出轴通过联轴器与齿轮箱的输入轴连接，轴套套在轮轴外，轴套与轮轴之间设有间隙，轴套一端与耦合联轴器连接，另一端伸入齿轮箱内并与齿轮箱的输出齿轮连接，耦合联轴器为空心结构，其内壁设有固定套，固定套与轮轴过盈配合。本发明电机输出轴驱动齿轮箱，齿轮箱驱动空心的轴套，空心的轴套套在轮对的轮轴上并将动力传递至轮轴，该种驱动系统既能实现电机驱动轮对的目的，而且在轴套的作用，可以减轻转向架簧下重量，从而提升其力学性能。
				</p>
			</div>
			<!--未转化-->
			<div class="col-md-6 successful_conversion_div_info">
				<h4>（待转化）一种铁路货车车钩自动摘挂装置</h4>
				<img class="img-responsive center-block" src="./../../static/imgs/invertment_text/product2.jpg" alt="">
			</div>
			<div class="col-md-5 successful_conversion_div_info">
				<p>
					本实用新型提供了一种铁路货车车钩自动摘挂装置，属于铁路车辆领域，所述自动摘挂装置包括减速电机、与减速电机固定连接的连接件，所述自动摘挂装置通过电机带动连接件转动，连接件带动下锁销转轴转动，使得钩锁开锁并达到全开位置。本实用新型通过钩锁开锁达到全开位置的时间，并在此时间时，对电机进行断电或反转之后进行锁紧，从而防止连接件因震动带动下锁销转轴开锁，这样更好的导致钩锁坐在钩舌推铁的锁座上，当辆车均处于全开位碰撞时，钩锁落下，钩舌互相牵引，实现自动连接。
				</p>
			</div>
			<div class="col-md-6 successful_conversion_div_info">
				<h4>（待转化）铁路货车制动软管自动连挂摘解装置</h4>
				<img class="img-responsive center-block" src="./../../static/imgs/invertment_text/product3.jpg" alt="">
			</div>
			<div class="col-md-5 successful_conversion_div_info">
				<p>
					本实用新型提供了一种铁路货车制动软管自动连挂摘解装置，其主要由作用部分与安装部分两大部分组成，安装部分通过螺栓固定在车钩上表面的安装板上，作用部分则安装在安装部分上，作用部分由接头前端、接头后端和支撑座组成，其内部为通风管路。本实用新型可实现接头的自动对中导向、风路的自动开闭、接头的先密封后通风、通气口防尘、接头柔性连接和限制接头部分的径向位移6大功能。该发明可以实现铁路货车风路的自动摘挂，缩短摘挂作业时间，节约人力成本，提高作业人员的调车效率。
				</p>
			</div>
			<div class="col-md-6 successful_conversion_div_info">
				<h4>（待转化）一种壁挂式大容量雨伞收纳装置</h4>
				<img class="img-responsive center-block" src="./../../static/imgs/invertment_text/product4.jpg" alt="">
			</div>
			<div class="col-md-5 successful_conversion_div_info">
				<p>
					本发明涉及一种壁挂式大容量雨伞收纳装置，包括缩折伞筒安装基座、伞筒安装座、伞筒连接件、缩折伞放置内、外筒。缩折伞筒安装基座安装在墙壁上，伞筒安装座以6个为一组装于缩折伞筒安装基座内，组成雨伞收纳的基本模块，并可以基本模块为单位扩展雨伞收纳容量；缩折伞放置筒分内外两层，内筒呈镂空的栅栏结构，与外筒之间有一定间隙，有利于雨伞的排水；缩折伞放置内、外筒通过滑槽连接，可相对滑动；缩折伞放置内筒与伞筒盖用一连接杆连接，可实现缩折伞放置内筒与伞筒盖的联动，方便顾客的放、取伞。本发明的扩展性好，且不占用路面，适用于人员密集的公共场所，解决了公共场所由于雨伞滴水造成的路面湿滑、行人滑倒和地面清洁问题。
				</p>
			</div>
		</div>
	</div>


</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
