<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>技术服务</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/cooperative_enterprise/technical_service.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<!--banner-->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="../../static/imgs/index/banner1.png" alt="..." width="100%">
				<div class="carousel-caption">

				</div>
			</div>
			<div class="item">
				<img src="../../static/imgs/index/banner2.png" alt="..." width="100%">
				<div class="carousel-caption">

				</div>
			</div>
			<div class="item">
				<img src="../../static/imgs/index/banner3.png" alt="..." width="100%">
				<div class="carousel-caption">

				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!--content-->
	<div class="container">
		<div class="row">
			<div class="col-md-12 techical_service_div">
				<div class="sec-title">
					<h1 class="commonality_title">技术服务</h1>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-12 techical_service_info">
				<p>
					技术服务是本中心在成果转化之外，为企业和院校提供的另一个渠道，用以解决某一特定技术问题。
					在机械、机电、机车等领域，本中心提供以下服务。
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid techical_service_segmentation"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 techical_service_div">
				<div class="sec-title">
					<h3>有限元强度、动力学仿真等分析</h3>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="page-wrapper">
					<section class="home-features-area section-padding">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-6 fadeInLeft"
									 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
									<div class="single-home-feature">
										<img src="../../static/imgs/cooperative_enterprise/js2.png" alt="">
										<div class="row home-features-contents">
											<div class="col-sm-9 col-xs-12">
												<div class="home-features-title">
													<h3>构架强度有限分析</h3>
												</div>
											</div>
											<div class="col-sm-3">
												<h4>01</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 fadeInLeft"
									 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
									<div class="single-home-feature">
										<img style="width: 88%" src="../../static/imgs/cooperative_enterprise/dlxfx.jpg" alt="">
										<div class="row home-features-contents">
											<div class="col-sm-9 col-xs-12">
												<div class="home-features-title">
													<h3>动力学分析</h3>
												</div>
											</div>
											<div class="col-sm-3">
												<h4>02</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid techical_service_segmentation"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 techical_service_div">
				<div class="sec-title">
					<h3>机械产品及技术改造改进等开发</h3>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="page-wrapper">
					<section class="home-features-area section-padding">
						<div class="container">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-6 fadeInLeft"
									 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
									<div class="single-home-feature">
										<img src="../../static/imgs/cooperative_enterprise/js3.jpg" alt="">
										<div class="row home-features-contents">
											<div class="col-sm-9 col-xs-12">
												<div class="home-features-title">
													<h3>峨眉山万晟石膏线技术升级</h3>
												</div>
											</div>
											<div class="col-sm-3">
												<h4>01</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 fadeInLeft"
									 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
									<div class="single-home-feature">
										<img class="page-wrapper_imgs" src="../../static/imgs/cooperative_enterprise/js4.png" alt="">
										<div class="row home-features-contents">
											<div class="col-sm-9 col-xs-12">
												<div class="home-features-title">
													<h3>重庆英业达镭雕工位自动化改造</h3>
												</div>
											</div>
											<div class="col-sm-3">
												<h4>02</h4>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 fadeInLeft"
									 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
									<div class="single-home-feature">
										<img src="../../static/imgs/cooperative_enterprise/js5.png" alt="">
										<div class="row home-features-contents">
											<div class="col-sm-9 col-xs-12">
												<div class="home-features-title">
													<h3>中金网线水晶头自动组装机械设计</h3>
												</div>
											</div>
											<div class="col-sm-3">
												<h4>03</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid techical_service_segmentation"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 techical_service_div">
				<div class="sec-title">
					<h3>知识产权服务</h3>
					<div class="border-shape"></div>
				</div>
			</div>
			<div class="col-md-12">
				<img style="margin-top: -100px;transform: rotate(90deg)" class="img-responsive center-block"
					 src="../../static/imgs/cooperative_enterprise/jschanquanzheng.png" alt="">
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
