<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>中德企业合作</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/cooperative_enterprise/cooperative_enterprise.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/common.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block"
				 src="../../static/imgs/background_img.jpg" width="100%" alt="">
		</div>
	</div>
	<div class="container zhongdejiaoyuhezuo">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 zhongdejiaoyuhezuo_title">
				<div class="subnav">
					<a href="./zdcooperative_enterprise.html" style="text-decoration: none;">
						<h3 style="margin: 0;">中德企业合作</h3>
					</a>
					<ul class="navcon">
						<li class="cur"><i></i><a href="./zdcooperative_enterprise.html">简介</a></li>
						<li><i></i><a href="./enterprise_inspection.html">企业考察</a></li>
						<li><i></i><a href="./investment_advisory.html">投资咨询</a></li>
						<li><i></i><a href="./successful_conversion.html">成果转化</a></li>
						<li><i></i><a href="./technical_service.html">技术服务</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 zhongdejiaoyuhezuo_info">
				<div class="article">
					<h3>简介</h3>
					<div class="art_con">
						<p>
							任何事物发展到一定阶段都会遇到瓶颈。德国企业也不例外。德国企业寻求与中方企业合作，以突破自己的瓶颈期。
						</p>
						<p>
							而中方企业在中国的社会转型的情况下，虽然有了更多的机遇，但也面临着更多更大的困难。与德方企业合作，可进一步提升自身企业的竞争力，有望获取转型后的中国市场这一蛋糕的更多份额。
						</p>
						<p>
							本中心为促进中德合作，搭建中德交流合作平台，为您提供以下服务。
						</p>
						<table border="1" class="table table-hover table-bordered">
							<thead>
							<tr>
								<th>序号</th>
								<th>服务项目</th>
								<th>具体内容</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>1</td>
								<td><a href="./investment_advisory.html">投资咨询</a></td>
								<td>投资、融资等咨询服务</td>
							</tr>
							<tr>
								<td>2</td>
								<td><a href="./enterprise_inspection.html">企业考察</a></td>
								<td>组织考察团访问并考察有意合作的企业</td>
							</tr>
							<tr>
								<td>3</td>
								<td><a href="./successful_conversion.html">成果转化</a></td>
								<td>推广可投入生产的优质科研成果</td>
							</tr>
							<tr>
								<td>4</td>
								<td><a href="./technical_service.html">技术服务</a></td>
								<td>提供技术解决科研、生产等问题</td>
							</tr>
							</tbody>
						</table>
						<p style="text-indent: 0;font-size: 1.2em;">
							<a style="color: #333333;font-weight: bold;border-bottom: 1px solid #333333;"
							   href="../aboutUs/contactUs.html">更多详细内容请联系我们</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
