<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>中德企业合作</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link type="text/css" rel="stylesheet" href="../../static/css/index/publish.min.css">
	<link type="text/css" rel="stylesheet" href="../../static/css/index/clientlibs.min.css">
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/common.min.js"></script>
	<script type="text/javascript" src="../../static/js/publish.min.js"></script>
	<script type="text/javascript" src="../../static/js/clientlibs.min.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<!--banner-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/index/banner1.png" width="100%" alt="">
		</div>
	</div>
	<!--新闻-->
	<div class="container-fluid" style="background-color: #dddddd;padding: 60px 0;">
		<div class="topicnews__base" data-component="topicnews">
			<div class="topicnews__header">
				<h2 class="topicnews__headline font--bold">中德企业合作</h2>
				<a href="#" class="topicnews__link">
                    <span class="glyphicon-menu-right glyphicon">
                        <span>更多</span>
                  </span>
				</a>
			</div>
			<div class="slider topicnews__slider">
				<div class="newsteaser__base newsteaser--large">
					<div class="newsteaser__wrapper">
						<a href="#">
							<div class="newsteaser__imageBlock newsteaser__imageBlock--large">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">德国平台</h3>
										<div class="newsteaser__info">
											德方开展有利于中德合作的各种活动，以及人才飞地。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="#">
							<div class="newsteaser__imageBlock">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">语言中心</h3>
										<div class="newsteaser__info">
											负责对学校师生及乐山地区中，有意向中德合作人员德语培训和留学服务。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="#" class="#">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">高校平台</h3>
										<div class="newsteaser__info">
											负责推动川内高校与德国高校的合作，批量培养国际化人才。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="#">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">科技中心</h3>
										<div class="newsteaser__info">
											负责企业相关中德合作，主要由机电工程应用研究所承担。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="#">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">文化交流</h3>
										<div class="newsteaser__info">
											负责推动中德之间文化交流合作。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
