<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>科研合作</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/scientificcooperation/keyanhezuo.css">
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body>

<div id="title">
    <!--languageSearch-->
    <div class="languageSearch" style="opacity: 0.9">
        <!--Language-->
        <div class="language">
            <a href="#" class="chinese">中文版</a> |
            <a href="#" class="deutsch">Deutsch</a>
        </div>
        <!--Search-->
        <div class="searchDiv">
            <form action="">
                <input type="text" class="search_input" placeholder="请输入搜索词">
                <a href="#" class="search_a">
                    <i class="fa fa-search"></i>
                </a>
            </form>
        </div>
    </div>
    <header class="header" id="header" style="opacity: 0.9">
        <div class="h-fix">
            <div class="containers">
                <!--LoGo-->
                <div class="logo">
                    <a href="#" title="中德科技">
                        <img src="../../static/imgs/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
                    </a>
                </div>
                <!--BarsIcon-->
                <div id="m-btn" class="m-btn">
                    <i class="fa fa-bars"></i>
                </div>
                <!--Nav-->
                <nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
                    <ul class="nav">
                        <li class="li-cate-1">
                            <a href="../index.html">首页</a>
                        </li>
                        <li class="li-cate-1 active">
                            <a href="#">新闻活动</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../newsactivity/news.html">新闻活动中心</a>
                                </li>
                                <li>
                                    <a href="../newsactivity/news.html">新闻列表</a>
                                </li>
                                <li>
                                    <a href="../newsactivity/news_list.html">文章列表</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德科技合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../scientificcooperation/scientific-cooperation.html">科研合作</a>
                                </li>
                                <li>
                                    <a href="../scientificcooperation/technology-platform.html">科技支撑平台</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德教育合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../china_education/liuxue.html">留学服务</a>
                                </li>
                                <li>
                                    <a href="../china_education/youxue.html">游学访问</a>
                                </li>
                                <li>
                                    <a href="#">中德学校合作</a>
                                </li>
                                <li>
                                    <a href="#">中德学院</a>
                                </li>
                                <li>
                                    <a href="#">双元制大学</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德企业合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">企业考察</a>
                                </li>
                                <li>
                                    <a href="#">投资咨询</a>
                                </li>
                                <li>
                                    <a href="#">技术对接</a>
                                </li>
                                <li>
                                    <a href="#">成果转化</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">语言中心</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">商务德语课程</a>
                                </li>
                                <li>
                                    <a href="#">青少年德语课程</a>
                                </li>
                                <li>
                                    <a href="#">留德欧标课程</a>
                                </li>
                                <li>
                                    <a href="#">翻译服务</a>
                                </li>
                                <li>
                                    <a href="#">趣味德国</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="../aboutUs/centeroverview.html">关于我们</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../aboutUs/organization.html">组织架构</a>
                                </li>
                                <li>
                                    <a href="#">发展历程</a>
                                </li>
                                <li>
                                    <a href="#">发展目标</a>
                                </li>
                                <li>
                                    <a href="../aboutUs/contactUs.html">联系我们</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--Mask-->
    <div id="mask"></div>
</div>
<div class="container-fluid" style="margin-bottom: 50px">
    <div class="row url">
        <img src="../../static/imgs/index/banner1.png" class="img-responsive" width="100%" alt=""/>
    </div>
</div>
<section class="container">
    <div class="row">
        <h2 class="s1">科研合作</h2>
        <hr/>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="../../static/imgs/scientificcooperation/peitu1.png" width="100%" alt=""/>
        </div>
        <div class="col-md-6" style="">
            <p class="s2">
                如今随着科研的不断深入，对单一专业领域的科研也就达到了瓶颈。随之而来的是，
                针对跨学科领域的科研逐渐地炙手可热。然而现今的学科高难又复杂，往往专精一项领域就没有时间
                和精力去研究另一门领域。而高端的跨领域人才也十分奇缺。因此，如何去研究跨学科领域成为了当
                今世上的一大难题。而通过科研合作，即可携手共进，完成跨领域研究。
                德方科研优势在于，相对自由的科研风气、高端的技术人才和前沿科技。
                中方科研优势在于，拥有众多相对扎实基础的人才、相对雄厚的资金和相对广阔的市场。
                而中德科技促进中心作为一个联结中德双方的桥梁，在此希望各位有意科研合作的中德双方的企业院校，
                以及研究所，能够通过本中心，找到属于您们的最佳合作伙伴。

            </p>
        </div>
    </div>
    <div class="row">
        <h2 class="s1">合作企业</h2>
        <hr/>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="../../static/imgs/scientificcooperation/peitu2.png" width="100%" alt=""/>
        </div>
        <div class="col-md-6 s3" >
            <img src="../../static/imgs/scientificcooperation/peitu3.png" width="100%" alt=""/>
        </div>
        </div>

</section>
<!--联系我们-->
<section class="container" style="margin-top: 40px">
    <div class=" row col-md-12" style="margin-bottom: 40px">
        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <fieldset>
                    <legend><i class="fa fa-envelope"></i> 联系我们</legend>
                </fieldset>
                <div><span><strong>联系方式</strong></span></div>
                <div><span>手机：18728871721</span></div>
                <div><span>座机：0833-2595989</span></div>
                <div><span>邮箱：lszdkc@163.com</span></div>
                <hr>
            </div>
            <div class="col-md-6 col-sm-12">
                <fieldset>
                    <legend><i class="fa fa-map-marker"></i> 我们的地址</legend>
                </fieldset>
                <div><span><strong>办公室</strong></span></div>
                <div><span>四川省乐山市高新区高新孵化园A区9楼901</span></div>
                <div><span><strong>开放时间</strong></span></div>
                <div><span>周一至周五 9:00-17:00</span></div>
                <hr>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer" style="font-size: 1rem;padding: 15px;text-align: center;background-color: #2C2C2C;">
        <p style="color: #999999;">京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>

        <p style="color: #999999;">Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
    </div>
</footer>

</body>
</html>

