<!DOCTYPE html>

<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>中德科技合作</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/newsactivity/news.css">

	<!-- 中德科技合作消息 css -->
	<link type="text/css" rel="stylesheet" href="../../static/css/index/publish.min.css">
	<link type="text/css" rel="stylesheet" href="../../static/css/index/clientlibs.min.css">

	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>

	<!--  头部css js引入  -->
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/header.js"></script>

	<!-- 中德科技合作消息 js -->
	<script type="text/javascript" src="../../static/js/common.min.js"></script>
	<script type="text/javascript" src="../../static/js/publish.min.js"></script>
	<script type="text/javascript" src="../../static/js/clientlibs.min.js"></script>
</head>
<body>

<div id="title">
	<!--languageSearch-->
	<div class="languageSearch">
		<!--Language-->
		<div class="language">
			<a href="#" class="chinese">中文版</a> |
			<a href="#" class="deutsch">Deutsch</a>
		</div>
		<!--time-->
		<div class="time">
			<p id="times"></p>
		</div>
		<!--Search-->
		<div class="searchDiv">
			<form action="">
				<input type="text" class="search_input" placeholder="请输入搜索词">
				<a href="#" class="search_a">
					<i class="fa fa-search"></i>
				</a>
			</form>
		</div>
	</div>
	<header class="header" id="header">
		<div class="h-fix">
			<div class="containers">
				<!--LoGo-->
				<div class="logo">
					<a href="#" title="中德科技">
						<img src="http://106.52.3.235/zdkj/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
					</a>
				</div>
				<!--BarsIcon-->
				<div id="m-btn" class="m-btn">
					<i class="fa fa-bars"></i>
				</div>
				<!--Nav-->
				<nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
					<ul class="nav">
						<li class="li-cate-1">
							<a href="../index.html" class="li-cate_a">首页</a>
						</li>
						<li class="li-cate-1">
							<a href="../newsactivity/news.html" class="li-cate_a">新闻活动</a>
						</li>
						<li class="li-cate-1 active">
							<a href="../scientificcooperation/scientific-cooperation.html" class="li-cate_a">中德科技合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../scientificcooperation/keyanhezuo.html">科研合作</a>
								</li>
								<li>
									<a href="../scientificcooperation/technology-platform.html">科技支撑平台</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../china_education/zhongdejiaoyuhezuo.html" class="li-cate_a">中德教育合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../china_education/liuxue.html">留学服务</a>
								</li>
								<li>
									<a href="../china_education/youxue.html">游学访问</a>
								</li>
								<li>
									<a href="../china_education/zhongdexuexiaohezuo.html">中德学校合作</a>
								</li>
								<li>
									<a href="../china_education/zhongdexueyuan.html">中德学院</a>
								</li>
								<li>
									<a href="../china_education/shuangyuanzhiidaxue.html">双元制大学</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../cooperative_enterprise/zdcooperative_enterprise.html" class="li-cate_a">中德企业合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../cooperative_enterprise/enterprise_inspection.html">企业考察</a>
								</li>
								<li>
									<a href="../cooperative_enterprise/investment_advisory.html">投资咨询</a>
								</li>
								<li>
									<a href="../cooperative_enterprise/technical_service.html">技术服务</a>
								</li>
								<li>
									<a href="../cooperative_enterprise/successful_conversion.html">成果转化</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../language_center/language_center.html" class="li-cate_a">语言中心</a>
							<ul class="sub-menu">
								<li>
									<a href="../language_center/shangwudeyu.html">商务德语课程</a>
								</li>
								<li>
									<a href="../language_center/qingshaoniandeyu.html">青少年德语课程</a>
								</li>
								<li>
									<a href="../language_center/liudeoubiaokecheng.html">留德欧标课程</a>
								</li>
								<li>
									<a href="../language_center/translation.html">翻译服务</a>
								</li>
								<li>
									<a href="../language_center/interestGermany.html">趣味德国</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../aboutUs/centeroverview.html" class="li-cate_a">关于我们</a>
							<ul class="sub-menu">
								<li>
									<a href="../aboutUs/organization.html">组织架构</a>
								</li>
								<li>
									<a href="../aboutUs/fazhanlicheng.html">发展历程</a>
								</li>
								<li>
									<a href="../aboutUs/developtarget.html">发展目标</a>
								</li>
								<li>
									<a href="../aboutUs/contactUs.html">联系我们</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!--Mask-->
	<div id="mask"></div>
</div>

<section>
	<!--轮播图-->
	<div class="news_list_Div_banners" style="background-color: #e9e9e9">
		<div class="container news_list_Div_banner">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic" data-slide-to="4"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="../../static/imgs/newsactivity/banner1.png" alt="">
					</div>
					<div class="item">
						<img src="../../static/imgs/newsactivity/banner2.jpg" alt="">
					</div>
					<div class="item">
						<img src="../../static/imgs/newsactivity/banner3.png" alt="">
					</div>
					<div class="item">
						<img src="../../static/imgs/newsactivity/banner4.jpg" alt="">
					</div>
					<div class="item">
						<img src="../../static/imgs/newsactivity/banner5.png" alt="">
					</div>
				</div>
			</div>
			<div class="bannerDiv">
				<a style="color: #555555;" class="carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a style="right: 0;left: auto;color: #555555;" class="carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>

	<!--中德科技合作消息-->
	<div class="container-fluid" style="background-color: #cbcbcb;padding: 50px 0;">
		<div class="topicnews__base" data-component="topicnews">
			<div class="topicnews__header">
				<h4 class="topicnews__headline font--bold"style="padding-bottom: 20px">中德科技合作</h4>
				<a href="#" class="topicnews__link">
                    <span class="glyphicon-menu-right glyphicon">
                        <span>
                            更多
                        </span>
                  </span>
				</a>
			</div>
			<div class="slider topicnews__slider">
				<div class="newsteaser__base newsteaser--large">
					<div class="newsteaser__wrapper">
						<a href="#">
							<div class="newsteaser__imageBlock newsteaser__imageBlock--large">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">德国平台</h3>
										<div class="newsteaser__info">
											德方开展有利于中德合作的各种活动，以及人才飞地。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="#">
							<div class="newsteaser__imageBlock">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">语言中心</h3>
										<div class="newsteaser__info">
											负责对学校师生及乐山地区中，有意向中德合作人员德语培训和留学服务。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="#" class="#">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">高校平台</h3>
										<div class="newsteaser__info">
											负责推动川内高校与德国高校的合作，批量培养国际化人才。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="#">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">科技中心</h3>
										<div class="newsteaser__info">
											负责企业相关中德合作，主要由机电工程应用研究所承担。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="#">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/index/we.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">文化交流</h3>
										<div class="newsteaser__info">
											负责推动中德之间文化交流合作。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer id="myFooter">
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-12 col-sm-6 col-md-3 myFooter_div">
				<a href="javascript:void (0)" class="myFooter_logo" title="中德研究所">
					<img src="../../static/imgs/footer/zhongdeyanjsuo.jpg" alt="">
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-3 myFooter_divs">
				<h5><i class="fa fa-phone"></i>联系方式</h5>
				<ul>
					<li><a href="javascript:void (0)">手机：18728871721</a></li>
					<li><a href="javascript:void (0)">座机：0833-2595989<br/></a></li>
					<li><a href="javascript:void (0)">邮箱：lszdkc@163.com</a></li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-md-3 myFooter_divs">
				<h5><i class="fa fa-map-marker"></i>地址</h5>
				<ul>
					<li><a href="javascript:void (0)">四川省乐山市高新区高新孵化园A区9楼901</a></li>
					<li><a href="javascript:void (0)">开放时间：周一至周五 9:00-17:00<br/></a></li>
				</ul>
			</div>
			<div class="col-12 col-sm-6 col-md-3 myFooter_div">
				<a href="javascript:void (0)" class="myFooter_weixin" title="微信公众号">
					<img src="../../static/imgs/footer/weixingongzhonghao.jpg" alt="">
					<br><br>
					<p style="color: white;">微信公众号</p>
				</a>
			</div>
		</div>
		<div class="row footer-copyright">
			<div class="col">
				<p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
				<p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
