<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>中德科技支撑平台</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/newsactivity/news.css">

	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>

	<!--  头部css js引入  -->
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body>

<div id="title">
	<!--languageSearch-->
	<div class="languageSearch">
		<!--Language-->
		<div class="language">
			<a href="#" class="chinese">中文版</a> |
			<a href="#" class="deutsch">Deutsch</a>
		</div>
		<!--time-->
		<div class="time">
			<p id="times"></p>
		</div>
		<!--Search-->
		<div class="searchDiv">
			<form action="">
				<input type="text" class="search_input" placeholder="请输入搜索词">
				<a href="#" class="search_a">
					<i class="fa fa-search"></i>
				</a>
			</form>
		</div>
	</div>
	<header class="header" id="header">
		<div class="h-fix">
			<div class="containers">
				<!--LoGo-->
				<div class="logo">
					<a href="#" title="中德科技">
						<img src="http://106.52.3.235/zdkj/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
					</a>
				</div>
				<!--BarsIcon-->
				<div id="m-btn" class="m-btn">
					<i class="fa fa-bars"></i>
				</div>
				<!--Nav-->
				<nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
					<ul class="nav">
						<li class="li-cate-1">
							<a href="../index.html" class="li-cate_a">首页</a>
						</li>
						<li class="li-cate-1">
							<a href="../newsactivity/news.html" class="li-cate_a">新闻活动</a>
						</li>
						<li class="li-cate-1 active">
							<a href="../scientificcooperation/scientific-cooperation.html" class="li-cate_a">中德科技合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../scientificcooperation/keyanhezuo.html">科研合作</a>
								</li>
								<li>
									<a href="../scientificcooperation/technology-platform.html">科技支撑平台</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="#" class="li-cate_a">中德教育合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../china_education/liuxue.html">留学服务</a>
								</li>
								<li>
									<a href="../china_education/youxue.html">游学访问</a>
								</li>
								<li>
									<a href="#">中德学校合作</a>
								</li>
								<li>
									<a href="#">中德学院</a>
								</li>
								<li>
									<a href="#">双元制大学</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="#" class="li-cate_a">中德企业合作</a>
							<ul class="sub-menu">
								<li>
									<a href="#">企业考察</a>
								</li>
								<li>
									<a href="#">投资咨询</a>
								</li>
								<li>
									<a href="#">技术对接</a>
								</li>
								<li>
									<a href="#">成果转化</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../language_center/language_center.html" class="li-cate_a">语言中心</a>
							<ul class="sub-menu">
								<li>
									<a href="../language_center/shangwudeyu.html">商务德语课程</a>
								</li>
								<li>
									<a href="../language_center/qingshaoniandeyu.html">青少年德语课程</a>
								</li>
								<li>
									<a href="../language_center/liudeoubiaokecheng.html">留德欧标课程</a>
								</li>
								<li>
									<a href="../language_center/translation.html">翻译服务</a>
								</li>
								<li>
									<a href="../language_center/interestGermany.html">趣味德国</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../aboutUs/centeroverview.html" class="li-cate_a">关于我们</a>
							<ul class="sub-menu">
								<li>
									<a href="../aboutUs/organization.html">组织架构</a>
								</li>
								<li>
									<a href="../aboutUs/fazhanlicheng.html">发展历程</a>
								</li>
								<li>
									<a href="../aboutUs/developtarget.html">发展目标</a>
								</li>
								<li>
									<a href="../aboutUs/contactUs.html">联系我们</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!--Mask-->
	<div id="mask"></div>
</div>

<section>
	<div class="container">
		<!--中德企业协会-->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-warning" style="margin-top: 30px">
					<div class="panel-heading" style="background-color: #58b0df">
						<div class="row">
							<h2 style="color:#fdfdfe;" class="col-md-4">中德企业协会</h2>
						</div>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 col-xs-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/germanyVDI.png" alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3>德国工程师协会</h3>
										<p>
											德国工程师协会是德国最大的工程师与自然科学家协会。该协会会员的覆盖工业界、学术界、教育界等领域。主要目的是促进技术各方面力量的结合，并致力于通过技术手段的开发和有效应用改进人类的生存条件，承担工程师的培养、继续教育以及给政府、议会和社会提供咨询等方面的工作。该协会也在培养后继人才，提供学习机会，拓展新人的视野。
										</p>
										<a class="col-lg-offset-11" target="_blank" href="https://www.vdi.de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 col-xs-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/germanyhuaren.gif"
											 alt=""/>
									</div>
									<div class="col-md-8 col-xs-12">
										<h3>德国华人教授协会</h3>
										<a class="col-lg-offset-11" target="_blank" href="http://www.gdpch.de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 col-xs-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/germanycy.png"
											 alt=""/>
									</div>
									<div class="col-md-8 col-xs-12">
										<h3>德国成亚管理和科技培训中心</h3>
										<a class="col-lg-offset-11" target="_blank" href="http://www.cacgermany.de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/germanyEVB.png"
											 alt=""/>
									</div>
									<div class="col-md-8 col-xs-12">
										<h3>德国EVB铁路技术公司</h3>
										<p></p>
										<a class="col-lg-offset-11" target="_blank" href="https://www.evb-elbe-weser.de/startseite/">更多>></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--中德院校-->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-warning " style="margin-top: 30px">
					<div class="panel-heading" style="background-color: #58b0df">
						<div class="row">
							<h2 style="color:#fdfdfe;" class="col-md-4">中德院校</h2>
						</div>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/Ostfalia.jpg" alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/germany.png" alt="">&nbsp;&nbsp;ostfalia 应用科学大学</h3>
										<p>
											德国工程师协会是德国最大的工程师与自然科学家协会。该协会会员的覆盖工业界、学术界、教育界等领域。主要目的是促进技术各方面力量的结合，并致力于通过技术手段的开发和有效应用改进人类的生存条件，承担工程师的培养、继续教育以及给政府、议会和社会提供咨询等方面的工作。该协会也在培养后继人才，提供学习机会，拓展新人的视野。</p>
										<a class="col-lg-offset-11" target="_blank" href="https://www.ostfalia.de/cms/de">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/Bielefeld.png"
											 alt=""/>

									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/germany.png" alt="">&nbsp;&nbsp;Bielefeld应用科学大学</h3>
										<a class="col-lg-offset-11" target="_blank" href="https://www.fh-bielefeld.de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/Aachen.png"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/germany.png" alt="">&nbsp;&nbsp;Aachen应用科学大学</h3>
										<a class="col-lg-offset-11" target="_blank" href="https://www.fh-aachen.de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/Leipzig.png"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/germany.png" alt="">&nbsp;&nbsp;Leipzig大学</h3>
										<a class="col-lg-offset-11" target="_blank" href="https://www.uni-leipzig.de/">更多>></a>
									</div>
								</div>
							</div>
							<div class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/Dresden.png"
											 alt=""/>
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/germany.png" alt="">&nbsp;&nbsp;Dresden工业大学</h3>
										<a class="col-lg-offset-11" target="_blank" href="https://www.uni-goettingen.de/">更多>></a>
									</div>
								</div>
							</div>

							<div class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/Dresden.png"
											 alt=""/>
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/germany.png" alt="">&nbsp;&nbsp;Göttingen大学</h3>
										<a class="col-lg-offset-11" target="_blank" href="https://www.uni-goettingen.de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/xljd.jpg"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/china.png" alt="">&nbsp;&nbsp;西南交通大学</h3>
										<a class="col-lg-offset-11" target="_blank" href="https://www.swjtu.edu.cn/">更多>></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--中德政府机构-->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-warning " style="margin-top: 30px">
					<div class="panel-heading" style="background-color: #58b0df">
						<div class="row">
							<h2 style="color:#fdfdfe;" class="col-md-4">中德政府机构</h2>
						</div>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/Germanypromote.png" alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3>莱比锡地区经济促进中心</h3>
										<p>
											莱比锡地区工业分布以汽车制造和零配件供应行业、卫生经济和生物科技、能源和环境技术、物流、媒体和创意产业为主，莱比锡地区经济促进中心代表莱比锡政府以及莱比锡地区企业联盟（宝马、保时捷、西门子、DHL等）和研发机构联盟（马克思普朗克研究所、弗朗霍夫研究所、莱布尼兹研究所等）。能源、智能城市、医疗保健、电子卫生等为目前莱比锡地区在世界范围内领先的技术。</p>
										<a class="col-lg-offset-11" target="_blank" href="https://www.invest-region-leipzig.de/en/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/germanydelaipromote.png"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3>德累斯顿地区经济促进中心</h3>
										<a class="col-lg-offset-11" target="_blank" href="https://www.dresden.de/index_de.php">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/germanyunion.jpg"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3>德国工商联合会IHK</h3>
										<p>
											德国工商联合会是一个有国家法律依据的公法组织。其涉及的职业资格鉴定领域涵盖范围最广，集中了德国制造业、信息产业、交通产业、商业与服务业、物流、旅游、金融等主流产业。
											根据技术发展水平和经济发展需求，研究开发了一系列针对性很强的职业资格标准，并推出了数百种职业资格证书（称作“IHK职业资格证书”）此证书在所有德国境内和海外的德国企业，都具有通用性，也被几乎全部欧美国家和企业所认可和接受。由于这一证书体系具有很高的教育培训标准和严格的过程管理及评价体系，可以培养出训练有素，综合能力和实用性强，直接为企业所用的职业人才，也得到了我国企业的认可和关注，成为国内企业聘用高级技术人才的主要依据证书。
											联合会向中小型企业提供一系列的咨询服务，从而促进了这些企业的竞争力。咨询服务包括对外经济咨询、技术革新咨询（部分同国际资料银行有联系）、专利解释和企业经济的咨询等。
										</p>
										<a class="col-lg-offset-11" target="_blank" href="https://www.vdi.de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/germanycommunicationDAAD.png"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3>德国学术交流中心DAAD</h3>
										<p>
											德意志学术交流中心代表着德国231所高校和128个大学生团体，是目前全球最大的教育交流机构之一，是德国文化和高等教育政策的对外执行机构。通过颁发奖学金资助中国优秀年轻学者和科研人员前往德国高校和科研机构进修或深造；颁发奖学金资助优秀的德国学生、研究生及科研人员到中国进行学术交流；建立并促进德中高校间的合作；推广和促进日耳曼语言文学、德语、德国文学和德国国情在中国的发展；建立并维护留华校友和留德校友的在华校友网络；提供在德国学习与研究的相关信息咨询等等。</p>
										<a class="col-lg-offset-11" target="_blank" href="https://www.daad.de/de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/newsactivity/ss.jpg"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3>中国四川乐山高新区认知会</h3>
										<p></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--中德研究所-->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-warning " style="margin-top: 30px">
					<div class="panel-heading" style="background-color: #58b0df">
						<div class="row">
							<h2 style="color:#fdfdfe;" class="col-md-4">中德研究所</h2>
						</div>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/make.jpg" alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/germany.png" alt="">&nbsp;&nbsp;马克思普朗克学会MPG</h3>
										<p></p>
										<a class="col-lg-offset-11" target="_blank" href="https://www.mpg.de/de">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/huofu.svg"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/germany.png" alt="">&nbsp;&nbsp;弗朗霍夫学会FhG</h3>
										<a class="col-lg-offset-11" target="_blank" href="https://www.fraunhofer.de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/wgl.jpg"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/germany.png" alt="">&nbsp;&nbsp;莱布尼茨科学联合会WGL</h3>
										<p></p>
										<a class="col-lg-offset-11" target="_blank" href="https://www.leibniz-gemeinschaft.de/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block " src="../../static/imgs/scientificcooperation/xljdqyl.png"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/china.png" alt="">&nbsp;&nbsp;西南交通大学牵引动力国家重点实验室</h3>
										<p></p>
										<a class="col-lg-offset-11" target="_blank" href="http://tpl.swjtu.edu.cn/">更多>></a>
									</div>
								</div>
							</div>
							<div href="" class="list-group-item">
								<div class="row">
									<div class="col-md-4 hidden-xs">
										<img class="img-responsive center-block" src="../../static/imgs/scientificcooperation/xljdxh.jpg"
											 alt="">
									</div>
									<div class="col-md-8 col-xs-12">
										<h3><img src="../../static/imgs/scientificcooperation/china.png" alt="">&nbsp;&nbsp;西南交通大学研究所</h3>
										<p></p>
										<a class="col-lg-offset-11" target="_blank" href="https://www.swjtu.edu.cn/xysz_/yjy.htm">更多>></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerDiv01">
				<div><span><strong><i class="fa fa-phone"></i>联系方式</strong></span></div>
				<div><span>手机：18728871721</span></div>
				<div><span>座机：0833-2595989</span></div>
				<div><span>邮箱：lszdkc@163.com</span></div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerDiv01">
				<div><span><strong><i class="fa fa-map-marker"></i>地址</strong></span></div>
				<div><span>四川省乐山市高新区高新孵化园A区9楼901</span></div>
				<div><span>开放时间：周一至周五 9:00-17:00</span></div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="footerDiv01_hr"></div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footerDiv01">
				<p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
				<p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
