<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>中德科技支撑平台</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/header.css"/>
	<link rel="stylesheet" href="../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../static/css/scientificcooperation/technology_platform.css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
	<style type="text/css">
		.technology-platform_div {
			padding-top: 50px;
		}

		.technology-platform_title {
			text-align: center;
			padding: 20px 0;
			cursor: pointer;
		}

		.technology-platform_title .sec-title h1 {
			color: white;
			font-size: 1.5em;
			letter-spacing: 2px;
		}
		.technology-platform_title:hover .sec-title h1 {
			font-weight: bolder;
		}
		.technology_platform_info{
			display: none;
		}
	</style>
	<script>
		$(document).ready(function () {
			var qw = $(".technology-platform_title");
			for (var i = 0; i < qw.length; i++) {
				qw[i].index = i;
				qw.eq(i).click(function () {

					if($(".technology_platform_info").eq(this.index).css("display") === "none"){
						for (var n = 0; n < qw.length; n++) {
							$(".technology_platform_info").eq(n).hide();
						}
						$(".technology_platform_info").eq(this.index).show();
					}else{
						for (var n = 0; n < qw.length; n++) {
							$(".technology_platform_info").eq(n).hide();
						}
					}
				})
			}
		})
	</script>
</head>
<body>

<section>
	<!--title-->
	<div class="container-fluid what-we-do-crousel-sec technology-platform_div">
		<div class="row">
			<div class="col-md-12">
				<div class="sec-title">
					<h1 class="commonality_title">合作资源</h1>
					<div class="border-shape"></div>
				</div>
			</div>
		</div>
	</div>
	<!--content-->
	<div id="technology-platform_info" style="padding-bottom: 150px">
		<!--中德企业协会-->
		<div style="background: linear-gradient(#999999,#222222);">
			<div class="container-fluid technology-platform_title">
				<div class="row">
					<div class="col-md-12">
						<div class="sec-title">
							<h1>中德企业协会</h1>
							<div class="border-shape"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="what-we-do-crousel-sec technology_platform_info">
				<div class="container">
					<div class="row">
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>德国工程师协会</h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/germanyVDI.png" alt="">
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										德国工程师协会是德国最大的工程师与自然科学家协会。该协会会员的覆盖工业界、学术界、教育界等领域。主要目的是促进技术各方面力量的结合，并致力于通过技术手段的开发和有效应用改进人类的生存条件，承担工程师的培养、继续教育以及给政府、议会和社会提供咨询等方面的工作。该协会也在培养后继人才，提供学习机会，拓展新人的视野。
									</p>
									<a target="_blank" href="https://www.vdi.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>德国华人教授协会 </h3>
									<img class="img-responsive center-block "
										 src="../../static/imgs/scientificcooperation/germanyhuaren.gif" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										德国华人教授协会为中国和德国教授们开展跨学科、跨专业、跨文化直接对话搭建起一个交流合作的平台。虽然政策和民间的支持很重要，但最最重要的还是教授间的合作，因为他们是具体合作项目的落实主体。没有教授间的实质对接，其他都是空谈。该协会通过自身的方式，将在德国的华人教授群体紧密地团结在一起，交流成功和失败的经验及教训，分享成果，共同推动中德高校交流。
									</p>
									<a target="_blank" href="http://www.gdpch.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>德国EVB铁路技术公司 </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/germanyEVB.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										德国EVB铁路技术公司是德国数一数二的铁路技术公司。他们每年接待两百万搭乘火车的游客和四百万搭乘公共汽车的乘客；他们还通过铁路物流运输各种货物；另外，他们还拥有235公里长的私人铁路网、公共汽车和火车修理厂以及三家旅行社。总之EVB涉足了六个不同的业务领域，铁路、物流、旅游、制造、基础设施、职业培训。
									</p>
									<a target="_blank" href="https://www.evb-elbe-weser.de/startseite/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>德国成亚管理和科技培训中心 </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/germanycy.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										德国成亚教育培训有限公司（Chengduer und Aachener Consult GmbH，简称CAC德国成亚公司）位于德国亚琛市。该公司聚焦于以下四个方面，管理与技术培训、投资与商务咨询、德国留学咨询、展会与旅游服务。
									</p>
									<a target="_blank" href="http://www.cacgermany.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--中德院校-->
		<div style="background: linear-gradient(#999999,#222222);">
			<div class="container-fluid technology-platform_title">
				<div class="row">
					<div class="col-md-12">
						<div class="sec-title">
							<h1>中德院校</h1>
							<div class="border-shape"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="what-we-do-crousel-sec technology_platform_info">
				<div class="container">
					<div class="row">
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>西南交通大学 </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/xljd.jpg" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										西南交通大学是中国教育部直属的重点大学，国家首批世界一流学科建设高校、211工程、985工程优势学科创新平台。西南交通大学在铁路交通上声名远扬，在轨道交通上颇有建树。特色专业有交通运输、土木、机械、电气。
									</p>
									<a target="_blank" href="https://www.swjtu.edu.cn/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>奥斯特法利亚应用科学大学 <br>（Ostfalia University of applied Sciences)</h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/tu1.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										奥斯特法利亚应用科学大学（Ostfalia University of applied Sciences）是德国的一所位于下萨克森州的公立应用科学大学。奥斯特法利亚应用科学大学有四个分校区——祖德堡、沃尔芬比特、沃尔夫斯堡（大众总部）和萨尔茨吉特。
										奥斯特法利亚应用科学大学开设很多本科和硕士专业，如机械制造、信息技术、自动化系统、光学等。该校课程特点是实践与理论之间的结合，以及跨学科教学。在汽车、能源、机电一体化等多个领域均有杰出贡献。该校也与上百家工业界企业翘楚保持有密切合作关系，例如德国大众、法国阿尔斯通、德国Man、德国Voith。
									</p>
									<a target="_blank" href="" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>比勒费尔德应用科学大学（BIELEFELD）</h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/tu2.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										比勒费尔德应用科学大学（BIELEFELD）是德国的一所公立大学。其创立于1971年，位于北威斯特法伦州。该校有3个校区：比勒菲尔德、明顿和居斯塔夫。该校开设了多个本科、硕士专业，例如计算机工程、机械工程、电气工程、机电工程、应用数学、生物技术等。
										该校有系统动力学及机电一体化研究所、智能能源系统研究所等众多研究机构，建有工业4.0、AR、机器人等重要实验室，并保持着与国内外企业界的密切合作，如长期参与德国国家铁路（DB）相关标准制定、从事工业4.0技术研究等。该校在自动医疗技术和生物机电一体等跨专业领域的科研项目取得了丰硕的成果，在应用数学建模与优化领域也取得了突出的成绩。
									</p>
									<a target="_blank" href="" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>亚琛应用科学大学（Fachhochschulen Aachen） </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/tu3.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										亚琛应用科学大学（Fachhochschulen Aachen）是德国的一所公立大学，该校成立于1971年。该校设有多个本科和硕士专业，例如建筑学、生物工程、电子技术、汽车驱动技术、机械制造、航空航天工程等等。其机械工程专业与电气工程专业在全德同类大学（应用科学大学）中排名第一位。
									</p>
									<a target="_blank" href="" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>德累斯顿工业大学(TUD) </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/tu4.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										德累斯顿工业大学(TUD，Technische Universität Dresden)成立于1828年，位于萨克森州自由州。该校有四个校区，。德累斯顿工业大学是德国九所理工大学联盟(TU9)成员之一，2012年德累斯顿工业大学入选德国精英大学。
										德累斯顿工业大学的教学与研究涵盖数学与自然科学，人文与社会科学，工程科学，建筑与环境科学，医学五大领域。其中微电子、电气工程、计算机科学、机械工程、经济工程、材料科学、土木工程在德国最为有名。
									</p>
									<a target="_blank" href="" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>Leipzig大学 </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/Leipzig.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										莱比锡大学（Universität Leipzig）是德国U15大学联盟成员，欧洲最古老的大学之一，也是现今德国管辖地区内历史第二悠久的大学。其医学、心理学、经济学、社会学等方面的专业久负盛名。
									</p>
									<a target="_blank" href="https://www.uni-leipzig.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>Göttingen大学 </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/Göttingen.svg" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										哥廷根大学，因德国汉诺威公爵兼英国国王格奥尔格二世创建而得名。哥廷根大学坐落于德国西北部的下萨克森州南部哥廷根市。作为一所世界一流综合研究型大学，哥廷根大学是科英布拉集团、德国精英大学、U15大学联盟重要成员。哥廷根大学名人辈出，蜚声世界，设有马克斯普朗克生物物理化学研究所以及马克斯普朗克太阳能研究所，使哥廷根大学在生物物理领域以及能源领域长期保持世界领先地位。
									</p>
									<a target="_blank" href="https://www.uni-goettingen.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>Aachen应用科学大学 </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/Aachen.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>

									</p>
									<a target="_blank" href="https://www.fh-aachen.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>Bielefeld应用科学大学 </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/Bielefeld.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>

									</p>
									<a target="_blank" href="https://www.fh-bielefeld.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>Dresden工业大学 </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/Dresden.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>

									</p>
									<a target="_blank" href="https://tu-dresden.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--中德政府机构-->
		<div style="background: linear-gradient(#999999,#222222);">
			<div class="container-fluid technology-platform_title">
				<div class="row">
					<div class="col-md-12">
						<div class="sec-title">
							<h1>中德政府机构</h1>
							<div class="border-shape"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="what-we-do-crousel-sec technology_platform_info">
				<div class="container">
					<div class="row">
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>中国四川乐山高新区</h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/leshangaoxinqu.png" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										乐山国家高新区是四川省“51025”重点特色产业园区，国家硅材料开发与副产物利用产业化基地，中关村科技成果产业化基地。
										2016年提出了“以乐山国家高新区为龙头，构建‘一总部三基地’新型工业格局”的发展战略。在这样的发展战略下，乐山国家高新区正全力向“总部经济、创新高地、现代新城”三位一体的总部经济聚集区阔步迈进。
										高新区现有国家级科技企业孵化器1个、国家级高新技术产业化基地1个、国家级产品质量监督检验中心2个。省级孵化器、研究中心等数不胜数。高新区还与中科院、北京大学、四川大学等科研院所、大专院校建立了科技合作关系，建有乐山中科创新育成中心、博士工作站等科技创新和成果转化平台。
									</p>
									<a target="_blank" href="http://gxq.leshan.gov.cn/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>莱比锡地区经济促进中心</h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/Germanypromote.png" alt="">
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										莱比锡地区工业分布以汽车制造和零配件供应行业、卫生经济和生物科技、能源和环境技术、物流、媒体和创意产业为主，莱比锡地区经济促进中心代表莱比锡政府以及莱比锡地区企业联盟（宝马、保时捷、西门子、DHL等）和研发机构联盟（马克思普朗克研究所、弗朗霍夫研究所、莱布尼兹研究所等）。能源、智能城市、医疗保健、电子卫生等为目前莱比锡地区在世界范围内领先的技术。
									</p>
									<a target="_blank" href="https://www.invest-region-leipzig.de/en/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--中德研究所-->
		<div style="background: linear-gradient(#999999,#222222);">
			<div class="container-fluid technology-platform_title">
				<div class="row">
					<div class="col-md-12">
						<div class="sec-title">
							<h1>中德研究所</h1>
							<div class="border-shape"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="what-we-do-crousel-sec technology_platform_info">
				<div class="container">
					<div class="row">
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>马克思普朗克学会MPG </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/make.jpg" alt="">
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										马克斯普朗克科学促进协会是一所公益性的独立科研组织。该协会共有81个研究所，涉及物理技术、生物医学、基础科学技术与人文三个学科领域，致力于国际前沿与尖端的基础性研究工作。马克斯普朗克学会的各研究所被视作基础研究领域的“杰出中心”，在国内外享有盛誉。自1948年成立以后，仅该协会的研究所就有25名研究人员获得了诺贝尔奖。
									</p>
									<a target="_blank" href="https://www.mpg.de/de" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>弗朗霍夫学会FhG </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/huofu.svg" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										弗朗霍夫学会是为中小企业、政府部门、国防安全等提供合同科研服务的非营利性机构，主要研究领域包括微电子、制造、信息与通讯、材料与零部件、生命科学以及工艺(surface technology)与表面技术和光子学等。弗劳恩霍夫协会目前在全德40个多个基地拥有共约80个科研机构。弗劳恩霍夫协会的目标为实用研究，为工业界、服务性企业和公共部门委托科研项目，在经济界客户的委托下，致力于技术与组织环节的可实际运用的成熟方案的开发。
									</p>
									<a target="_blank" href="https://www.fraunhofer.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>莱布尼茨科学联合会WGL </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/wgl.jpg" alt=""/>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										莱布尼茨协会现有研究所84个，定位于问题导向的研究，同时提供咨询与服务。研究所分为人文与教育、经济、生命科学、数学、自然科学与工程以及环境科学等学科领域。莱布尼茨各研究所进行具有国际水平的、面向实际应用的基础研究。这些研究所的实力体现在研究课题的多样性和研究科目交叉性上。科研的目的是解决教育、科研和技术领域现已提出的未来任务，所以许多莱布尼茨研究所都是为了解决某个具体的社会问题而成立的。
									</p>
									<a target="_blank" href="https://www.leibniz-gemeinschaft.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>德国亥姆霍兹国家研究中心联合会HGF </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/helmholtz.svg" alt="">
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										赫姆霍兹协会是德国最大的科研组织，下辖15个大科学中心、250个研究所，有六大研究领域，包括能源、地球环境、健康、关键技术、物资结构、航空航天。在自然科学技术项目及生物医学项目范围内，亥姆霍兹各中心进行基础研究和前瞻性研究以及工业前景方面的技术研究。在科研和教育方面，亥姆霍兹各中心是德国大学的合作伙伴。该组织促进成员进行经验和信息交流，协调成员的科研和研制工作。科研中心处理整体科技问题，研究系统解决方法。此外，赫尔曼-冯-亥姆霍兹联合会经营大型科技设备，例如赫尔姆霍兹协会与中国科学院近代物理研究所的重离子加速器、合肥物质科学研究院等离子体研究所的HT-7u装置。
									</p>
									<a target="_blank" href="https://www.helmholtz.de/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>西南交通大学牵引动力国家重点实验室</h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/xljdqyl.png" alt="">
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>
										实验室依托西南交大，以轨道交通车辆为研究对象，重点开展以高速、重载列车为核心的基础性、前瞻性、战略性创新研究。根据世界轨道交通发展趋势和轨道交通技术特点，围绕轨道车辆及牵引传动的结构设计、动力学和强度分析、检测和试验等相关研究内容，实验室确定了6个研究方向：机车车辆设计理论与结构可靠性；机车车辆耦合系统动力学与控制；悬浮列车技术（含超高速真空管道悬浮交通）；摩擦学理论及应用；牵引供电、传动与控制；检测与试验技术。
									</p>
									<a target="_blank" href="http://tpl.swjtu.edu.cn/" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<h3>西南交通大学研究所 </h3>
									<img class="img-responsive center-block"
										 src="../../static/imgs/scientificcooperation/xljdxh.jpg" alt="">
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
									<p>

									</p>
									<a target="_blank" href="https://www.swjtu.edu.cn/xysz_/yjy.htm" class="what-we-do-button">
										<i class="fa fa-long-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>
</body>
</html>
