<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/aboutUs/centeroverview.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body style="background-color: #dbd9d8;">

<div id="title">
    <!--languageSearch-->
    <div class="languageSearch">
        <!--Language-->
        <div class="language">
            <a href="#" class="chinese">中文版</a> |
            <a href="#" class="deutsch">Deutsch</a>
        </div>
        <!--time-->
        <div class="time">
            <p id="times"></p>
        </div>
        <!--Search-->
        <div class="searchDiv">
            <form action="">
                <input type="text" class="search_input" placeholder="请输入搜索词">
                <a href="#" class="search_a">
                    <i class="fa fa-search"></i>
                </a>
            </form>
        </div>
    </div>
    <header class="header" id="header">
        <div class="h-fix">
            <div class="containers">
                <!--LoGo-->
                <div class="logo">
                    <a href="#" title="中德科技">
                        <img src="http://106.52.3.235/zdkj/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
                    </a>
                </div>
                <!--BarsIcon-->
                <div id="m-btn" class="m-btn">
                    <i class="fa fa-bars"></i>
                </div>
                <!--Nav-->
                <nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
                    <ul class="nav">
                        <li class="li-cate-1">
                            <a href="../index.html" class="li-cate_a">首页</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="../newsactivity/news_list.html" class="li-cate_a">新闻活动</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="../scientificcooperation/scientific-cooperation.html" class="li-cate_a">中德科技合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../scientificcooperation/keyanhezuo.html">科研合作</a>
                                </li>
                                <li>
                                    <a href="../scientificcooperation/technology-platform.html">科技支撑平台</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#" class="li-cate_a">中德教育合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../china_education/liuxue.html">留学服务</a>
                                </li>
                                <li>
                                    <a href="../china_education/youxue.html">游学访问</a>
                                </li>
                                <li>
                                    <a href="#">中德学校合作</a>
                                </li>
                                <li>
                                    <a href="#">中德学院</a>
                                </li>
                                <li>
                                    <a href="#">双元制大学</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#" class="li-cate_a">中德企业合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">企业考察</a>
                                </li>
                                <li>
                                    <a href="#">投资咨询</a>
                                </li>
                                <li>
                                    <a href="#">技术对接</a>
                                </li>
                                <li>
                                    <a href="#">成果转化</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#" class="li-cate_a">语言中心</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">商务德语课程</a>
                                </li>
                                <li>
                                    <a href="#">青少年德语课程</a>
                                </li>
                                <li>
                                    <a href="#">留德欧标课程</a>
                                </li>
                                <li>
                                    <a href="#">翻译服务</a>
                                </li>
                                <li>
                                    <a href="#">趣味德国</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1 active">
                            <a href="../aboutUs/centeroverview.html" class="li-cate_a">关于我们</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../aboutUs/organization.html">组织架构</a>
                                </li>
                                <li>
                                    <a href="../aboutUs/fazhanlicheng.html">发展历程</a>
                                </li>
                                <li>
                                    <a href="../aboutUs/developtarget.html">发展目标</a>
                                </li>
                                <li>
                                    <a href="../aboutUs/contactUs.html">联系我们</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--Mask-->
    <div id="mask"></div>
</div>

<section>
    <!--背景图-->
    <div class="container-fluid">
        <div class="row">
            <img class="centeroverview_img" src="../../static/imgs/aboutUs/centeroverview/background-zhongxing.png"/>
        </div>
    </div>
    <!--内容-->
    <div class="container-fluid centeroverviewDiv">
        <div class="row">
            <!--文字-->
            <div class="col-lg-6 col-xs-12 col-lg-offset-2">
                <div class="centeroverviewDiv_title">
                    <h1><strong>简 介</strong></h1>
                    <br>
                </div>
                <p class="centeroverviewDiv_p">
                    四川(乐山)中德科技促进中心成立于2016年，是由乐山高新区与西南交大峨眉校区及德国
                    夹斯特法利亚(Ostfalia) 应用科学大学三方共同打造的科技教育文化交流平台。
                </p>
                <p class="centeroverviewDiv_p">
                    我们有德国平台、高校平台，语言中心，科技中心及文化交流中心五个部门,
                    旨在以德国“工业4.0” 对接“中国制造2025”为主统，利用三方各自拥有及协同的优势资源，开展相关技术研发、
                    科技和德语（语言）培训、成果转化和咨询服务等科技教育合作活动，为乐山市和德国经济转型升级和社会发展
                    提供技术和人才支撑，促进中德科技、教育、文化、经济合作。
                </p>
                <p class="centeroverviewDiv_p">
                    四川(乐山)中德科技促进中心成立于2016年，是由乐山高新区与西南交大峨眉校区及德国
                    夹斯特法利亚(Ostfalia) 应用科学大学三方共同打造的科技教育文化交流平台。
                </p>
                <p class="centeroverviewDiv_p">
                    我们有德国平台、高校平台，语言中心，科技中心及文化交流中心五个部门,
                    旨在以德国“工业4.0” 对接“中国制造2025”为主统，利用三方各自拥有及协同的优势资源，开展相关技术研发、
                    科技和德语（语言）培训、成果转化和咨询服务等科技教育合作活动，为乐山市和德国经济转型升级和社会发展
                    提供技术和人才支撑，促进中德科技、教育、文化、经济合作。
                </p>
            </div>
            <!--标签-->
            <div class="col-lg-2 col-xs-12 centeroverviewDivSon">
                <br><br>
                <div>
                    <a href="./organization.html">
                        <img src="../../static/imgs/aboutUs/centeroverview/组织架构.png" alt="组织架构"/>
                    </a>
                </div>
                <div>
                    <a href="./fazhanlicheng.html">
                        <img src="../../static/imgs/aboutUs/centeroverview/发展历程.png" alt="发展历程"/>
                    </a>
                </div>
                <div>
                    <a href="./developtarget.html">
                        <img src="../../static/imgs/aboutUs/centeroverview/发展目标.png" alt="发展目标"/>
                    </a>
                </div>
            </div>
            <!--第三方签约仪式-->
            <div class="col-md-12">
                <a href="javascript:void (0)" title="第三方签约仪式">
                    <img style="margin-top: 40px" class="img-responsive center-block" src="../../static/imgs/aboutUs/centeroverview/dishangfang.png" alt="第三方签约仪式">
                </a>
                <p class="h4" style="text-align: center"><b>-第三方签约仪式-</b></p>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerDiv01">
                <div><span><strong><i class="fa fa-phone"></i>联系方式</strong></span></div>
                <div><span>手机：18728871721</span></div>
                <div><span>座机：0833-2595989</span></div>
                <div><span>邮箱：lszdkc@163.com</span></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerDiv01">
                <div><span><strong><i class="fa fa-map-marker"></i>地址</strong></span></div>
                <div><span>四川省乐山市高新区高新孵化园A区9楼901</span></div>
                <div><span>开放时间：周一至周五 9:00-17:00</span></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="footerDiv01_hr"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footerDiv01">
                <p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
                <p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
