<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/aboutUs/centeroverview.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
    <script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
    <!--背景图-->
    <div class="container-fluid">
        <div class="row">
            <img class="img-responsive center-block" src="../../static/imgs/index/banner1.png" alt="" width="100%"/>
        </div>
    </div>
    <!--内容-->
    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="col-md-12">
                <img class="center-block" src="../../static/imgs/footer/logo.png" width="20%" alt="">
            </div>
        </div>
    </div>
    <div class="container centeroverviewDiv">
        <div class="row">
            <!--文字-->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 centeroverviewDivSon01">
                <div class="centeroverviewDiv_title">
                    <h1 class="commonality_title">
                        简介
                    </h1>
                    <hr>
                </div>
                <p class="centeroverviewDiv_p">
                    四川(乐山)中德科技促进中心成立于2016年，是由乐山高新区与西南交大峨眉校区及德国
                    夹斯特法利亚(Ostfalia) 应用科学大学三方共同打造的科技教育文化交流平台。
                </p>
                <p class="centeroverviewDiv_p">
                    我们有德国平台、高校平台，语言中心，科技中心及文化交流中心五个部门,
                    旨在以德国“工业4.0” 对接“中国制造2025”为主统，利用三方各自拥有及协同的优势资源，开展相关技术研发、
                    科技和德语（语言）培训、成果转化和咨询服务等科技教育合作活动，为乐山市和德国经济转型升级和社会发展
                    提供技术和人才支撑，促进中德科技、教育、文化、经济合作。
                </p>
            </div>
            <!--标签-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 centeroverviewDivSon02">
                <br><br><br>
                <div>
                    <a href="./organization.html">
                        <img src="../../static/imgs/aboutUs/centeroverview/组织架构.png" alt="组织架构"/>
                    </a>
                </div>
                <div>
                    <a href="./fazhanlicheng.html">
                        <img src="../../static/imgs/aboutUs/centeroverview/发展历程.png" alt="发展历程"/>
                    </a>
                </div>
                <div align="center">
                    <a href="./contactUs.html">
                        <p class="lxwm"><i class="fa fa-phone"></i><span>联系我们</span></p>
                    </a>
                </div>
            </div>
            <!--第三方签约仪式-->
            <div class="col-md-12 centeroverviewDivqinayue">
                <a href="javascript:void (0)" title="第三方签约仪式">
                    <img class="img-responsive center-block" src="../../static/imgs/aboutUs/centeroverview/dishangfang.png" alt="第三方签约仪式">
                </a>
                <p class="h4"><b>-第三方签约仪式-</b></p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
