<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/aboutUs/aboutUs.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
    <script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
    <script>
		$(function () {$(".li-cate-1").eq(8).addClass("active");})
    </script>
</head>
<body>
<!--
<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="top: 20%;width: 100%;margin: 0 auto;">
        <div class="modal-content" align="center" style="width: 100%;background-color: #00000000;">
            <img id="largerVersion" src="" alt="" style="max-width: 80%;">
        </div>
    </div>
</div>
-->

<section class="aboutUs">
    <div class="container-fluid">
        <div class="row">
            <img class="img-responsive center-block" src="../../static/imgs/aboutUs/aboutUs.png" alt="" width="100%"/>
        </div>
    </div>
    <div class="container" style="padding-bottom: 50px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="subnav">
                    <a href="./centeroverview.html" style="text-decoration: none;"><h3 style="margin: 0;">关于我们</h3></a>
                    <ul class="navcon">
                        <li class="cur"><i></i><a href="./centeroverview.html">简介</a></li>
                        <li><i></i><a href="./organization.html">组织架构</a></li>
                        <li><i></i><a href="./fazhanlicheng.html">发展历程</a></li>
                        <li><i></i><a href="./contactUs.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">
                <div class="article">
                    <h2 style="text-align: center;padding: 30px 0;" class="commonality_title">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="center-block" src="../../static/imgs/logoxlwm.png" width="40%" alt="">
                            </div>
                        </div>
                        <br>
                        简介
                    </h2>
                    <div class="art_con">
                        <p>
                            四川(乐山)中德科技促进中心成立于2016年，是由乐山高新区与西南交大峨眉校区及德国奥斯特法利亚(Ostfalia) 应用科学大学三方共同打造的科技教育文化交流平台。
                        </p>
                        <p>
                            我们有德国平台、高校平台，语言中心，科技中心及文化交流中心五个部门,旨在以德国“工业4.0” 对接“中国制造2025”为主统，利用三方各自拥有及协同的优势资源，开展相关技术研发、科技和德语（语言）培训、成果转化和咨询服务等科技教育合作活动，为乐山市和德国经济转型升级和社会发展提供技术和人才支撑，促进中德科技、教育、文化、经济合作。
                        </p>
                        <div class="row">
                            <div class="col-md-12 centeroverviewDivqinayue">
                                <a href="javascript:void (0)" title="第三方签约仪式">
                                    <img class="img-responsive center-block" src="../../static/imgs/aboutUs/dishangfang.png" alt="第三方签约仪式">
                                </a>
                                <p class="h4"><b>-第三方签约仪式-</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
