<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>联系我们</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/aboutUs/aboutUs.css">
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/createMaps.js"></script>
	<script type="text/javascript" src="../../static/js/maps.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section class="aboutUs">
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/aboutUs/aboutUs.png" width="100%"
				 alt=""/>
		</div>
	</div>
	<div class="container" style="padding-bottom: 50px;">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div class="subnav">
					<a href="./centeroverview.html" style="text-decoration: none;"><h3 style="margin: 0;">关于我们</h3></a>
					<ul class="navcon">
						<li><i></i><a href="./centeroverview.html">简介</a></li>
						<li><i></i><a href="./organization.html">组织架构</a></li>
						<li><i></i><a href="./fazhanlicheng.html">发展历程</a></li>
						<li class="cur"><i></i><a href="./contactUs.html">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-8">
				<div class="article">
					<div class="row" style="text-align: center;padding: 30px 0;">
						<div class="col-md-12">
							<img class="center-block" src="../../static/imgs/logoxlwm.png" width="40%" alt="">
						</div>
						<div class="col-md-12" style="padding: 50px 0;">
							<p class="contactUsp">
								以中德科技合作助力中国企业对标德国4.0
							</p>
							<p class="contactUsp">
								以中德教育合作批量培养国际化人才
							</p>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<img style="border-radius: 50%;width: 90%" class="img-responsive center-block"
								 src="../../static/imgs/aboutUs/mubiao.png" alt="目标">
						</div>
					</div>
					<h2 class="commonality_title">
						<br>
						联系我们
					</h2>
					<div style="padding-top: 50px;">
						<form action="javascript:void(0);" method="get" id="contactForm">
							<div class="form-row" id="contact_us">
								<div class="col-md-6" id="message">
									<fieldset>
										<legend><i class="fa fa-envelope"></i> 联系我们</legend>
									</fieldset>
									<div class="form-group has-feedback">
										<label for="from_name">姓名</label>
										<input class="form-control" type="text" name="from_name" required=""
											   placeholder="请输入姓名"
											   id="from_name" tabindex="-1">
									</div>
									<div class="form-group has-feedback">
										<label for="from_email">邮箱</label>
										<input class="form-control" type="email" name="from_email" required=""
											   placeholder="请输入邮箱"
											   id="from_email">
									</div>
									<div class="form-group has-feedback">
										<label for="from_phone">电话</label>
										<input class="form-control" type="text" name="from_name" required=""
											   placeholder="请输入电话号码"
											   id="from_phone" tabindex="-1">
									</div>
									<div class="form-group">
										<label for="comments">评论</label>
										<textarea class="form-control" rows="5" name="Comments" placeholder="在这里输入评论"
												  id="comments"></textarea></div>
									<div class="form-group">
										<button class="btn btn-primary btn-block" id="submitInfo" type="submit">
											发送&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"
															 style="color: white;"></i>
										</button>
									</div>
									<hr>
								</div>
								<div class="col-md-6 lxwm_content">
									<div class="form-row">
										<div class="col-md-12 col-sm-12">
											<fieldset>
												<legend><i class="fa fa-phone"></i> 联系我们</legend>
											</fieldset>
											<div><span><strong>手机：</strong>总负责人: 陆主任--18384651575 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 语言中心负责人: 余主任--18383359630</span>
											</div>
											<div><span><strong>座机：</strong>0833-2595989</span></div>
											<div><span><strong>邮箱：</strong>lszdkc@163.com</span></div>
											<hr>
										</div>
										<div class="col-md-12 col-sm-12">
											<fieldset>
												<legend><i class="fa fa-map-marker"></i> 联系地址</legend>
											</fieldset>
											<div><span><strong>办公室</strong></span></div>
											<div><span>四川省乐山市高新区安港路489号高新孵化园A园9楼910</span></div>
											<div><span><strong>开放时间</strong></span></div>
											<div><span>周一至周五 9:00-17:00</span></div>
											<hr>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-xs-12">
									<fieldset>
										<legend><i class="fa fa-location-arrow"></i> 找到我们</legend>
									</fieldset>
									<div class="row">
										<div class="col-md-12" id="maps">
											<div id="container"></div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer id="myFooter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 myFooter_div">
				<a href="../index.html" class="myFooter_logo" title="中德科技">
					<img class="myFooter_div_logo" src="../../static/imgs/logoFooter.png" alt="">
				</a>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 myFooter_divs myFooter_div_more"
				 style="margin-top: 20px;">
				<p>
					<i class="fa fa-paper-plane-o"></i>友情链接
				</p>
				<p>
					<a target="_blank" href="https://www.swjtu.edu.cn/">西南交大</a>
				</p>
				<p>
					<a target="_blank" href="http://gxq.leshan.gov.cn/">乐山高新区</a>
				</p>

				<p>
					<a target="_blank" href="https://www.Goethe.de/ins/cn/zh/index.html">歌德学院</a>
				</p>
				<p>
					<a target="_blank" href="https://www.hochschulkompass.de/home.html">德国高校指南</a>
				</p>
				<p>
					<a target="_blank" href="http://www.sinogermanscience.org.cn/cn/index.html">中德科学中心</a>
				</p>
				<p>
					<a target="_blank" href="https://www.vdi.eu/">德国工程师协会</a>
				</p>
				<p>
					<a target="_blank" href="http://www.che-ranking.de/cms/?getObject=613&getLang=en">德国大学专业评估( CHE
						)</a>
				</p>
				<p>
					<a target="_blank" href="https://www.daad.org.cn/zh/">德意志学术交流中心( DAAD )</a>
				</p>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 myFooter_div weixingongzhonghao_div">
				<img class="weixingongzhonghao" src="../../static/imgs/weixingongzhonghao.jpg" alt="">
				<br><br>
				<p>微信公众号</p>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-copyright">
				<p>版权所有四川中德科技促进中心 <a target="_blank" href="http://www.beian.miit.gov.cn">蜀ICP备19034889号</a></p>
				<p style="margin-top: 8px;">Copyright© 2019 China-germany science and technology promotion center.All
					Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>

<script>
	$(document).ready(function () {
		$(".li-cate-1").eq(8).addClass("active");
		$("#submitInfo").click(function () {
			const name = $("#from_name").val();
			const email = $("#from_email").val();
			const phone = $("#from_phone").val();
			let comments = $("#comments").val();
			if (name !== "" && email !== "" && phone !== "") {
				if (comments === "") {
					comments = "无评论";
				}
				$.ajax({
					type: "POST",
					url: globalUrl("contactUs"),
					data: {
						"name": name,
						"coment": comments,
						"email": email,
						"phone": phone
					},
					dataType: "json",
					success: function (data) {
						if (data.resultCode === 200) {
							alert("信息发送成功，请耐心等待我们的回复。");
							window.location.reload();
						} else {
							alert(data.message);
						}
					},
					error: function () {
						alert("服务器繁忙，请稍后再试！");
					}
				});
			}
		})
	})
</script>

</body>
</html>
