<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联系我们</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/aboutUs/contactUs.css">
    <script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body>

<div id="title">
    <!--languageSearch-->
    <div class="languageSearch">
        <!--Language-->
        <div class="language">
            <a href="#" class="chinese">中文版</a> |
            <a href="#" class="deutsch">Deutsch</a>
        </div>
        <!--Search-->
        <div class="searchDiv">
            <form action="">
                <input type="text" class="search_input" placeholder="请输入搜索词">
                <a href="#" class="search_a">
                    <i class="fa fa-search"></i>
                </a>
            </form>
        </div>
    </div>
    <header class="header" id="header">
        <div class="h-fix">
            <div class="containers">
                <!--LoGo-->
                <div class="logo">
                    <a href="#" title="中德科技">
                        <img src="../../static/imgs/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
                    </a>
                </div>
                <!--BarsIcon-->
                <div id="m-btn" class="m-btn">
                    <i class="fa fa-bars"></i>
                </div>
                <!--Nav-->
                <nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
                    <ul class="nav">
                        <li class="li-cate-1">
                            <a href="../index.html">首页</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">新闻活动</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德科技合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">科研合作</a>
                                </li>
                                <li>
                                    <a href="#">科技支撑平台</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德教育合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">留学服务</a>
                                </li>
                                <li>
                                    <a href="#">游学访问</a>
                                </li>
                                <li>
                                    <a href="#">中德学校合作</a>
                                </li>
                                <li>
                                    <a href="#">中德学院</a>
                                </li>
                                <li>
                                    <a href="#">双元制大学</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德企业合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">企业考察</a>
                                </li>
                                <li>
                                    <a href="#">投资咨询</a>
                                </li>
                                <li>
                                    <a href="#">技术对接</a>
                                </li>
                                <li>
                                    <a href="#">成果转化</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">语言中心</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">商务德语课程</a>
                                </li>
                                <li>
                                    <a href="#">青少年德语课程</a>
                                </li>
                                <li>
                                    <a href="#">留德欧标课程</a>
                                </li>
                                <li>
                                    <a href="#">翻译服务</a>
                                </li>
                                <li>
                                    <a href="#">趣味德国</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1 active">
                            <a href="#">关于我们</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="./centeroverview.html">中心概况</a>
                                </li>
                                <li>
                                    <a href="./organization.html">组织架构</a>
                                </li>
                                <li>
                                    <a href="#">发展历程</a>
                                </li>
                                <li>
                                    <a href="#">发展目标</a>
                                </li>
                                <li>
                                    <a href="./contactUs.html">联系我们</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--Mask-->
    <div id="mask"></div>
</div>

<section>
    <!--背景图-->
    <div class="container-fluid">
        <div class="row">
            <img src="../../static/imgs/aboutUs/contactUs/about.png" class="img-responsive" width="100%" alt=""/>
        </div>
    </div>

    <!-- 当前页面位子 -->
    <!--<div class="container">
        <div class="row">
            <img src="../../static/imgs/aboutUs/contactUs/position.png"> 当前位置&gt;&gt;联系我们-公司概况
        </div>
    </div>-->
</section>

<div class="c-position">
    <div class="container content">
        <img src="../../static/imgs/aboutUs/contactUs/position.png"> 当前位置&gt;&gt;联系我们-公司概况
    </div>
</div>


<!-- 简介 -->
<div class="c-survey">
    <div class="container">
        <!-- 标题 -->
        <div class="titleFle">
            <div class="fleItem">
                <span class="leftFont">M</span>
            </div>
            <div class="fleItem">
                <span class="chinaese">中德科技促进中心</span>
                <span class="english">China and deutsche technology center</span>
            </div>
        </div>
        <!-- 我们是谁 -->
        <div class="row how">
            <div class="col-md-7 word">
                <div class="title">
                    <h1>我们是谁？</h1>
                    <span>懂您所需、做您所想</span>
                </div>
                <div class="content">
                   中德科技促进中心（缺资料）
                </div>
            </div>
            <div class="col-md-5 pic">
                <img src="../../static/imgs/aboutUs/contactUs/about.png" class="img-responsive">
            </div>
        </div>
        <!-- 我们能做什么 -->
        <div class="row can">
            <div class="col-md-7 word">
                <div class="title">
                    <h1>我们能做什么？</h1>
                    <span>我们提供的产品</span>
                </div>
                <div class="content">
                    我们秉承“诚恳、高效、价值、创新”的企业文化。
                    怀着对马赛克艺术的执着，以极强的创造力和敬业精神,以及强大的团队，
                    为您提供多样的、颜色搭配丰富的马赛克组合，
                    务求以更专业更优质的服务态度为您打造一个不一样的富丽堂皇的空间效果！
                    (缺资料)
                </div>
            </div>
            <div class="col-md-5 pic">
                <img src="../../static/imgs/aboutUs/contactUs/about.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<!-- 联系我们 -->
<div class="c-contactUs">
    <div class="container">
        <!-- 标题 -->
        <div class="titleFle">
            <div class="fleItem">
                <span class="leftFont">C</span>
            </div>
            <div class="fleItem">
                <span class="chinaese">联系我们</span>
                <span class="english">ontact us</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 contact">
                <ul>
                    <li>
                        <img src="../../static/imgs/aboutUs/contactUs/phone.png">
                        <div class="info">
                            <span>全国免费咨询热线</span>
                            <span>18728871721</span>
                        </div>
                    </li>
                    <li>
                        <img src="../../static/imgs/aboutUs/contactUs/fax.png">
                        <div class="info">
                            <span>座机</span>
                            <span>0833-2595989</span>
                        </div>
                    </li>
                    <li>
                        <img src="../../static/imgs/aboutUs/contactUs/e-mail.png">
                        <div class="info">
                            <span>邮箱</span>
                            <span>1lszdkc@163.com</span>
                        </div>
                    </li>

                    <li>
                        <img src="../../static/imgs/aboutUs/contactUs/address.png">
                        <div class="info">
                            <span>地址</span>
                            <span> 四川省乐山市高新区高新孵化园A区</span>
                        </div>
                    </li>
                    <li>
                        <img src="../../static/imgs/aboutUs/contactUs/date.png">
                        <div class="info">
                            <span>开放时间</span>
                            <span>周一至周五 9:00-17:00</span>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-sm-6 message">
                <form>
                    <ul>
                        <li>你好.欢迎您给我们提出问题</li>
                        <li>
                            <span>姓名 </span>
                            <p><input type="text" name="name"></p>
                        </li>
                        <li>
                            <span>邮箱 </span>
                            <p><input type="text" name="email"></p>
                        </li>
                        <li>
                            <span>信息 </span>
                            <p><textarea name="message"></textarea></p>
                        </li>
                        <li>
                            <input type="button" class="messageBtn" value="提交留言">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer" style="color: #999999;font-size: 1rem;padding: 15px;text-align: center;background-color: #2C2C2C;">
        <p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
        <p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
    </div>
</footer>

</body>
</html>
