<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>发展目标</title>

    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/aboutUs/centeroverview.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
</head>
<body>

    <div>
        <img src="../../static/imgs/aboutUs/contactUs/about.png" alt="" width="100%"/>
    </div>

    <div class="container">
        <div class="row" style="margin-top: 50px;margin-bottom: 20px">
            <div class="col-lg-12">
                <p style="text-align: center;font-size: 1.5em;margin-bottom: 20px;font-weight: bold">以中德科技合作助力中国企业对标德国4.0</p>
            </div>
            <div class="row" style="margin-top: 30px">
                <div class="col-lg-6">
                    <img class="center-block" src="../../static/imgs/scientificcooperation/seli1.jpg" width="349"/>
                </div>
                <div class="col-lg-6">
                    <img class="center-block" src="../../static/imgs/scientificcooperation/seli1.jpg" width="349"/>
                </div>
            </div>

            <div class="col-lg-12" style="margin-top: 50px;margin-bottom: 10px;">
                <p style="text-align: center;font-size: 1.5em;font-weight: bold">以中德教育合作批量培养国际化人才</p>
            </div>
            <div class="row" style="margin-top: 30px">
                <div class="col-lg-6">
                    <img class="center-block" src="../../static/imgs/scientificcooperation/seli1.jpg" width="349"/>
                </div>
                <div class="col-lg-6">
                    <img class="center-block" src="../../static/imgs/scientificcooperation/seli1.jpg" width="349"/>
                </div>
            </div>
        </div>
    </div>



</body>
</html>