<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>发展目标</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/aboutUs/centeroverview.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
	<style type="text/css">
		.developtargetDiv{
			padding: 50px;
			text-align: left;
		}
		.developtargetDiv h3{
			color: #444444;
			letter-spacing: 2px;
			font-weight: bolder;
			margin-top: 10%;
		}
		.developtargetDiv img{
			border-radius: 50%;
		}
		@media (max-width: 1024px) {
			.developtargetDiv{
				padding: 20px;
				text-align: center;
			}
			.developtargetDiv h3{
				margin-top: 5%;
			}
		}
	</style>
</head>
<body>

<section style="background-color: #cbcbcb;">
	<!-- 背景图 -->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/contactUs.jpg" alt="" width="100%"/>
		</div>
	</div>
	<!--内容-->
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 developtargetDiv">
				<img src="../../static/imgs/aboutUs/contactUs/mubiao.png" class="img-responsive" alt="目标">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 developtargetDiv">
				<br><br>
				<h3>以中德科技合作助力中国企业对标德国4.0</h3>
				<h3>以中德教育合作批量培养国际化人才</h3>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
