<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>发展历程</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/aboutUs/demo.css">
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body style="background-color: #dddddd">

<div id="title">
	<!--languageSearch-->
	<div class="languageSearch">
		<!--Language-->
		<div class="language">
			<a href="#" class="chinese">中文版</a> |
			<a href="#" class="deutsch">Deutsch</a>
		</div>
		<!--time-->
		<div class="time">
			<p id="times"></p>
		</div>
		<!--Search-->
		<div class="searchDiv">
			<form action="">
				<input type="text" class="search_input" placeholder="请输入搜索词">
				<a href="#" class="search_a">
					<i class="fa fa-search"></i>
				</a>
			</form>
		</div>
	</div>
	<header class="header" id="header">
		<div class="h-fix">
			<div class="containers">
				<!--LoGo-->
				<div class="logo">
					<a href="#" title="中德科技">
						<img src="http://106.52.3.235/zdkj/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
					</a>
				</div>
				<!--BarsIcon-->
				<div id="m-btn" class="m-btn">
					<i class="fa fa-bars"></i>
				</div>
				<!--Nav-->
				<nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
					<ul class="nav">
						<li class="li-cate-1">
							<a href="../index.html" class="li-cate_a">首页</a>
						</li>
						<li class="li-cate-1">
							<a href="../newsactivity/news_list.html" class="li-cate_a">新闻活动</a>
						</li>
						<li class="li-cate-1">
							<a href="../scientificcooperation/scientific-cooperation.html" class="li-cate_a">中德科技合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../scientificcooperation/keyanhezuo.html">科研合作</a>
								</li>
								<li>
									<a href="../scientificcooperation/technology-platform.html">科技支撑平台</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="#" class="li-cate_a">中德教育合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../china_education/liuxue.html">留学服务</a>
								</li>
								<li>
									<a href="../china_education/youxue.html">游学访问</a>
								</li>
								<li>
									<a href="#">中德学校合作</a>
								</li>
								<li>
									<a href="#">中德学院</a>
								</li>
								<li>
									<a href="#">双元制大学</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="#" class="li-cate_a">中德企业合作</a>
							<ul class="sub-menu">
								<li>
									<a href="#">企业考察</a>
								</li>
								<li>
									<a href="#">投资咨询</a>
								</li>
								<li>
									<a href="#">技术对接</a>
								</li>
								<li>
									<a href="#">成果转化</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="#" class="li-cate_a">语言中心</a>
							<ul class="sub-menu">
								<li>
									<a href="#">商务德语课程</a>
								</li>
								<li>
									<a href="#">青少年德语课程</a>
								</li>
								<li>
									<a href="#">留德欧标课程</a>
								</li>
								<li>
									<a href="#">翻译服务</a>
								</li>
								<li>
									<a href="#">趣味德国</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1 active">
							<a href="../aboutUs/centeroverview.html" class="li-cate_a">关于我们</a>
							<ul class="sub-menu">
								<li>
									<a href="../aboutUs/organization.html">组织架构</a>
								</li>
								<li>
									<a href="../aboutUs/fazhanlicheng.html">发展历程</a>
								</li>
								<li>
									<a href="../aboutUs/developtarget.html">发展目标</a>
								</li>
								<li>
									<a href="../aboutUs/contactUs.html">联系我们</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!--Mask-->
	<div id="mask"></div>
</div>

<section>
	<!--背景图-->
	<div class="container-fluid">
		<div class="row">
			<img class="centeroverview_img" width="100%"
				 src="../../static/imgs/aboutUs/centeroverview/background-zhongxing.png"/>
		</div>
	</div>
	<!--内容-->
	<div class="demo" style="padding: 50px 0;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-timeline">
						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2018</span>
								</span>

								<h2 class="title">2018重要历程</h2>

								<p class="description">
									1.第8批学生赴德留学；<br/>
									2.与西华大学、乐山师范、成都大学、成都理工等交流，参加四川大学第十届中
									德教授论坛，就中德科技教育合作深入探讨；<br/>
									3.细化四川(乐山)中德科技促进中心工作，设语言中心、德国平台、高校平台、
									科技中心、文化交流五个部门；<br/>
									4.网站http://www.wenguikeji-edu.com/
								</p>
							</div>
						</div>

						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2017</span>
								</span>

								<h2 class="title">2017重要历程</h2>

								<p class="description">
									1.第7批学生赴德留学；<br/>
									2.第3批教师赴德访学；<br/>
									3.组织德国工程师办会等专家与峨眉山政府治读中德学院事宜；<br/>
									4.组织德国工程师协会等专家与乐山高新区洽谈中德科技合作事宜；<br/>
									5.组织德国计算机网络专家与乐山高新区、西南交大洽谈中德科技合作事宜；<br/>
									6.组织德国汽车领域专家赴重庆洽谈中德科技合作事宜；<br/>
									7.拟制峨眉山、乐山、西南交大《中德工程学院建设方案》；<br/>
									8.与乐山师范洽谈汽车服务工程专业的中德合作事宜，达成初步合作意向。
								</p>
							</div>
						</div>
						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2016</span>
								</span>

								<h2 class="title">2016重要历程</h2>

								<p class="description">
									1.第6批学生赴德留学；<br/>
									2.德国OST校长、副校长、外事处长、刘晓波教授等赴峨眉交流；<br/>
									3.组织OST、峨眉校区、乐山高新区签订了“四川(乐山)中德科技促进中心”协议；<br/>
									4.与乐山、峨眉山、成都等地治谈中德学院合作办学事宜。
								</p>
							</div>
						</div>

						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2015</span>
								</span>

								<h2 class="title">2015重要历程</h2>

								<p class="description">
									1.第5批学生赴德留学；<br/>
									2.与Bielefeld应用科学大学签订“4+2”培养研究生项目；<br/>
									3.组织师生参加德国国际夏令营活动；<br/>
									4.第2批教师赴德访学；<br/>
									5.赴浙江科技学院参加中德论坛。

								</p>
							</div>
						</div>
						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2014</span>
								</span>

								<h2 class="title">2014重要历程</h2>

								<p class="description">
									1.第4批学生赴德留学，合作扩大到计算机专业； <br/>
									2.第1批教师赴德访学。
								</p>
							</div>
						</div>
						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2013</span>
								</span>

								<h2 class="title">2016重要历程</h2>

								<p class="description">
									1.第3批学生赴德留学，合作扩大到电气专业； <br/>
									2.组织15名教师进行了为期一年的德语培训；<br/>
									3.教师代表赴德参加中德论坛。

								</p>
							</div>
						</div>
						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2012</span>
								</span>

								<h2 class="title">2012重要历程</h2>

								<p class="description">
									1.第2批学生赴德留学
								</p>
							</div>
						</div>
						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2011</span>
								</span>

								<h2 class="title">2011重要历程</h2>

								<p class="description">
									1.第1名留学生王超赴德留学；<br/>
									2.成立德语班。

								</p>
							</div>
						</div>
						<div class="timeline">
							<div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2010</span>
								</span>

								<h2 class="title">2010重要历程</h2>

								<p class="description">
									1.与德国奥斯特法利亚应用科学大学签订“4+2”培养研究生项目； <br/>
									2.成立中德合作小组。

								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footerDiv01">
				<p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
				<p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
