<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发展历程</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/aboutUs/demo.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
    <style>


    </style>
</head>
<body style="background-color: #dddddd">
<section>
    <div class="container-fluid">
        <div class="row">
            <img class="centeroverview_img" width="100%"
                 src="../../static/imgs/aboutUs/centeroverview/background-zhongxing.png"/>
        </div>
    </div>
</section>

<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2018</span>
								</span>

                            <h2 class="title">2018重要历程</h2>

                            <p class="description">
                                1.第8批学生赴德留学；<br/>
                                2.与西华大学、乐山师范、成都大学、成都理工等交流，参加四川大学第十届中
                                德教授论坛，就中德科技教育合作深入探讨；<br/>
                                3.细化四川(乐山)中德科技促进中心工作，设语言中心、德国平台、高校平台、
                                科技中心、文化交流五个部门；<br/>
                                4.网站http://www.wenguikeji-edu.com/
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2017</span>
								</span>

                            <h2 class="title">2017重要历程</h2>

                            <p class="description">
                                1.第7批学生赴德留学；<br/>
                                2.第3批教师赴德访学；<br/>
                                3.组织德国工程师办会等专家与峨眉山政府治读中德学院事宜；<br/>
                                4.组织德国工程师协会等专家与乐山高新区洽谈中德科技合作事宜；<br/>
                                5.组织德国计算机网络专家与乐山高新区、西南交大洽谈中德科技合作事宜；<br/>
                                6.组织德国汽车领域专家赴重庆洽谈中德科技合作事宜；<br/>
                                7.拟制峨眉山、乐山、西南交大《中德工程学院建设方案》；<br/>
                                8.与乐山师范洽谈汽车服务工程专业的中德合作事宜，达成初步合作意向。
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2016</span>
								</span>

                            <h2 class="title">2016重要历程</h2>

                            <p class="description">
                                1.第6批学生赴德留学；<br/>
                                2.德国OST校长、副校长、外事处长、刘晓波教授等赴峨眉交流；<br/>
                                3.组织OST、峨眉校区、乐山高新区签订了“四川(乐山)中德科技促进中心”协议；<br/>
                                4.与乐山、峨眉山、成都等地治谈中德学院合作办学事宜。
                            </p>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2015</span>
								</span>

                            <h2 class="title">2015重要历程</h2>

                            <p class="description">
                                1.第5批学生赴德留学；<br/>
                                2.与Bielefeld应用科学大学签订“4+2”培养研究生项目；<br/>
                                3.组织师生参加德国国际夏令营活动；<br/>
                                4.第2批教师赴德访学；<br/>
                                5.赴浙江科技学院参加中德论坛。

                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2014</span>
								</span>

                            <h2 class="title">2014重要历程</h2>

                            <p class="description">
                                1.第4批学生赴德留学，合作扩大到计算机专业； <br/>
                                2.第1批教师赴德访学。
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2013</span>
								</span>

                            <h2 class="title">2016重要历程</h2>

                            <p class="description">
                                1.第3批学生赴德留学，合作扩大到电气专业； <br/>
                                2.组织15名教师进行了为期一年的德语培训；<br/>
                                3.教师代表赴德参加中德论坛。

                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2012</span>
								</span>

                            <h2 class="title">2012重要历程</h2>

                            <p class="description">
                                1.第2批学生赴德留学
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2011</span>
								</span>

                            <h2 class="title">2011重要历程</h2>

                            <p class="description">
                                1.第1名留学生王超赴德留学；<br/>
                                2.成立德语班。

                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
								<span class="date">
									<br/>
									<span class="month">2010</span>
								</span>

                            <h2 class="title">2010重要历程</h2>

                            <p class="description">
                                1.与德国奥斯特法利亚应用科学大学签订“4+2”培养研究生项目； <br/>
                                2.成立中德合作小组。

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="footer" style="font-size: 1rem;padding: 15px;text-align: center;background-color: #2C2C2C;">
        <p style="color: #999999;">京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>

        <p style="color: #999999;">Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
    </div>
</footer>

</body>
</html>
