<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>组织构架</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/aboutUs/aboutUs.css" type="text/css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section class="aboutUs">
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/aboutUs/contactUs/about.png" alt="" width="100%"/>
		</div>
	</div>
	<div class="container" style="padding-bottom: 50px;">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div class="subnav">
					<a href="./centeroverview.html" style="text-decoration: none;"><h3 style="margin: 0;">关于我们</h3></a>
					<ul class="navcon">
						<li><i></i><a href="./centeroverview.html">简介</a></li>
						<li class="cur"><i></i><a href="./organization.html">组织架构</a></li>
						<li><i></i><a href="./fazhanlicheng.html">发展历程</a></li>
						<li><i></i><a href="./contactUs.html">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-8">
				<div class="article">
					<h2 style="text-align: center;padding: 30px 0;" class="commonality_title">
						<div class="row">
							<div class="col-md-12">
								<img class="center-block" src="../../static/imgs/aboutUs/logoxlwm.png" width="40%" alt="">
							</div>
						</div>
						<br>
						组织构架
					</h2>
					<div class="row">
						<div class="col-md-12 organizationDiv02" style="padding-top: 30px">
							<a href="javascript:void (0)" title="组织框架">
								<div>
									<img class="img-responsive center-block" src="../../static/imgs/aboutUs/centeroverview/zuzhijiagou.png" alt="组织框架"/>
								</div>
							</a>
						</div>
						<div class="col-md-12 organizationDiv03" style="padding-bottom: 50px">
							<div>
								<p><b>德国平台：</b>德方开展有利于中德合作的各种活动，以及人才飞地。</p>
							</div>
							<div>
								<p><b>语言中心：</b>负责对学校师生及乐山地区中，有意向中德合作人员德语培训和留学服务、游学访问等。</p>
							</div>
							<div>
								<p><b>院校服务：</b>负责推动川内高校与德国高校的合作，建设双元制大学、中德学校，以培养国际化人才。</p>
							</div>
							<div>
								<p><b>企业服务：</b>负责企业相关中德合作，例如考察、投资等。</p>
							</div>
							<div>
								<p><b>文化交流：</b>负责推动中德之间文化交流合作。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
