<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组织构架</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body>

<div id="title">
    <!--languageSearch-->
    <div class="languageSearch">
        <!--Language-->
        <div class="language">
            <a href="#" class="chinese">中文版</a> |
            <a href="#" class="deutsch">Deutsch</a>
        </div>
        <!--Search-->
        <div class="searchDiv">
            <form action="">
                <input type="text" class="search_input" placeholder="请输入搜索词">
                <a href="#" class="search_a">
                    <i class="fa fa-search"></i>
                </a>
            </form>
        </div>
    </div>
    <header class="header" id="header">
        <div class="h-fix">
            <div class="containers">
                <!--LoGo-->
                <div class="logo">
                    <a href="#" title="中德科技">
                        <img src="../../static/imgs/logo.jpg" alt="中德科技" title="中德科技" class="logo_icon"/>
                    </a>
                </div>
                <!--BarsIcon-->
                <div id="m-btn" class="m-btn">
                    <i class="fa fa-bars"></i>
                </div>
                <!--Nav-->
                <nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
                    <ul class="nav">
                        <li class="li-cate-1">
                            <a href="../index.html">首页</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">新闻活动</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德科技合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">科研合作</a>
                                </li>
                                <li>
                                    <a href="#">科技支撑平台</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德教育合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">留学服务</a>
                                </li>
                                <li>
                                    <a href="#">游学访问</a>
                                </li>
                                <li>
                                    <a href="#">中德学校合作</a>
                                </li>
                                <li>
                                    <a href="#">中德学院</a>
                                </li>
                                <li>
                                    <a href="#">双元制大学</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">中德企业合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">企业考察</a>
                                </li>
                                <li>
                                    <a href="#">投资咨询</a>
                                </li>
                                <li>
                                    <a href="#">技术对接</a>
                                </li>
                                <li>
                                    <a href="#">成果转化</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="#">语言中心</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">商务德语课程</a>
                                </li>
                                <li>
                                    <a href="#">青少年德语课程</a>
                                </li>
                                <li>
                                    <a href="#">留德欧标课程</a>
                                </li>
                                <li>
                                    <a href="#">翻译服务</a>
                                </li>
                                <li>
                                    <a href="#">趣味德国</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1 active">
                            <a href="#">关于我们</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="./centeroverview.html">中心概况</a>
                                </li>
                                <li>
                                    <a href="./organization.html">组织架构</a>
                                </li>
                                <li>
                                    <a href="#">发展历程</a>
                                </li>
                                <li>
                                    <a href="#">发展目标</a>
                                </li>
                                <li>
                                    <a href="./contactUs.html">联系我们</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--Mask-->
    <div id="mask"></div>
</div>

<div>
    <img width="100%" src="../../static/imgs/aboutUs/centeroverview/background-zhongxing.png"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <img style="margin-top: 30px" class="center-block" src="../../static/imgs/aboutUs/centeroverview/leshan-font-organization.png"/>
            </div>
            <div>
                <img class="img-responsive center-block" src="../../static/imgs/aboutUs/centeroverview/organization-img.jpg"/>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-4 col-md-9 col-md-offset-3 col-sm-10 col-sm-offset-2">
            <div style="font-size: 1em;padding-bottom: 20px">
                <div style="margin-top: 20px">
                    <p><b>德国平台：</b>德方开展有利于中德合作的各种活动，以及人才飞地。</p>
                </div>
                <div style="margin-top: 20px">
                    <p><b>语言中心：</b>负责对学校师生及乐山地区中，有意向中德合作人员德语培训和留学服务。</p>
                </div>
                <div style="margin-top: 20px">
                    <p><b>高校平台：</b>负责推动川内高校与德国高校的合作，批量培养国际化人才。</p>
                </div>
                <div style="margin-top: 20px">
                    <p><b>科技中心：</b>负责企业相关中德合作，主要由机电工程应用研究所承担。</p>
                </div>
                <div style="margin-top: 20px">
                    <p><b>文化交流：</b>负责推动中德之间文化交流合作。</p>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="footer" style="color: #999999;font-size: 1rem;padding: 15px;text-align: center;background-color: #2C2C2C;">
        <p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
        <p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
    </div>
</footer>


<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/jquery-3.2.1.min.js"></script>
</body>
</html>
