.youxuediv {
	padding: 50px 0;
	text-align: center;
}

.youxuediv .sec-title h1 {
	color: #333333;
}

.youxuediv .border-shape {
	background: #ddd;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 350px;
}

.youxuediv .border-shape::before {
	background: #ddd none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.youxuediv .border-shape::after {
	background: #ddd none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 70px;
	margin: 0 auto;
}

.youxuediv_info {
	height: 300px;
	padding: 0;
	overflow: hidden;
}

.youxuediv_info img {
	width: 100%;
	transition: all 0.3s;
}

.youxuediv_info img:hover{
	transform: scale(1.4);
}

.youxuediv_info p {
	color: #333333;
	font-size: 1.4em;
	letter-spacing: 2px;
	text-indent: 2em;
	line-height: 2em;
	padding: 20px;
}


/*xueshengyouxue*/
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}

.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 300px;
	overflow: hidden;
}

.home-features-area {

}

.section-padding {
	padding-bottom: 50px;
}

.single-home-feature {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: .4s;
}

.single-home-feature:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.single-home-feature img {
	width: 100%;
}

.home-features-contents {
	padding: 20px;
	position: relative;
	padding-bottom: 15px;
}

.home-features-contents:before {
	position: absolute;
	content: "";
	width: 8px;
	background: #1556a6;
	height: 100%;
	left: 15px;
	top: 0;
}

.home-features-title h3 {
	font-weight: 700;
	font-size: 18px;
	color: #333333;
}

.home-features-title h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.home-features-contents h4 {
	color: #eff1f6;
	font-size: 44px;
	font-weight: 700;
	line-height: 44px;
}

@media only screen and (max-width: 5000px) {
	.page-wrapper {
		overflow: hidden;
	}
}

@media only screen and (max-width: 1340px) {

	.page-wrapper {
		overflow: hidden;
	}

}

@media only screen and (max-width: 1140px) {
	.page-wrapper {
		overflow: hidden;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.single-home-feature, .single-how-it-work {
		margin-bottom: 30px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.single-home-feature, .single-how-it-work {
		margin-bottom: 40px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.single-home-feature, .single-how-it-work {
		margin-bottom: 40px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {

	.section-padding {
		padding: 45px 0;
	}

	.single-home-feature, .single-how-it-work {
		margin-bottom: 40px;
	}
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}
