.ye_div{
    border: 1px solid yellow;
    font-size: 2em;
    color: #fdfdfe;
    font-weight: bolder;
    background-color: #fac96d;
    border-radius: 50px;
    text-align: center;
}
.lv_div{
    border: 1px solid yellow;
    font-size: 2em;
    color: #fdfdfe;
    font-weight: bolder;
    background-color: #629692;
    border-radius: 50px;
    text-align: center;
}

.red_p{
    font-size: 2em;
    color: #722828;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-bottom: 60px;
    background-image: url("../../imgs/china_education/herd.png");
}
.liu_p{
    font-size: 2em;
    color: #d867c2;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.ba tr{
    background-color: #d0fdf3;
}
@media (max-width: 750px) {
    .mt_1{
        text-align: center;
        margin-left: 90px;
    }
    .mt_2{
        margin-top: 10px;
    }
    .right ul li{
        float: left;
        display: inline-block;
        margin-left: 20px;
    }
}
@media (min-width: 750px){
    .mt_2{
        margin-top: 100px;
    }
    .right ul li{
        float: left;
        display: inline-block;
        margin-left: 50px;
    }
}
.right{
    border:3px solid #08bffe;
    font-weight: bolder;
    background-color: #f4fcfe;
    text-align: center;
}

.right ul li span{
 line-height:40px;
    font-size:1.8em;
}

.right ul li img{
     vertical-align: middle;
}
