/*liuxue_title*/
.liuxue_title{
	padding-top: 50px;
}

.liuxue_title .border-shape {
	background: #c6c6c6;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 300px;
}

.liuxue_title .border-shape::before {
	background: #c6c6c6 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.liuxue_title .border-shape::after {
	background: #c6c6c6 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 70px;
	margin: 0 auto;
}

/*liuxue_info*/
.liuxue_info{
	padding-left: 0;
	padding-right: 30px;
	margin-top: 50px;
	margin-bottom: 100px;
	background-color: white;
}

.module-tab-box-ma{
	width: 100%;
}
.liuxue_info ul li {
	list-style: none;
}

.module-tab-box-ma_Div {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 3px solid #157BBB;
}

.module-tab-title {
	width: 100%;
	height: 150px;
	padding: 10px 30px 10px 30px;
	border-bottom: 1px dashed #d6d6d6;
}

.module-tab-title_DivSon01 {
	width: 20%;
	height: 100%;
	float: left;
}

.module-tab-title_DivSon01 img{
	width: 100%;
	max-height: 140px;
	line-height: 150px;
}

.module-tab-title_DivSon02 {
	width: 80%;
	float: left;
	padding-left: 20px;
}

.module-tab-title_DivSon02_title {
	height: 25px;
	color: #157BBB;
	display: block;
	font-size: 1.6em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.module-tab-title_DivSon02_time {
	color: #999999;
	font-size: 0.9em;
}

.module-tab-title_DivSon02_info {
	height: 70px;
	color: #333333;
	display: block;
	font-size: 1.3em;
	overflow: hidden;
	text-indent: 2em;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.module-tab-box-ma_Divs {
	width: 100%;
	padding: 20px 0;
	text-align: right;
}
.module-tab-box-ma li:hover {
	background-color: #f6f6f6;
}
@media (max-width: 760px) {
	.module-tab-title_DivSon01 {
		width: 50%;
	}

	.module-tab-title_DivSon02 {
		width: 50%;
	}
}
