/*shuangyuanzhidayue_div*/
.shuangyuanzhidayue_div{
	padding: 50px 15px;
}

.shuangyuanzhidayue_div .border-shape {
	background: #acacac;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 300px;
}

.shuangyuanzhidayue_div .border-shape::before {
	background: #acacac none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.shuangyuanzhidayue_div .border-shape::after {
	background: #acacac none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 70px;
	margin: 0 auto;
}


/*shuangyuanzhidayue_info*/
.shuangyuanzhidayue_info{
	padding: 0 20px;
	margin-bottom: 50px;
}

.shuangyuanzhidayue_info p{
	font-size: 1.6em;
	line-height: 2em;
	text-indent: 2em;
	letter-spacing: 2px;
}
.shuangyuanzhidayue_info img{
	transition: 0.3s;
}
.shuangyuanzhidayue_info img:hover{
	transform: scale(1.1);
}
