/*summer_germany*/
.summer_germany {
	padding: 50px 0;
}

.summer_germany .border-shape {
	background: #cecece;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 350px;
}

.summer_germany .border-shape::before {
	background: #cecece none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.summer_germany .border-shape::after {
	background: #cecece none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 70px;
	margin: 0 auto;
}

/*summer_germany_info*/
.summer_germany_info {
	padding: 50px 0;
}

.summer_germany_info_p01,
.summer_germany_info_p02 {
	font-size: 1.8em;
	padding: 30px;
	border-radius: 30px;
	letter-spacing: 1px;
}

.summer_germany_info_p01 {
	background-color: #BCE3F9;
}

.summer_germany_info_p01 i {
	color: #0cb1f6;
	font-size: 1.5em;
	padding-right: 20px;
}

.summer_germany_info_p02 {
	float: right;
	margin-top: 50px;
	background-color: #FAC8FF;
}

.summer_germany_info_p02 i {
	color: #0cb1f6;
	font-size: 1.5em;
	padding-left: 20px;
}

/*summer_germany_info_img*/
.summer_germany_info_img {
	margin: 50px 0;
	padding: 0;
	border-radius: 10px;
}

.summer_germany_info_img img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

.summer_germany_info_img_p {
	letter-spacing: 2px;
	font-size: 1.8em;
	text-indent: 2em;
	line-height: 2em;
	padding: 30px;
}

.summer_germany_info_fenge {
	height: 10px;
	width: 100%;
	margin: 50px 0;
	border-bottom: 10px dotted #777777;
}

.summer_germany_info_div_p {
	border-style: double;
	letter-spacing: 2px;
	font-size: 1.8em;
	text-indent: 2em;
	line-height: 2em;
	padding: 30px;
	border-radius: 20px;
}

.summer_germany_info_div_ps{
	letter-spacing: 2px;
	font-size: 1.8em;
	text-indent: 2em;
	line-height: 2em;
	padding: 20px 30px;
	border-bottom: 5px dashed #777777;
	border-radius: 20px;
}

@media (max-width: 1000px) {
	.summer_germany_info_img {
		margin-top: 200px;
	}
}

@media (max-width: 560px) {
	.summer_germanys {
		margin: 0 15px;
	}

	.summer_germany_info {
		padding: 0 0 100px 0;
	}

	.summer_germany_info_p01,
	.summer_germany_info_p02 {
		display: block;
	}

	.summer_germany_info_p01 i,
	.summer_germany_info_p02 i {
		font-size: 1em;
	}

	.summer_germany_info_p02 {
		margin-top: 30px;
	}

	.summer_germany_info_img {
		margin-top: 100px;
	}
}
