.what-we-do-crousel-sec {
	padding: 60px 0;
	letter-spacing: 2px;
}

.what-we-do-crousel-sec .border-shape {
	background: #b2b2b2;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 350px;
}

.what-we-do-crousel-sec .border-shape::before {
	background: #b2b2b2 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.what-we-do-crousel-sec .border-shape::after {
	background: #b2b2b2 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 70px;
	margin: 0 auto;
}

.what-we-do-crousel-sec div .item {
	padding: 20px;
	margin-top: 50px;
	color: #333;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.what-we-do-crousel-sec div .item img {
	width: 100%;
}

.what-we-do-crousel-sec div .item h3 {
	color: #333333;
}

.what-we-do-crousel-sec .what-we-do-button {
	color: #999999;
	font-size: 14px;
	width: 50px;
	height: 50px;
	float: right;
	transition: all 0.3s;
	display: inline-block;
	background: #f8f8f8;
	border-radius: 100%;
	text-align: center;
	line-height: 58px;
}

.what-we-do-crousel-sec .what-we-do-button i {
	font-size: 26px;
}

.what-we-do-crousel-sec div .item:hover {
	cursor: pointer;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.37);
}

.what-we-do-crousel-sec div .item:hover h3 {
	font-weight: bolder;
	color: #0cb1f6;
}

.what-we-do-crousel-sec div .item:hover .what-we-do-button {
	color: white;
	background-color: #0cb1f6;
}

@media (max-width: 767px) {
	.what-we-do-crousel-sec {
		padding: 30px 0;
	}

	.what-we-do-crousel-sec div .item {
		padding: 10px;
		margin: 10px;
	}
}
