/*zhongdexueyuan_div*/
.zhongdexueyuan_div{
	padding: 50px 15px;
}
.zhongdexueyuan_div .sec-title {
	text-align: center;
}

.zhongdexueyuan_div .sec-title h1 {
	color: #333333;
}

.zhongdexueyuan_div .border-shape {
	background: #acacac;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 300px;
}

.zhongdexueyuan_div .border-shape::before {
	background: #acacac none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 90px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.zhongdexueyuan_div .border-shape::after {
	background: #acacac none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 70px;
	margin: 0 auto;
}

.zhongdexueyuanDiv01{
	padding: 50px 15px;
}
.zhongdexueyuanDiv01 h1{
	font-weight: bolder;
	letter-spacing: 2px;
	font-family: "楷体";
	color: #0cb1f6;
}
.zhongdexueyuanDiv02{
	padding-bottom: 50px;
}
.zhongdexueyuanDiv02 p{
	color: #333333;
	font-size: 1.6em;
	line-height: 2em;
	text-indent: 2em;
	letter-spacing: 2px;
}

