<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>英语和德语的关系(二)——现代</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany_article.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany.css" type="text/css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
</head>
<body>

<div id="title">
	<!--languageSearch-->
	<div class="languageSearch">
		<!--Language-->
		<div class="language">
			<a href="#" class="chinese">中文版</a> |
			<a href="#" class="deutsch">Deutsch</a>
		</div>
		<!--time-->
		<div class="time">
			<p id="times"></p>
		</div>
		<!--Search-->
		<div class="searchDiv">
			<form action="">
				<input type="text" class="search_input" placeholder="请输入搜索词">
				<a href="#" class="search_a">
					<i class="fa fa-search"></i>
				</a>
			</form>
		</div>
	</div>
	<header class="header" id="header">
		<div class="h-fix">
			<div class="containers">
				<!--LoGo-->
				<div class="logo">
					<a href="../../../templates/index.html" title="中德科技">
						<img src="../../../static/imgs/logo.png" alt="中德科技" title="中德科技" class="logo_icon"/>
					</a>
				</div>
				<!--BarsIcon-->
				<div id="m-btn" class="m-btn">
					<i class="fa fa-bars"></i>
				</div>
				<!--Nav-->
				<nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
					<ul class="nav">
						<li class="li-cate-1">
							<a href="../../index.html" class="li-cate_a">首页</a>
						</li>
						<li class="li-cate-1">
							<a href="../../newsactivity/news.html" class="li-cate_a">新闻活动</a>
						</li>
						<li class="li-cate-1">
							<a href="../../scientificcooperation/scientific-cooperation.html" class="li-cate_a">中德科技合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../../scientificcooperation/keyanhezuo.html">科研合作</a>
								</li>
								<li>
									<a href="../../scientificcooperation/technology-platform.html">科技支撑平台</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../../china_education/zhongdejiaoyuhezuo.html" class="li-cate_a">中德教育合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../../china_education/liuxue.html">留学服务</a>
								</li>
								<li>
									<a href="../../china_education/youxue.html">游学访问</a>
								</li>
								<li>
									<a href="../../china_education/zhongdexuexiaohezuo.html">中德学校合作</a>
								</li>
								<li>
									<a href="../../china_education/zhongdexueyuan.html">中德学院</a>
								</li>
								<li>
									<a href="../../china_education/shuangyuanzhiidaxue.html">双元制大学</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../../cooperative_enterprise/zdcooperative_enterprise.html"
							   class="li-cate_a">中德企业合作</a>
							<ul class="sub-menu">
								<li>
									<a href="../../cooperative_enterprise/enterprise_inspection.html">企业考察</a>
								</li>
								<li>
									<a href="../../cooperative_enterprise/investment_advisory.html">投资咨询</a>
								</li>
								<li>
									<a href="../../cooperative_enterprise/technical_service.html">技术服务</a>
								</li>
								<li>
									<a href="../../cooperative_enterprise/successful_conversion.html">成果转化</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1 active">
							<a href="../../language_center/language_center.html" class="li-cate_a">语言中心</a>
							<ul class="sub-menu">
								<li>
									<a href="../../language_center/shangwudeyu.html">商务德语课程</a>
								</li>
								<li>
									<a href="../../language_center/qingshaoniandeyu.html">青少年德语课程</a>
								</li>
								<li>
									<a href="../../language_center/liudeoubiaokecheng.html">留德欧标课程</a>
								</li>
								<li>
									<a href="../../language_center/translation.html">翻译服务</a>
								</li>
								<li>
									<a href="../../language_center/interestGermany.html">趣味德国</a>
								</li>
							</ul>
						</li>
						<li class="li-cate-1">
							<a href="../../aboutUs/centeroverview.html" class="li-cate_a">关于我们</a>
							<ul class="sub-menu">
								<li>
									<a href="../../aboutUs/organization.html">组织架构</a>
								</li>
								<li>
									<a href="../../aboutUs/fazhanlicheng.html">发展历程</a>
								</li>
								<li>
									<a href="../../aboutUs/developtarget.html">发展目标</a>
								</li>
								<li>
									<a href="../../aboutUs/contactUs.html">联系我们</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!--Mask-->
	<div id="mask"></div>
</div>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/index/banner1.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container interestGermany_article education_articles">
		<div class="row">
			<div class="col-md-12 interestGermany_article_title">
				<h3>英语和德语的关系(二)——现代</h3>
				<p>作者：闫刚</p>
				<p>时间：2018-10-09 14:21:47 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 interestGermany_article_info">
				<p>
					20世纪下半叶,美国在科技(尤其是计算机领域),经济领域的强大实力,以及在时尚等领域中的引导潮流更使美国文化成为“主流文化”,代表着进步、时尚、活力,使年轻人更是趋之若鹜。且随着全球化的进一步发展，不断深入的国际政治、经济合作以及通讯、信息系统特别是因特网领域的飞速进步，出于需求母语需要吸纳外来词，比如母语中缺乏与外来文化中产生的新事物、新概念相对应的词。通常情况下,新概念及相应的称呼便一并被原封不动地拿过去，越来越多的有越来越多的英语外来词被引入德语，并对德国社会的各个领域产生诸多影响
				</p>
				<img class="img-responsive center-block" src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/xx.png" alt="">
				<p style="text-align: center">图1 奥迪汽车在德国本土使用的广告语</p>
				<p>
					比如在计算机领域内有多个概念被全盘吸收,例如:Hardware（硬件）； E-mail（电子邮件） ；Chat（聊天）;或根据它们创造出新的德语词汇,如: download—herunterladen（下载）,或用语义类似的德语单词代替: mouse—Maus（鼠标）。在美国引领潮流的时装、流行音乐、运动等领域内,无数英语词汇在年轻人眼里更是显得时髦而充满活力。例如Shop比Laden（商店）有魅力,Servieve比Dienst（服务）生动,Date比Verabredung（约会）更具神秘性感。
				</p>
				<p>
					互联网的广泛使用也迅速加快了英语化(美语化)的进程。互联网来自美国,不论是互联网的有关术语,还是网页使用的语言,抑或是网络聊天使用的交流方式,无不以英语为特色。比如browser, chat, homepage, online, server, web, messenger等词汇,几乎不再被翻译到自己国家的语言.
				</p>
				<p>
					过去,欧洲上流社会以说法语或在自己的言谈中夹杂法语单词为荣,因为法语代表文明、高雅、时尚,能让听者产生仰慕之心。今天,德国人也乐于德英混用,可能为的是显得开放、年轻、时尚。此外,不少人认为英语单词比相对应的德语单词更简练,更精确,因此更方便，比如stress比Anstrengung（紧张）短,balance比Gleichgewicht（平衡）短。
				</p>
				<p>
					英语和德语作为当今世界上两种主流语言，如今的关系有了一些变化。据统计,如今世界上母语为英语的人口已达三亿两千万,会讲英语的人更是大大超过这个数字。以德语为母语的人口也已达一亿两千万,东西德国统一后, 随着德国经济力量的强大和在世界事务中政治地位的加强，,德语地位变得日益重要, 作为自然科学和工业强国的德国，东欧诸国竞相选择德语作为学生们的第一外语，在东亚和东南亚地区业德语业成为了一门备受青睐的外语。但在如今英语作为最通用国际语言的大环境下，就作用和影响来说，德语只能望其项背，作为非通用语种而存在，但它是一个世界性的文化语言，是科技语言的代名词，一如既往地得到科学界人士的青睐。在我国，随着中德两国经贸关系的进一步发展，必然也会有愈来愈多的人选择德语作为外语，乐山（中德）科技促进中心也正是以此为工作重点，开展双方科技、教育、文化等多层面的工作，推动双方合作的全面深化。
				</p>
			</div>
		</div>
	</div>
</section>

<footer id="myFooter">
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 myFooter_div">
				<a href="javascript:void (0)" class="myFooter_logo" title="中德科技">
					<img class="myFooter_div_logo" src="../../../static/imgs/footer/logo.png" alt="">
				</a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 myFooter_divs">
				<h5><i class="fa fa-phone"></i>联系方式</h5>
				<p>手机：18728871721</p>
				<p>座机：0833-2595989</p>
				<p>邮箱：lszdkc@163.com</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 myFooter_divs">
				<h5><i class="fa fa-map-marker"></i>地址</h5>
				<p>四川省乐山市高新区高新孵化园A区9楼910</p>
				<p>开放时间：周一至周五 9:00-17:00</p>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 myFooter_divs">
				<h5>更多</h5>
				<p>
					<a target="_blank" href="https://www.swjtu.edu.cn/">西南交大</a>
				</p>
				<p>
					<a target="_blank" href="http://gxq.leshan.gov.cn/">乐山高新区</a>
				</p>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 myFooter_div">
				<img class="center-block weixingongzhonghao" src="../../../static/imgs/footer/weixingongzhonghao.jpg"
					 alt="">
				<p>微信公众号</p>
			</div>
		</div>
		<div class="row footer-copyright">
			<div class="col-md-12">
				<p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
				<p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
