<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>德语时间的表达</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany_article.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany.css" type="text/css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/Language_center/deguoheard.png" width="100%" alt="">
		</div>
	</div>
	<div class="container-fluid returnDiv">
		<div class="row">
			<a href="../interestGermany.html"><i class="fa fa-angle-double-left"></i>返回</a>
		</div>
	</div>
	<!--content-->
	<div class="container interestGermany_article education_articles">
		<div class="row">
			<div class="col-md-12 interestGermany_article_title">
				<h3>德语时间的表达</h3>
				<p>作者：汉斯猫</p>
				<p>时间：2018-06-12 16:22:45 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 interestGermany_article_info">
				<h3>1.整点报时</h3>
				<p>
					整点时间的表达：整点刻度时间+Uhr，其中Uhr在非官方的场合中也常省去。<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例如：
					1:00    ein Uhr            6:00   sechs Uhr           12:00   elf Uhr
					21:00   einundzwanzig Uhr        17:00   siebzehn Uhr

				</p>
				<hr/>
				<h3>2.非整点报时</h3>
				<p>
					vor:在.......前 &nbsp;&nbsp;&nbsp;&nbsp; nach:在.........后viertel:一刻钟，15分钟  &nbsp;&nbsp;&nbsp;&nbsp; kurz:短的，短暂的，迅速的  &nbsp;&nbsp;&nbsp;&nbsp;	halb：半，一半
					 <br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①官方说法：小时+Uhr+分钟&nbsp;&nbsp;&nbsp;&nbsp; 8点45分：acht Uhr fünfundvierzig &nbsp;&nbsp;&nbsp;&nbsp; 10点17分：zehn Uhr siebzehn <br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②非官方说法：分钟+nach或vor+小时&nbsp;&nbsp;&nbsp;&nbsp;
					1点40分：zwanzig vor zwei(2点前的20分钟即为1:40)
					<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6点10分：zehn nach sechs(6点后的10分钟即为6:10)
					&nbsp;&nbsp;&nbsp;&nbsp;8点49分：elf vor neun(9点前的11分钟即为8:49)<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;③有关一刻钟的说法2点15分：viertel nach zwei(2点后的一 <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 刻钟即为2:15) &nbsp;&nbsp;&nbsp;&nbsp;
					6点45分；viertel vor sieben(7点前的一刻钟即为6:45)

					对于一刻钟的表达，一般情况是不会用 <br/>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fünfzehn，大多都是使用viertel。 <br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;④半小时的说法：1点半：halb zwei&nbsp;&nbsp;&nbsp;&nbsp;9点半：halb zehn
					5点20分：zehn vor halb sechs(5点半前的10分钟即为5:20) <br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6点45分：viertel nach halb sieben(6点半后面的一刻钟即为6:45) <br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于halb的用法：根据例子大家也能看出halb后面紧跟的小时数值要比真正所表达的小时数值大一。所以大家牢记，在说<br/>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;几点半
					的时候后面跟的小时数值要加一。 <br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⑤不精确时间的表达：快到12点：kurz vor zwölf(12点前一点点即为快到12点了) 9点过一点：kurz nach neun(9点后的<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 一点点即为9点过一点) 3点半过一点：kurz nach halb vier(3点半后面一点点即为3点半过一点) <br/>



				</p>
				<hr/>
				<h3>3.总结</h3>
				<p>
					德语时间的表达其实有很多种不同的说法，只是看是否方便、经常使用而已，就一个时间可能正式
					与非正式的有几种表达，但是通常情况分钟的表达数值不会超过20，
					所以这就要大家充分利用halb、viertel、vor、nach、kurz等这些词来表达时间。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
