<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>德语数字的表达</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany_article.css" type="text/css"/>
    <link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany.css" type="text/css"/>
    <script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../../static/js/header.js"></script>
    <script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
    <!--background img-->
    <div class="container-fluid">
        <div class="row">
            <img class="img-responsive" src="../../../static/imgs/language_center/quweideguo.png" width="100%" alt="">
        </div>
    </div>
    <div class="container-fluid returnDiv">
        <div class="row">
            <a href="../interestGermany.html"><i class="fa fa-angle-double-left"></i>返回</a>
        </div>
    </div>
    <!--content-->
    <div class="container interestGermany_article education_articles">
        <div class="row">
            <div class="col-md-12 interestGermany_article_title">
                <h3>德语数字的表达</h3>

                <p>作者：汉斯猫</p>

                <p>时间：2018-05-28 16:10:24 &nbsp;|&nbsp; 来源：本站</p>
            </div>
            <div class="col-md-6 interestGermany_article_info">
                <p>
                    1.学习基础数词,和英语一样从0-12是没有规律的，这需要大家牢记
                </p>
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>eins</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>zwei</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>drei</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>vier</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>fünf</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>sechs</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>sieben</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>acht</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>neun</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>zehn</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>elf</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>zwölf</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 interestGermany_article_info">
                <p>
                    2.数字13-19都是以zehn（10）结尾，开始有规律可循，注意其中sechzehn（16）和siebzehn(17)的词形。
                </p>
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>dreizehn</td>
                    </tr>
                    <tr>

                        <td>14</td>
                        <td>vierzehn</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>fünfzehn</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>sechzehn</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>siebzehn</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>achtzehn</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>neunzehn</td>
                    </tr>

                </table>

            </div>
        </div>
        <div class="row">
            <hr/>
            <div class="col-md-6 interestGermany_article_info">
                <p>
                    3.对于整十的数字都是以zig结尾的，注意zwanzig（20），
                    dreißig（30），sechzig（60）和siebzig（70）的词形，achtzig（80）的读音。
                </p>
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>zwanzig</td>
                    </tr>
                    <tr>

                        <td>30</td>
                        <td>dreißig

                        </td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>vierzig
                        </td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>fünfzig
                        </td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>sechzig
                        </td>
                    </tr>
                    <tr>
                        <td>70</td>
                        <td>siebzig
                        </td>
                    </tr>
                    <tr>
                        <td>80</td>
                        <td>achtzig
                        </td>
                    </tr>
                    <tr>
                        <td>90</td>
                        <td>neunzig</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 interestGermany_article_info">
                <p> 4.对于非整十的数字表达是以个位基数词和整十数字的组合，组合顺序：个位und整十位。
                    注意其中*1、*6、*7这些数字的不规则变化。以20-30内的数字表达为例</p>

                <p style="font-size: 1.3em">
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>
                        <td> 21</td>
                        <td>einundzwanzig</td>
                    </tr>
                    <tr>

                        <td>22</td>
                        <td>zweiundzwanzig

                        </td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>dreiundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>vierundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>fünfundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>sechsundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>siebundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>achtundzwanzig</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>neunundzwanzig</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row">
        <hr/>
        <div class="col-md-6 interestGermany_article_info">
            <p>
                5.一百到一千以内的数字表达分两种：整百数字表达，非整百数的表达。
                整百数字表达：首先我们得知道hundert(百，一百)的表达，跟英语的有点像,整百数字表达就是:百位数字+hundert。举例：
            </p>
            <table class="table table-bordered">
                <tr>
                    <th>阿拉伯数字</th>
                    <th>德语</th>
                </tr>
                <tr>


                    <td>100</td>
                    <td>(ein)hundert</td>
                </tr>
                <tr>

                    <td>200</td>
                    <td>zweihundert

                    </td>
                </tr>
                <tr>
                    <td>300</td>
                    <td>dreihundert
                    </td>
                </tr>
                <tr>
                    <td>400</td>
                    <td>vierhundert
                    </td>
                </tr>
                <tr>
                    <td>500</td>
                    <td>fünfhundert
                    </td>
                </tr>
                <tr>
                    <td>600</td>
                    <td>sechshundert
                    </td>
                </tr>
                <tr>
                    <td>700</td>
                    <td>siebenhundert
                    </td>
                </tr>
                <tr>
                    <td>800</td>
                    <td>achthundert</td>
                </tr>
                <tr>
                    <td>900</td>
                    <td>neunhundert</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 interestGermany_article_info">
            <p>     非整百数字表达：跟英语类似，
                就是个十位数、百位数的组合，组合顺序：百位（und）后两位（其中的und可省略）。以100-200内的个别数为例：

            <p style="font-size: 1.3em">
            <table class="table table-bordered">
                <tr>
                    <th>阿拉伯数字</th>
                    <th>德语</th>
                </tr>
                <tr>
                    <td> 101</td>
                    <td> hundert(und)eins   </td>
                </tr>
                <tr>

                    <td>106</td>
                    <td>hundert(und)sechs

                    </td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>hundert(und)zehn
                    </td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>hundert(und)sechzig
                    </td>
                </tr>
                <tr>
                    <td>125</td>
                    <td>hundertfünf(und)zwangzig
                    </td>
                </tr>
                <tr>
                    <td>176</td>
                    <td>hundertsechs(und)siebzig
                    </td>
                </tr>

            </table>
        </div>
    </div>



<!--2-->
        <div class="row">
            <hr/>
            <div class="col-md-6 interestGermany_article_info">
                <p>
                    6.一千到一万以内的数字表达也分两种：整千数字表达，非整千数字表达。
                    整千数字表达：首先我们也得知道tausend(千，一千)的表达，也跟百位数字相同,整千数字表达就是:千位数字+tausend。个别举例

                </p>
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>




                        <td>1000</td>
                        <td>（ein）tausend </td>
                    </tr>
                    <tr>

                        <td>2000</td>
                        <td>  zweitausend

                        </td>
                    </tr>
                    <tr>
                        <td>4000</td>
                        <td>viertausend
                        </td>
                    </tr>

                    <tr>
                        <td>6000</td>
                        <td>sechstausend
                        </td>
                    </tr>
                    <tr>
                        <td>7000</td>
                        <td>siebentausend
                        </td>
                    </tr>
                    <tr>
                        <td>8000</td>
                        <td>achttausen
                        </td>
                    </tr>

                </table>
            </div>
            <div class="col-md-6 interestGermany_article_info">
                <p>         当然千位数也可以用百位数表示，如：1000（tausend=zehnhundert）但不常用。
                    非整千数字表达：跟非整百数字表达类似，就是个十位数、百位数、千位数的组合，组合顺序：千位（und）百位（und）个十位（其中的und可省略）。以个别数为例：


                <p style="font-size: 1.3em">
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>




                        <td> 1111</td>
                        <td> eintausend(und)einhundert(und)elf  </td>
                    </tr>
                    <tr>

                        <td>6767</td>
                        <td> sechstausend(und)siebenhundert(und)siebenundsechzig

                        </td>
                    </tr>
                    <tr>
                        <td>8243</td>
                        <td> achttausend(und)zweihundert(und)dreiundvierzig
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr/>
        <div class="col-md-12 interestGermany_article_info">
        <p>   对于特殊的数字以及不规则变化的数字，需要大家熟记，不要搞混淆了，记忆方法就因人而异，自己总结</p>
        </div>
    </div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
