<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>德语等级介绍</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany_article.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/liudeoubiaokecheng.css" type="text/css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/Language_center/deguoheard.png" width="100%" alt="">
		</div>
	</div>
	<div class="container-fluid returnDiv">
		<div class="row">
			<a href="../interestGermany.html"><i class="fa fa-angle-double-left"></i>返回</a>
		</div>
	</div>
	<!--content-->
	<div class="container interestGermany_article education_articles">
		<div class="row">
			<div class="col-md-12 interestGermany_article_title">
				<h2 class="ss1">德语等级介绍</h2>

				<!--<p>作者：赵杨</p>-->
				<!--<p>时间：2018-12-04 19:52:59 &nbsp;|&nbsp; 来源：本站</p>-->
			</div>
			<div class="col-md-12 interestGermany_article_info">
				<h3>A1级:</h3>
				<p>
					能够理解并使用日常用语和非常简单的句子，表达具体要求。
					能够自我介绍，介绍他人，向他人询问个人情况并能回答这类问题，例如，
					住在哪儿，认识哪些人，有哪些东西等。如果谈话伙伴说话缓慢、清楚而且乐于帮助，能够进行简单交流。
				</p>
				<hr/>
				<h3>A2级 :</h3>
				<p>
					能够理解直接关及身边事物的句子和常用语（例如关于个人、家庭、购物、工作或周围环境）。
					能够在简单的日常情景中就大家熟悉的事物进行交流。能够使用简单的话描述自己的来历和学历、
					身边的环境以及与基本需要相关的事物。
				</p>
				<hr/>
				<h3>B1级 :</h3>
				<p>
					在使用清晰的标准语言以及涉及工作、学校、业余时间等方面的平常事物时，
					能够理解话中要点。能够应对旅游时在语言方面碰到的大多数问题。
				</p>
				<hr/>
				<h3>B2级 :</h3>
				<p>
					能够简单有条理地表述平常话题和个人兴趣领域。能够表述经历和事件，描述梦境、
					希望和目标，简要论证或解释计划和观点。 能够理解具体或抽象主题的复杂文章的主要内容；
					在自己精通的专业范围内能够理解专业性讨论。能自如流畅地交流，在与母语者正常交谈时双方都
					不会感到太吃力。能够在一个较宽泛的主题范围内清楚而详尽地表达自己的看法，阐释对某一当前
					问题的观点，罗列各种可能性的优点和缺点。


				</p>
			</div>
		</div>
	</div>
	<!--content-->
	<div class="container" style="padding-bottom: 60px">
		<div class="row">
			<div class="col-md-12">
				<h2>德语考试等级介绍</h2>
				<br>
				<img class="img-responsive" src="../../../static/imgs/Language_center/liudeoubiaokecheng/dengjijieshao.png" alt="">
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
