<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>德语字母表</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany_article.css" type="text/css"/>
    <link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany.css" type="text/css"/>
    <script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../../static/js/header.js"></script>
    <script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
    <style>
        table td, th {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
</head>
<body>

<section>
    <!--background img-->
    <div class="container-fluid">
        <div class="row">
            <img class="img-responsive" src="../../../static/imgs/index/banner1.png" width="100%" alt="">
        </div>
    </div>
    <!--content-->
    <div class="container interestGermany_article education_articles">
        <div class="row">
            <div class="col-md-12 interestGermany_article_title">
                <h3>德语字母表</h3>

                <p>作者：汉斯猫</p>

                <p>时间：2018-05-28 16:10:05 &nbsp;|&nbsp; 来源：本站</p>
            </div>
        </div>
        <div class="col-md-12 interestGermany_article_info">
            <table class="table table-bordered ta">
                <tr>
                    <th colspan="2">印刷体</th>
                    <th rowspan="2">发音</th>
                    <th colspan="2">印刷体</th>
                    <th colspan="2" rowspan="2">发音</th>
                </tr>
                <tr>
                    <td>大写</td>
                    <td>小写</td>
                    <td>大写</td>
                    <td>小写</td>
                </tr>
                <tr>

                    <td>A</td>
                    <td>a</td>
                    <td>[a:]</td>
                    <td>P</td>
                    <td>p</td>
                    <td>[pe:]</td>
                </tr>

                <tr>
                    <td>B</td>
                    <td>b</td>
                    <td>[be:]</td>
                    <td>Q</td>
                    <td>q</td>
                    <td>[ku:]</td>
                </tr>

                <tr>
                    <td> C</td>
                    <td>C</td>
                    <td>[tse:]</td>
                    <td>R</td>
                    <td>r</td>
                    <td>[εr:]</td>
                </tr>

                <tr>
                    <td> D</td>
                    <td>d</td>
                    <td>[de:]</td>
                    <td>S</td>
                    <td>s</td>
                    <td>[εs]</td>
                </tr>

                <tr>
                    <td> E</td>
                    <td>e</td>
                    <td>[e:]</td>
                    <td>T</td>
                    <td>t</td>
                    <td>[te:]</td>
                </tr>

                <tr>
                    <td> G</td>
                    <td>g</td>
                    <td>[ge:]</td>
                    <td>V</td>
                    <td>v</td>
                    <td>[fao]</td>
                </tr>
                <tr>
                    <td> H</td>
                    <td>h</td>
                    <td>[ha:]</td>
                    <td>W</td>
                    <td>w</td>
                    <td>[ve:]</td>
                </tr>
                <tr>
                    <td> I</td>
                    <td>i</td>
                    <td>[i:]</td>
                    <td>X</td>
                    <td>x</td>
                    <td>[iks:]</td>
                </tr>

                <tr>
                    <td> J</td>
                    <td>j</td>
                    <td>[jɔt]</td>
                    <td>Y</td>
                    <td>y</td>
                    <td>[ypsilɔn]</td>
                </tr>
                <tr>
                    <td> K</td>
                    <td>k
                   </td>
                    <td>[ka:]</td>
                    <td>Z</td>
                    <td>z</td>
                    <td>[tsεt]</td>
                </tr>

                <tr>
                    <td> L</td>
                    <td>l
                    </td>
                    <td>[εl]</td>
                    <td></td>
                    <td>ä</td>
                    <td>[ε:]</td>
                </tr>
                <tr>
                    <td> M</td>
                    <td>m
                    </td>
                    <td>[εm]</td>
                    <td></td>
                    <td>ö</td>
                    <td>[ø:]</td>
                </tr>
                <tr>
                    <td> N</td>
                    <td>n
                    </td>
                    <td>[εn]</td>
                    <td></td>
                    <td>ü</td>
                    <td>[y:]</td>
                </tr>
                <tr>
                    <td>O</td>
                    <td>o
                    </td>
                    <td>[o:]</td>
                    <td></td>
                    <td>ßtd>
                    <td>[εs- tsεt]</td>
                </tr>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
