<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>    情态动词框型结构</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany_article.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany.css" type="text/css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
	<style>
		table td, th {
			text-align: center;
			vertical-align: middle !important;
		}
	</style>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/index/banner1.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container interestGermany_article education_articles">
		<div class="row">
			<div class="col-md-12 interestGermany_article_title">
				<h3>情态动词框型结构</h3>
				<p>作者：汉斯猫</p>
				<p>时间：2018-05-28 16:10:17 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 interestGermany_article_info">
				<p>
					情态动词框型结构是德语句子框型结构中的一种，也是较为简单的一种。顾名思义，情态动词框型结构句子中包含情态动词。
					在英语的学习中情态动词后面跟动词原形，同样在德语的情态动词框型结构中，句子前有情态动词，后面跟的动词必须是原形，而且动词必须放最后。
				</p>
				<h3>
					举例：
				</h3>
				<p>

					Ich will（情态动词） einen Hut für ihn kaufen（动词原形）.       我想给他买顶帽子。
					Max soll（情态动词） Melanie einen Gürtel geben（动词原形）.       马克思应该给梅拉尼一根皮带。
					Ich muss（情态动词） um 7:00 Uhr aufstehen（动词原形）.    我必须早上7点起床。

				</p>
				<p>    通过以上例子，大家应该明白了情态动词框型结构的基本组成。在平时的练习当中，大家应该注意整理常见的情态动词和它的动词变位。以下是德语中常见的情态动词及其动词变位：</p>
			</div>

			<table class="table table-bordered ">
				<tr>
					<th>原形</th>
					<th>ich</th>
					<th>du</th>
					<th>er/sie/es </th>
					<th>wir</th>
					<th>ihr</th>
					<th>sie/Sie</th>
					<th>词意</th>
				</tr>
				<tr>
					<td>müssen</td>
					<td>muss</td>
					<td>musst</td>
					<td>muss</td>
					<td>müssen</td>
					<td>müsst</td>
					<td>müssen</td>
					<td>必须、一定</td>
				</tr>
				<tr>
					<td>sollen</td>
					<td>soll</td>
					<td>sollst</td>
					<td>soll</td>
					<td>sollen</td>
					<td>sollt</td>
					<td>sollen</td>
					<td>应该</td>
				</tr>
				<tr>
					<td>wollen</td>
					<td>will</td>
					<td>willst</td>
					<td>will</td>
					<td>wollen</td>
					<td>wollt</td>
					<td>wollen</td>
					<td>想、愿意</td>
				</tr>
				<tr>
					<td>können</td>
					<td>kann</td>
					<td>kannst</td>
					<td>kann</td>
					<td>können</td>
					<td>könnt</td>
					<td>können</td>
					<td>能、会</td>
				</tr>

				<tr>
					<td>mögen</td>
					<td>mag</td>
					<td>magst</td>
					<td>mag</td>
					<td>mögen</td>
					<td>mögt</td>
					<td>mögen</td>
					<td>想、愿意</td>
				</tr>

				<tr>
					<td>möchten</td>
					<td>möchte</td>
					<td>möchtest</td>
					<td>möchte</td>
					<td>möchten</td>
					<td>möchtet</td>
					<td>möchten</td>
					<td>想要</td>
				</tr>

				<tr>
					<td>dürfen</td>
					<td>darf</td>
					<td>darfst</td>
					<td>darf</td>
					<td>dürfen</td>
					<td>dürft</td>
					<td>dürfen</td>
					<td>允许、可以</td>
				</tr>
			</table>
		</div>


	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
