<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>中德工程教育的对比</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany_article.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany.css" type="text/css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/yuyanzhongxin1920X700.png" width="100%" alt="">
		</div>
	</div>
	<div class="container-fluid returnDiv">
		<div class="row">
			<a href="../interestGermany.html"><i class="fa fa-angle-double-left"></i>返回</a>
		</div>
	</div>
	<!--content-->
	<div class="container interestGermany_article education_articles">
		<div class="row">
			<div class="col-md-12 interestGermany_article_title">
				<h3>中德工程教育的对比</h3>
				<p>作者：闫刚</p>
				<p>时间：2018-10-09 16:40:29 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 interestGermany_article_info">
				<p>
					为响应《国务院关于加快发展现代职业教育的决定》提出的“引导普通本科高等学校转型发展”，“引导一批普通本科高等学校向应用技术类型高等学校转型，重点举办本科职业教育”的号召，从2010 年起，我国学习德国等国家培养工程师的经验，开始实施“卓越工程师培养计划”（简称“卓越计划”）。该计划旨在培养造就一大批创新能力强、适应经济社会发展需要的各类高质量工程技术人才，为走新型工业化发展道路、建设创新型国家和人才强国战略服务。
				</p>
				<p>
					为深刻理解这一决定的含义，首先要了解以德国为代表的发达国家的工程应用型人才培养模式。德国工程教育因其体系健全、分工合作、责任明晰、效果显著受到世界的关注。德国的应用科学大学和“双元制大学”经过四十多年的探索已在校企合作办学，培养合格的应用型人才方面取得了一定的成效。其人才培养目标定位与人才培养模式可为我国本科高校转 型提供相对成熟与可借鉴的经验。以“双元制”大学为例，它是企业与高校深度合作、共同发挥作用的一种富有独特性魅力的教育模式，其培养过程中将双元的特征全面、深入、实质性地贯彻始终，主要表现在双元制的办学主体、双元制的教学模式、双元制的学习者身份、双元制的学习成果等几个方面。下图详细说明了德国三中大学的教育模式：
				</p>

				<img class="img-responsive center-block" src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/ww.png" width="60%" alt="">
				<p style="text-align: center">图1 德国综合型大学、应用科学大学与“双元制大学”人才培养模式比较</p>
				<p>
					对于“双元制大学”其办学主体是大学与企业或社会事业机构，双方具有同等的作用，承担相同的育人责任：高校制定课堂学习的培养计划，企业制定实践学习的培养计划；其次学生也有企业的员工和学校的学生的双重身份，在企业会有每月约1000欧元收入和社保等福利，在学校，按高校的专业设置及教学计划的安排参与到教学过程，并接受学校的学业考核；第三，若学生完成主体学习阶段学业，通过国家专业考试且毕业论文答辩合格，可获得“经济师”、 “工程师”、“社会教育工作者”等称号。在结业后有相当大一部分学生会选择留在合同企业工作，这种模式既为公司带来了具有实际岗位能力的员工，也在数年的企业合作培养了员工的归属感与忠诚度。
				</p>
				<p>   与德国相比，我国的工程教育还存在以下不足：</p>
				<p>
					1．工程教育与实际工程师资质之间严重脱节。在我国目前工程教育环境下，工科院校培养的毕业生只能说是工程师的毛坯，毕业5-6年以后才能获得工程师资质，企业还是需要花大量的时间去培养能胜任实际工程的技术人才，就业竞争力和培养效率较低。而德国的工程教育实行 “文凭工程师” 制度， 工程教育与职业资格是紧密连在一起的， 培养出来的“文凭工程师”既是专业学位，又是职业资格，在应用科技大学学生拿到文凭和学位，企业和社会就认可其为一名合格的工程师，有资格独立从业。
				</p>
				<p>
					2．生源及入学条件不同。我国“卓越计划” 的生源与入学条件显然不同于德国。 “卓越计划”招生院校录取新生，基本上只考虑参加全国高考的分数，没有专业基础要求， 更无行业企业的实践经历要求。而德国中学生分流更早，对自己未来职业前景规划更清晰，且要求有与所申请专业一致的至少三个月的实践经历。
				</p>
				<p>
					3．社会认可度不同。我国传统文化中缺乏对技术文化的认同，直至今日，社会上轻视技术的观念依然存在。这种观念反映在教育领域，表现为人们仍对传统的高等教育趋之若鹜， 而工程教育则得不到社会的普遍认可。而职业教育在德国有着很高的社会地位，据统计，德国只有约30%的青年选择上综合大学，剩下的70%的年轻人则选择应用科学大学、双元制大学等不同形式的工程职业教育。这种状况首先与德国人的观念有关，人们普遍重视技能、尊重技工，受过职业培训，获得工程师文凭的青年找工作相对容易，也有机会成为白领。
				</p>
				<p>
					4．企业参与程度不同。目前，国内也有部分高校聘请行业、企业第一线的专家来学校参与制订教学计划、编写教材、授课和指导实践环节教学，如我校区和中国中铁实行的“3+1联合培养”，但与德国相比，我们工学结合的深度远远不足。对企业而言，校企合作收益有限，反而要承担很多风险，很多企业甚至并不愿意接纳学生实习。而在德国，企业普遍积极、严格遵守义务接收应用科技大学的学生实习和培训的法律规定，并把这种校企合作看作企业自身发展中重要的一部分，人才培养由学校和企业共同承担，学校负责理论教学，企业负责实践教学，并为毕业生提供工作岗位。同时，学生毕业论文（设计）的题目70％来自企业的实际需要，并大多在企业中完成，这大大提高了学生学以致用的能力和成为合格工程技术人员的速度。
				</p>
				<p>
					此外，我国工程教育在师资力量，培养过程的精细程度等方面还与德国有较大差距。
				</p>
				<p>
					因此我们要在改革现有职称评聘制度、搭建立体化多元化工程教育“立交桥”、在有条件的高校和高职院校进行试点、出台政策吸引企业积极参并深化合作与等方向全面改进，才能使我国工程教育改革取得实效。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
