<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>英语和德语的关系(二)——现代</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany_article.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany.css" type="text/css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/language_center/quweideguo.png" width="100%" alt="">
		</div>
	</div>
	<div class="container-fluid returnDiv">
		<div class="row">
			<a href="../interestGermany.html"><i class="fa fa-angle-double-left"></i>返回</a>
		</div>
	</div>
	<!--content-->
	<div class="container interestGermany_article education_articles">
		<div class="row">
			<div class="col-md-12 interestGermany_article_title">
				<h3>英语和德语的关系(二)——现代</h3>
				<p>作者：闫刚</p>
				<p>时间：2018-10-09 14:21:47 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 interestGermany_article_info">
				<p>
					20世纪下半叶,美国在科技(尤其是计算机领域),经济领域的强大实力,以及在时尚等领域中的引导潮流更使美国文化成为“主流文化”,代表着进步、时尚、活力,使年轻人更是趋之若鹜。且随着全球化的进一步发展，不断深入的国际政治、经济合作以及通讯、信息系统特别是因特网领域的飞速进步，出于需求母语需要吸纳外来词，比如母语中缺乏与外来文化中产生的新事物、新概念相对应的词。通常情况下,新概念及相应的称呼便一并被原封不动地拿过去，越来越多的有越来越多的英语外来词被引入德语，并对德国社会的各个领域产生诸多影响
				</p>
				<img class="img-responsive center-block" src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/xx.png" alt="">
				<p style="text-align: center">图1 奥迪汽车在德国本土使用的广告语</p>
				<p>
					比如在计算机领域内有多个概念被全盘吸收,例如:Hardware（硬件）； E-mail（电子邮件） ；Chat（聊天）;或根据它们创造出新的德语词汇,如: download—herunterladen（下载）,或用语义类似的德语单词代替: mouse—Maus（鼠标）。在美国引领潮流的时装、流行音乐、运动等领域内,无数英语词汇在年轻人眼里更是显得时髦而充满活力。例如Shop比Laden（商店）有魅力,Servieve比Dienst（服务）生动,Date比Verabredung（约会）更具神秘性感。
				</p>
				<p>
					互联网的广泛使用也迅速加快了英语化(美语化)的进程。互联网来自美国,不论是互联网的有关术语,还是网页使用的语言,抑或是网络聊天使用的交流方式,无不以英语为特色。比如browser, chat, homepage, online, server, web, messenger等词汇,几乎不再被翻译到自己国家的语言.
				</p>
				<p>
					过去,欧洲上流社会以说法语或在自己的言谈中夹杂法语单词为荣,因为法语代表文明、高雅、时尚,能让听者产生仰慕之心。今天,德国人也乐于德英混用,可能为的是显得开放、年轻、时尚。此外,不少人认为英语单词比相对应的德语单词更简练,更精确,因此更方便，比如stress比Anstrengung（紧张）短,balance比Gleichgewicht（平衡）短。
				</p>
				<p>
					英语和德语作为当今世界上两种主流语言，如今的关系有了一些变化。据统计,如今世界上母语为英语的人口已达三亿两千万,会讲英语的人更是大大超过这个数字。以德语为母语的人口也已达一亿两千万,东西德国统一后, 随着德国经济力量的强大和在世界事务中政治地位的加强，,德语地位变得日益重要, 作为自然科学和工业强国的德国，东欧诸国竞相选择德语作为学生们的第一外语，在东亚和东南亚地区业德语业成为了一门备受青睐的外语。但在如今英语作为最通用国际语言的大环境下，就作用和影响来说，德语只能望其项背，作为非通用语种而存在，但它是一个世界性的文化语言，是科技语言的代名词，一如既往地得到科学界人士的青睐。在我国，随着中德两国经贸关系的进一步发展，必然也会有愈来愈多的人选择德语作为外语，乐山（中德）科技促进中心也正是以此为工作重点，开展双方科技、教育、文化等多层面的工作，推动双方合作的全面深化。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
