<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>德语数字的表达</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany_article.css" type="text/css"/>
    <link rel="stylesheet" href="../../../static/css/languagecenter/interestGermany.css" type="text/css"/>
    <script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../../static/js/header.js"></script>
</head>
<body>

<div id="title">
    <!--languageSearch-->
    <div class="languageSearch">
        <!--Language-->
        <div class="language">
            <a href="#" class="chinese">中文版</a> |
            <a href="#" class="deutsch">Deutsch</a>
        </div>
        <!--time-->
        <div class="time">
            <p id="times"></p>
        </div>
        <!--Search-->
        <div class="searchDiv">
            <form action="">
                <input type="text" class="search_input" placeholder="请输入搜索词">
                <a href="#" class="search_a">
                    <i class="fa fa-search"></i>
                </a>
            </form>
        </div>
    </div>
    <header class="header" id="header">
        <div class="h-fix">
            <div class="containers">
                <!--LoGo-->
                <div class="logo">
                    <a href="../../../templates/index.html" title="中德科技">
                        <img src="../../../static/imgs/logo.png" alt="中德科技" title="中德科技" class="logo_icon"/>
                    </a>
                </div>
                <!--BarsIcon-->
                <div id="m-btn" class="m-btn">
                    <i class="fa fa-bars"></i>
                </div>
                <!--Nav-->
                <nav class="nav-bar" id="nav-box" data-type="index" data-infoid="">
                    <ul class="nav">
                        <li class="li-cate-1">
                            <a href="../../index.html" class="li-cate_a">首页</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="../../newsactivity/news.html" class="li-cate_a">新闻活动</a>
                        </li>
                        <li class="li-cate-1">
                            <a href="../../scientificcooperation/scientific-cooperation.html"
                               class="li-cate_a">中德科技合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../../scientificcooperation/keyanhezuo.html">科研合作</a>
                                </li>
                                <li>
                                    <a href="../../scientificcooperation/technology-platform.html">科技支撑平台</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="../../china_education/zhongdejiaoyuhezuo.html" class="li-cate_a">中德教育合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../../china_education/liuxue.html">留学服务</a>
                                </li>
                                <li>
                                    <a href="../../china_education/youxue.html">游学访问</a>
                                </li>
                                <li>
                                    <a href="../../china_education/zhongdexuexiaohezuo.html">中德学校合作</a>
                                </li>
                                <li>
                                    <a href="../../china_education/zhongdexueyuan.html">中德学院</a>
                                </li>
                                <li>
                                    <a href="../../china_education/shuangyuanzhiidaxue.html">双元制大学</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="../../cooperative_enterprise/zdcooperative_enterprise.html"
                               class="li-cate_a">中德企业合作</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../../cooperative_enterprise/enterprise_inspection.html">企业考察</a>
                                </li>
                                <li>
                                    <a href="../../cooperative_enterprise/investment_advisory.html">投资咨询</a>
                                </li>
                                <li>
                                    <a href="../../cooperative_enterprise/technical_service.html">技术服务</a>
                                </li>
                                <li>
                                    <a href="../../cooperative_enterprise/successful_conversion.html">成果转化</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1 active">
                            <a href="../../language_center/language_center.html" class="li-cate_a">语言中心</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../../language_center/shangwudeyu.html">商务德语课程</a>
                                </li>
                                <li>
                                    <a href="../../language_center/qingshaoniandeyu.html">青少年德语课程</a>
                                </li>
                                <li>
                                    <a href="../../language_center/liudeoubiaokecheng.html">留德欧标课程</a>
                                </li>
                                <li>
                                    <a href="../../language_center/translation.html">翻译服务</a>
                                </li>
                                <li>
                                    <a href="../../language_center/interestGermany.html">趣味德国</a>
                                </li>
                            </ul>
                        </li>
                        <li class="li-cate-1">
                            <a href="../../aboutUs/centeroverview.html" class="li-cate_a">关于我们</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../../aboutUs/organization.html">组织架构</a>
                                </li>
                                <li>
                                    <a href="../../aboutUs/fazhanlicheng.html">发展历程</a>
                                </li>
                                <li>
                                    <a href="../../aboutUs/developtarget.html">发展目标</a>
                                </li>
                                <li>
                                    <a href="../../aboutUs/contactUs.html">联系我们</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--Mask-->
    <div id="mask"></div>
</div>

<section>
    <!--background img-->
    <div class="container-fluid">
        <div class="row">
            <img class="img-responsive" src="../../../static/imgs/index/banner1.png" width="100%" alt="">
        </div>
    </div>
    <!--content-->
    <div class="container interestGermany_article education_articles">
        <div class="row">
            <div class="col-md-12 interestGermany_article_title">
                <h3>德语数字的表达</h3>

                <p>作者：汉斯猫</p>

                <p>时间：2018-05-28 16:10:24 &nbsp;|&nbsp; 来源：本站</p>
            </div>
            <div class="col-md-6 interestGermany_article_info">
                <p>
                    1.学习基础数词,和英语一样从0-12是没有规律的，这需要大家牢记
                </p>
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>eins</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>zwei</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>drei</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>vier</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>fünf</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>sechs</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>sieben</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>acht</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>neun</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>zehn</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>elf</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>zwölf</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 interestGermany_article_info">
                <p>
                    2.数字13-19都是以zehn（10）结尾，开始有规律可循，注意其中sechzehn（16）和siebzehn(17)的词形。
                </p>
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>dreizehn</td>
                    </tr>
                    <tr>

                        <td>14</td>
                        <td>vierzehn</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>fünfzehn</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>sechzehn</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>siebzehn</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>achtzehn</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>neunzehn</td>
                    </tr>

                </table>

            </div>
        </div>
        <div class="row">
            <hr/>
            <div class="col-md-6 interestGermany_article_info">
                <p>
                    3.对于整十的数字都是以zig结尾的，注意zwanzig（20），
                    dreißig（30），sechzig（60）和siebzig（70）的词形，achtzig（80）的读音。
                </p>
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>zwanzig</td>
                    </tr>
                    <tr>

                        <td>30</td>
                        <td>dreißig

                        </td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>vierzig
                        </td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>fünfzig
                        </td>
                    </tr>
                    <tr>
                        <td>60</td>
                        <td>sechzig
                        </td>
                    </tr>
                    <tr>
                        <td>70</td>
                        <td>siebzig
                        </td>
                    </tr>
                    <tr>
                        <td>80</td>
                        <td>achtzig
                        </td>
                    </tr>
                    <tr>
                        <td>90</td>
                        <td>neunzig</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 interestGermany_article_info">
                <p> 4.对于非整十的数字表达是以个位基数词和整十数字的组合，组合顺序：个位und整十位。
                    注意其中*1、*6、*7这些数字的不规则变化。以20-30内的数字表达为例</p>

                <p style="font-size: 1.3em">
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>
                        <td> 21</td>
                        <td>einundzwanzig</td>
                    </tr>
                    <tr>

                        <td>22</td>
                        <td>zweiundzwanzig

                        </td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>dreiundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>vierundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>fünfundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>sechsundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>siebundzwanzig
                        </td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>achtundzwanzig</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>neunundzwanzig</td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row">
        <hr/>
        <div class="col-md-6 interestGermany_article_info">
            <p>
                5.一百到一千以内的数字表达分两种：整百数字表达，非整百数的表达。
                整百数字表达：首先我们得知道hundert(百，一百)的表达，跟英语的有点像,整百数字表达就是:百位数字+hundert。举例：
            </p>
            <table class="table table-bordered">
                <tr>
                    <th>阿拉伯数字</th>
                    <th>德语</th>
                </tr>
                <tr>


                    <td>100</td>
                    <td>(ein)hundert</td>
                </tr>
                <tr>

                    <td>200</td>
                    <td>zweihundert

                    </td>
                </tr>
                <tr>
                    <td>300</td>
                    <td>dreihundert
                    </td>
                </tr>
                <tr>
                    <td>400</td>
                    <td>vierhundert
                    </td>
                </tr>
                <tr>
                    <td>500</td>
                    <td>fünfhundert
                    </td>
                </tr>
                <tr>
                    <td>600</td>
                    <td>sechshundert
                    </td>
                </tr>
                <tr>
                    <td>700</td>
                    <td>siebenhundert
                    </td>
                </tr>
                <tr>
                    <td>800</td>
                    <td>achthundert</td>
                </tr>
                <tr>
                    <td>900</td>
                    <td>neunhundert</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 interestGermany_article_info">
            <p>     非整百数字表达：跟英语类似，
                就是个十位数、百位数的组合，组合顺序：百位（und）后两位（其中的und可省略）。以100-200内的个别数为例：

            <p style="font-size: 1.3em">
            <table class="table table-bordered">
                <tr>
                    <th>阿拉伯数字</th>
                    <th>德语</th>
                </tr>
                <tr>
                    <td> 101</td>
                    <td> hundert(und)eins   </td>
                </tr>
                <tr>

                    <td>106</td>
                    <td>hundert(und)sechs

                    </td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>hundert(und)zehn
                    </td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>hundert(und)sechzig
                    </td>
                </tr>
                <tr>
                    <td>125</td>
                    <td>hundertfünf(und)zwangzig
                    </td>
                </tr>
                <tr>
                    <td>176</td>
                    <td>hundertsechs(und)siebzig
                    </td>
                </tr>

            </table>
        </div>
    </div>



<!--2-->
        <div class="row">
            <hr/>
            <div class="col-md-6 interestGermany_article_info">
                <p>
                    6.一千到一万以内的数字表达也分两种：整千数字表达，非整千数字表达。
                    整千数字表达：首先我们也得知道tausend(千，一千)的表达，也跟百位数字相同,整千数字表达就是:千位数字+tausend。个别举例

                </p>
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>




                        <td>1000</td>
                        <td>（ein）tausend </td>
                    </tr>
                    <tr>

                        <td>2000</td>
                        <td>  zweitausend

                        </td>
                    </tr>
                    <tr>
                        <td>4000</td>
                        <td>viertausend
                        </td>
                    </tr>

                    <tr>
                        <td>6000</td>
                        <td>sechstausend
                        </td>
                    </tr>
                    <tr>
                        <td>7000</td>
                        <td>siebentausend
                        </td>
                    </tr>
                    <tr>
                        <td>8000</td>
                        <td>achttausen
                        </td>
                    </tr>

                </table>
            </div>
            <div class="col-md-6 interestGermany_article_info">
                <p>         当然千位数也可以用百位数表示，如：1000（tausend=zehnhundert）但不常用。
                    非整千数字表达：跟非整百数字表达类似，就是个十位数、百位数、千位数的组合，组合顺序：千位（und）百位（und）个十位（其中的und可省略）。以个别数为例：


                <p style="font-size: 1.3em">
                <table class="table table-bordered">
                    <tr>
                        <th>阿拉伯数字</th>
                        <th>德语</th>
                    </tr>
                    <tr>




                        <td> 1111</td>
                        <td> eintausend(und)einhundert(und)elf  </td>
                    </tr>
                    <tr>

                        <td>6767</td>
                        <td> sechstausend(und)siebenhundert(und)siebenundsechzig

                        </td>
                    </tr>
                    <tr>
                        <td>8243</td>
                        <td> achttausend(und)zweihundert(und)dreiundvierzig
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr/>
        <div class="col-md-12 interestGermany_article_info">
        <p>   对于特殊的数字以及不规则变化的数字，需要大家熟记，不要搞混淆了，记忆方法就因人而异，自己总结</p>
        </div>
    </div>
</section>

<footer id="myFooter">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 myFooter_div">
                <a href="javascript:void (0)" class="myFooter_logo" title="中德科技">
                    <img class="myFooter_div_logo" src="../../../static/imgs/footer/logo.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 myFooter_divs">
                <h5><i class="fa fa-phone"></i>联系方式</h5>

                <p>手机：18728871721</p>

                <p>座机：0833-2595989</p>

                <p>邮箱：lszdkc@163.com</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 myFooter_divs">
                <h5><i class="fa fa-map-marker"></i>地址</h5>

                <p>四川省乐山市高新区高新孵化园A区9楼910</p>

                <p>开放时间：周一至周五 9:00-17:00</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 myFooter_divs">
                <h5>更多</h5>

                <p>
                    <a target="_blank" href="https://www.swjtu.edu.cn/">西南交大</a>
                </p>

                <p>
                    <a target="_blank" href="http://gxq.leshan.gov.cn/">乐山高新区</a>
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 myFooter_div">
                <img class="center-block weixingongzhonghao" src="../../../static/imgs/footer/weixingongzhonghao.jpg"
                     alt="">

                <p>微信公众号</p>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="col-md-12">
                <p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>

                <p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
