<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>footer</title>
</head>
<body>
	<footer>
		<div class="footer" style="color: #999999;font-size: 1rem;padding: 15px;text-align: center;background-color: #2C2C2C;">
			<p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
			<p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
		</div>
	</footer>
</body>
</html>
