<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>趣味德国</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/languagecenter/style.css">
    <link type="text/css" rel="stylesheet" href="../../static/css/index/index.css">
    <link type="text/css" rel="stylesheet" href="../../static/css/index/publish.min.css">
    <link type="text/css" rel="stylesheet" href="../../static/css/index/clientlibs.min.css">
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>

    <!--  头部css js引入  -->
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/header.js"></script>

</head>
<body>
    <section>
        <div>
            <img width="100%" src="../../static/imgs/aboutUs/contactUs/about.png" alt="">
        </div>
        <div class="">

        </div>
    </section>
</body>
</html>