<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>趣味德国</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/header.css"/>
	<link rel="stylesheet" href="../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../static/css/languagecenter/interestGermany.css"/>
	<link rel="stylesheet" href="../../static/css/languagecenter/language_center.css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
	<script>
		$(function () {$(".li-cate-1").eq(7).addClass("active");})
	</script>
	<!--<script>
		$(function () {
			const url = 'http://192.168.0.108:8888/';
			$.ajax({
				type: "POST",
				url: "http://106.52.3.235:8888/germany/list?page=1&limit=1",
				dataType: "json",
				success: function (data) {
					alert(data.data.list[0].title);
					console.log(data.data.list);
					for (let i = 0; i < data.data.list.length; i++) {
						$("#p").html(data.data.list[i].title);
					}
				},
				error: function () {
					alert("服务器繁忙，请稍后再试！");
				}
			});
		});
	</script>-->
</head>
<body>

<section>
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../static/imgs/background_img.jpg" width="100%" alt="">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4">
				<div class="subnav">
					<a href="./language_center.html" style="text-decoration: none;"><h3 style="margin: 0;">语言中心</h3></a>
					<ul class="navcon">
						<li><i></i><a href="./language_center.html">简介</a></li>
						<li><i></i><a href="./shangwudeyu.html">商务德语课程</a></li>
						<li><i></i><a href="./qingshaoniandeyu.html">青少年德语课程</a></li>
						<li><i></i><a href="./liudeoubiaokecheng.html">留德欧标课程</a></li>
						<li><i></i><a href="./translation.html">翻译服务</a></li>
						<li class="cur"><i></i><a href="./interestGermany.html">趣味德国</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-8">
				<div class="article">
					<h3>趣味德国</h3>
					<div class="row">
						<div class="col-md-12 interesGermany_list">
							<ul>
								<li>
									<div class="module-tab-title">
										<a href="./interestGermany_article/interestGermany_article01.html">
											<div class="module-tab-title_DivSon">
												<h4 class="module-tab-title_DivSon_title">德国节日简介</h4>
												<p class="module-tab-title_DivSon_time">时间：2018-11-21</p>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div class="module-tab-title">
										<a href="./interestGermany_article/interestGermany_article02.html">
											<div class="module-tab-title_DivSon">
												<h4 class="module-tab-title_DivSon_title">德语等级介绍</h4>
												<p class="module-tab-title_DivSon_time">时间：2018-10-21</p>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div class="module-tab-title">
										<a href="./interestGermany_article/interestGermany_article03.html">
											<div class="module-tab-title_DivSon">
												<h4 class="module-tab-title_DivSon_title">德语时间的表达</h4>
												<p class="module-tab-title_DivSon_time">时间：2018-06-12</p>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div class="module-tab-title">
										<a href="./interestGermany_article/interestGermany_article04.html">
											<div class="module-tab-title_DivSon">
												<h4 class="module-tab-title_DivSon_title">德语数字的表达</h4>
												<p class="module-tab-title_DivSon_time">时间：2018-05-28</p>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div class="module-tab-title">
										<a href="./interestGermany_article/interestGermany_article05.html">
											<div class="module-tab-title_DivSon">
												<h4 class="module-tab-title_DivSon_title">德语字母表</h4>
												<p class="module-tab-title_DivSon_time">时间：2018-05-28</p>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div class="module-tab-title">
										<a href="./interestGermany_article/interestGermany_article06.html">
											<div class="module-tab-title_DivSon">
												<h4 class="module-tab-title_DivSon_title">情态动词框型结构</h4>
												<p class="module-tab-title_DivSon_time">时间：2018-05-28</p>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div class="module-tab-title">
										<a href="./interestGermany_article/interestGermany_article07.html">
											<div class="module-tab-title_DivSon">
												<h4 class="module-tab-title_DivSon_title">中德工程教育的对比</h4>
												<p class="module-tab-title_DivSon_time">时间：2018-10-09</p>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div class="module-tab-title">
										<a href="./interestGermany_article/interestGermany_article08.html">
											<div class="module-tab-title_DivSon">
												<h4 class="module-tab-title_DivSon_title">英语和德语的关系(一)——近代</h4>
												<p class="module-tab-title_DivSon_time">时间：2018-10-09</p>
											</div>
										</a>
									</div>
								</li>
								<li>
									<div class="module-tab-title">
										<a href="./interestGermany_article/interestGermany_article09.html">
											<div class="module-tab-title_DivSon">
												<h4 class="module-tab-title_DivSon_title">英语和德语的关系(二)——现代</h4>
												<p class="module-tab-title_DivSon_time">时间：2018-10-09</p>
											</div>
										</a>
									</div>
								</li>
							</ul>
							<div class="module-tab-box-ma_Divs">
								<nav aria-label="Page navigation">
									<ul class="pagination">
										<li>
											<a href="#" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li>
											<a href="#" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
