<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>语言中心</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/languagecenter/translation.css">
	<link type="text/css" rel="stylesheet" href="../../static/css/index/publish.min.css">
	<link type="text/css" rel="stylesheet" href="../../static/css/index/clientlibs.min.css">
	<script type="text/javascript" src="../../static/js/common.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publish.min.js"></script>
	<script type="text/javascript" src="../../static/js/clientlibs.min.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
	<style type="text/css">
		.carousel-caption {
			bottom: 10%;
		}

		.carousel-caption p {
			color: white;
			font-size: 2em;
		}
	</style>
</head>
<body>

<section>
	<!--banner-->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<a href="./shangwudeyu.html">
					<img src="../../static/imgs/yuyanzhongxin1920X700.png" alt="" width="100%">
					<div class="carousel-caption">
						<p>商务德语课程</p>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="./qingshaoniandeyu.html">
					<img src="../../static/imgs/yuyanzhongxin1920X700.png" alt="" width="100%">
					<div class="carousel-caption">
						<p>青少年德语课程</p>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="./liudeoubiaokecheng.html">
					<img src="../../static/imgs/yuyanzhongxin1920X700.png" alt="" width="100%">
					<div class="carousel-caption">
						<p>留德欧标课程</p>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="./translation.html">
					<img src="../../static/imgs/yuyanzhongxin1920X700.png" alt="" width="100%">
					<div class="carousel-caption">
						<p>翻译服务</p>
					</div>
				</a>
			</div>
			<div class="item" align="center">
				<a href="./interestGermany_article/interestGermany_article01.html">
					<img style="height: 691px;" src="../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png" alt="">
					<div class="carousel-caption">
						<p>德国节日简介</p>
					</div>
				</a>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!--content-->
	<div class="container-fluid" style="padding: 60px 0;">
		<div class="topicnews__base" data-component="topicnews">
			<div class="topicnews__header">
				<h2 class="topicnews__headline">语言中心</h2>
				<a href="./interestGermany.html" class="topicnews__link">
                    <span class="glyphicon-menu-right glyphicon">
                        <span>
                            更多
                        </span>
                  </span>
				</a>
			</div>
			<div class="slider topicnews__slider">
				<div class="newsteaser__base newsteaser--large">
					<div class="newsteaser__wrapper">
						<a href="./shangwudeyu.html">
							<div class="newsteaser__imageBlock newsteaser__imageBlock--large">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/Language_center/deyu1.jpg"
												 alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">商务德育课程</h3>
										<div class="newsteaser__info">
											本课程主要面向中国企业和有意于德国或是外企工作的高端人才。本中心教授除德语语法外，还会在学习中穿插涉及专业、职场礼仪等知识。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="./qingshaoniandeyu.html">
							<div class="newsteaser__imageBlock">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/Language_center/deyu1.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">青少年德语课程</h3>
										<div class="newsteaser__info">
											您知道吗？著有闻名全世界的《浮士德》的著名诗人歌德是德国人；建立相对论“大厦”的著名科学家爱因斯坦也是德国人；而闻名于世的天才音乐家莫扎特也是德国人哦！德国是全世界公认的音乐、艺术和文学的天堂，在那里可以在音乐、艺术和文学的海洋里尽情徜徉。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="./liudeoubiaokecheng.html">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/Language_center/deyu1.jpg"
												 alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">留德欧标课程</h3>
										<div class="newsteaser__info">
											本课程专门为有意留学德国的青年所开设。在学习德语语法的同时，本中心将穿插德国文化、科技等知识。本中心所用教材为新求精德语强化教程。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="./translation.html">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/Language_center/deyu1.jpg" alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">翻译服务</h3>
										<div class="newsteaser__info">
											笔译 <br>
											企业相关笔译，例如合同、法律条文等 <br>
											口译 <br>
											企业相关口译，例如会议、接待等
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="newsteaser__base newsteaser--small">
					<div class="newsteaser__wrapper">
						<a href="./interestGermany_article/interestGermany_article01.html">
							<div class="newsteaser__imageBlock ">
								<div class="image-wrapper">
									<div class="responsiveMedia__wrapper">
										<picture>
											<img src="../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
												 alt=""
												 class="newsteaser__image responsiveMedia__img blur-up lazyautosizes lazyloaded">
										</picture>
									</div>
									<div class="newsteaser__image--overlay"></div>
								</div>
							</div>
							<div class="newsteaser__text">
								<div class="newsteaser__textContent">
									<div class="newsteaser__textInput">
										<h3 class="newsteaser__header">德国节日简介</h3>
										<div class="newsteaser__info">
											刚刚过去的11月11日，这一天对中德两国来说都是一个特别的日子，很多中国人在光棍节这一天疯狂购物（购物，einkaufen），而万里之外的德国也在这一天拉开了狂欢节（Karneval）的序幕。众所周知，德国是一个以基督教和天主教为主要信仰的国家，很多节日都与基督教义有关，此外德国也是一个文化包容性很强的地方，来自世界各地的人们都汇聚于，除了很多来自东欧，土耳其甚至越南的已经加入德国国籍的“外乡人”，数据显示现在每13个生活在德国的人中就有一个是外国人；近一半的面孔都不再是日耳曼人，那么我们一起来看看这样的德国到底有哪些有趣的节日吧。
										</div>
									</div>
								</div>
								<span class="newsteaser__arrow glyphicon-menu-right glyphicon"></span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>
</body>
</html>

