<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>语言中心</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/languagecenter/style.css">
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body>



<section>
    <!-- 背景图 -->
    <div class="container-fluid" style="margin-bottom: 50px">
        <div class="row url">
            <img src="../../static/imgs/index/banner1.png" class="img-responsive" width="100%" alt=""/>
        </div>
    </div>

</section>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerDiv01">
				<div><span><strong><i class="fa fa-phone"></i>联系方式</strong></span></div>
				<div><span>手机：18728871721</span></div>
				<div><span>座机：0833-2595989</span></div>
				<div><span>邮箱：lszdkc@163.com</span></div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerDiv01">
				<div><span><strong><i class="fa fa-map-marker"></i>地址</strong></span></div>
				<div><span>四川省乐山市高新区高新孵化园A区9楼901</span></div>
				<div><span>开放时间：周一至周五 9:00-17:00</span></div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="footerDiv01_hr"></div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footerDiv01">
				<p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
				<p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>

