<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>青少年德育课程</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/languagecenter/qingshaon.css">
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../static/imgs/Language_center/deguoheard.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container-fluid" style="padding-top: 50px">
		<div class="row">
			<div class="col-md-12">
				<h1 class="commonality_title">青少年德语课程</h1>
			</div>
		</div>
	</div>
	<div class="container" style="padding: 100px 0;">
		<div class="row">
			<div class="col-xs-12 col-md-7 ">
				<img src="../../static/imgs/Language_center/deyu1.jpg"
					 style="padding: 0;width: 100%;margin-bottom: 30px"
					 alt=""/>
			</div>
			<div class="col-xs-12 col-md-5 ">
				<p class="s2">
					您知道吗？著有闻名全世界的《浮士德》的著名诗人歌德是德国人；建立相对论“大厦”的著名科
					学家爱因斯坦也是德国人；而闻名于世的天才音乐家莫扎特也是德国人哦！德国是全世界公认的音乐
					、艺术和文学的天堂，在那里可以在音乐、艺术和文学的海洋里尽情徜徉。是不是很动心呢？另外，
					德语因其明确动作发起者和施受者，被评为世界上最为严谨的语言，没有之一。本中心特此为对德国感
					兴趣的青少年开设青少年德语课程。本中心青少年德语课程是面向11-18岁的青少年，开设的基于欧洲标
					准德语等级A1.1、A1.2的小班教学，上课时间灵活多变，根据孩子的空闲时间而决定。本中心将在基础课
					程中穿插德国趣味知识，让孩子们在学习德语的同时还能更多了解德国历史、文化等知识。课程结束时，
					每个学员会获得描述课程内容的课时证明。
				</p>
			</div>

		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="col-lg-6">
					<div class="our-services-text services">
						<h4>
							平时班
							<span class="price">6664.00<span class="unit">人民币</span></span>
						</h4>
						<p><b>期限：</b>2019.03.02-2019.06.23 / 2019.09.07-2020.01.12</p>
						<p><b>达成目标:</b> 半个级别</p>
						<p><b>水平:</b>A1.1、A1.2</p>
						<p><b>说明：</b></p>
						<p>1、课程按照《欧洲语言共同参照标准》的分级标准制定；</p>
						<p>2、该课程共80课时，每课时40分钟</p>
						<p>3、该价格已包含教材费；</p>
						<p>4、具体课程上课时间与地点将根据各学员的空闲时间安排</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="our-services-text services">
						<h4>
							假期班
							<span class="price">6664.00<span class="unit">人民币</span></span>
						</h4>
						<p><b>期限：</b>无</p>
						<p><b>达成目标:</b> 半个级别</p>
						<p><b>水平:</b>A1.1、A1.2</p>
						<p><b>说明：</b></p>
						<p>1、课程按照《欧洲语言共同参照标准》的分级标准制定；</p>
						<p>2、该课程共80课时，每课时40分钟</p>
						<p>3、该价格已包含教材费；</p>
						<p>4、具体课程上课时间与地点将根据各学员的空闲时间安排</p>
					</div>
				</div>
				<div class="col-xs-6 col-md-5" style="text-align: center;padding: 50px;">
					<img src="../../static/imgs/Language_center/deyu2.png" width="70%" alt=""/>
				</div>
				<div class="col-xs-6 col-md-5" style="text-align: center;padding: 50px;">
					<img src="../../static/imgs/Language_center/deyu2.png" width="70%" alt=""/>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>
</body>
</html>

