<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商务德育课程</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/languagecenter/style.css">
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>

</head>
<body>
<section>
<div class="container-fluid">
	<div class="row">
		<img class="centeroverview_img"  width="100%" src="../../static/imgs/aboutUs/centeroverview/background-zhongxing.png"/>
	</div>

</div>
	<hr/>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-7 ">
				<img src="../../static/imgs/Language_center/deyu1.jpg" style="padding: 0;width: 100%;margin-bottom: 30px"
					 alt=""/>
			</div>
			<div class="col-xs-12 col-md-5 ">
				<div class="s1">
					商务德语课程
				</div>
				<br/>
				<p class="s2">
					本课程主要面向中国企业和有意于德国或是外企工作的高
					<br/><br/>端人才。
					本中心教授除德语语法外，还会在学习中穿插<br/><br/>涉及专业、职场礼仪等知识。
				</p>
			</div>

		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-12 col-md-8 meiti ">
				<table class="table table-bordered ba">
					<tr>
						<th colspan="2" style="background-color: #72d5bb;color:#f4fcfe;text-align: center ">196课时A1课程  </th>
					</tr>
					<tr>
						<td >价格</td>
						<td >6664.00元</td>
					</tr>
					<tr>
						<td >期限</td>
						<td >2019.03.02-2019.06.23 / 2019.09.07-2020.01.12</td>
					</tr>
					<tr>
						<td >达成目标</td>
						<td >A1 </td>
					</tr>
					<tr>
						<td >  团购价（≥3人）</td>
						<td >每人6400.00元</td>
					</tr>
				</table>
				<p  class="s2" style="">
					说明：<br/>
					1、课程按照《欧洲语言共同参照标准》的分级标准制定； <br/>
					2、该课程共196课时（14周，每周14课时），每课时45分钟；<br/>
					3、该价格已包含教材费；<br/>
					4、具体课程上课时间与地点将根据各学员的空闲时间安排。<br/>
				</p>


			</div>
			<div class="col-xs-12 col-md-4 ">
				<img src="../../static/imgs/Language_center/deyu2.jpg" style="padding: 0;width: 100%;margin-bottom: 30px"
					 alt=""/>

			</div>
		</div>
	</div>
</section>

<section>

 </section>
















<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerDiv01">
				<div><span><strong><i class="fa fa-phone"></i>联系方式</strong></span></div>
				<div><span>手机：18728871721</span></div>
				<div><span>座机：0833-2595989</span></div>
				<div><span>邮箱：lszdkc@163.com</span></div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footerDiv01">
				<div><span><strong><i class="fa fa-map-marker"></i>地址</strong></span></div>
				<div><span>四川省乐山市高新区高新孵化园A区9楼901</span></div>
				<div><span>开放时间：周一至周五 9:00-17:00</span></div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="footerDiv01_hr"></div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footerDiv01">
				<p>京公网安备 11010802023866 京ICP备12028606号-1 京ICP证B2-20170629</p>
				<p>Copyright©2017 Gaosiedu.com,All Rights Reserved 中德科技促进中心 版权所有四川乐山文轨科技股份有限公司</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>

