<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>翻译服务</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css">
	<link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/css/languagecenter/translation.css">
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../static/imgs/Language_center/deguoheard.png" width="100%"
				 alt="">
		</div>
	</div>
	<!--content-->
	<div class="container-fluid">
		<div class="col-md-12 translations">
			<div class="sec-title">
				<h1>翻 译 服 务</h1>
				<div class="border-shape"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="about">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-10 col-md-10 col-xl-10 col-lg-offset-1">
							<div class="about-content">
								<div class="part-text" style="float: left;margin-left: 5%">
									<h3>笔 译</h3>
									<p>
										企业相关笔译，例如合同、法律条文等
									</p>
									<p>
										院校相关笔译，例如合同、专利等
									</p>
									<p>
										个人相关笔译，例如专利、申请等
									</p>
								</div>
								<div class="part-text" style="margin-left: 60%">
									<h3>口 译</h3>
									<p>
										企业相关口译，例如会议、接待等
									</p>
									<p>
										院校相关口译，例如会议等
									</p>
									<p>
										个人相关口译，例如旅游等
									</p>
								</div>
								<div class="part-play-video">
									<div class="play-video">
										<a class="play-button venobox mfp-iframe" href="../aboutUs/contactUs.html">
											<i class="fa fa-send" style="transform: rotate(-90deg)"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
