<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>为什么要学德语?</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/css/languagecenter/interest_style.css">
    <link rel="stylesheet" href="../../static/css/languagecenter/weishenm.css">
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
    <script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
    <div class="container-fluid" style="padding: 0">
        <img class="img-responsive center-block" src="../../static/imgs/banner/yuyan.png" alt="" width="100%">
    </div>
    <div class="container">
        <div class="row">
            <h1 class="commonality_title" style="padding: 50px 0;">为什么要学德语</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="blue col-lg-12 col-xs-12">
                    为什么要学德语?
                </div>
                <div class="col-md-12 col-xs-12 hei ">
                    德语是著有《浮士德》的著名诗人歌德的语言。是了不起的音乐家莫扎特、巴赫、贝多芬的语言。是建设相对论“大厦”的科学家爱因斯坦的语言。
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blue col-lg-12 col-xs-12">
                    您对文学感兴趣?
                </div>
                <div class="col-md-12 col-xs-12 hei">
                    <br>德国每年出版新书八万余本。<br><br>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="blue col-lg-12 col-xs-12">
                    您想到欧洲做生意?
                </div>
                <div class="col-md-12 col-xs-12 hei ">
                    德国八千万人口却拥有三百多万家企业，是全球第三大工业国和全球三大出口国之一。全球2700余家隐形冠军企业，德国就拥有1000余家
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blue col-lg-12 col-xs-12">
                    您想出国旅游?
                </div>
                <div class="col-md-12 col-xs-12 hei">
                    德国、奥地利、瑞士、列支敦士登卢森堡及意大利北部、比利时东部、法国东部都在使用德语。<br><br>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="blue col-lg-12 col-xs-12">
                    您想找个好工作?
                </div>
                <div class="col-md-12 col-xs-12 hei ">
                    懂德语的人在职场上的机会更大。许多在国外经营的德国公司、许多在德国经营的外国公司以及与德语国家经济关系密切的公司都需要具有一定德语水平的人才。<br><br>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blue col-lg-12 col-xs-12">
                    您想做科研?
                </div>
                <div class="col-md-12 col-xs-12 hei">
                    科学著作领域，德文著作位列第二。能看懂德文意味着为自己
                    打开一片现代科学各领域研究成果的广阔天地。因此有逾40%的美国科学家推荐自己的学生学习德语，在波兰和匈牙利这个数字则超过70%。
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 hei3">
                <div class="text-left">
                    世界那么大，德语学习语言中心也有那么多。相比于其他语言中心，本中心提供以下特色课程。<br>
                    1、专门针对青少年的青少年德语兴趣课程，在学习德语基础的同时穿插德国历史、文化等知识；<br>
                    2、专门面向于有意留德的留德欧标课程，在学习德语基础的同时穿插德国历史、文化等知识，以及专业知识；<br>
                    3、专门面向企业人才的商务德语课程，在学习德语基础的同时穿插商业交流等知识。<br>
                    本中心从语言出发，穿插德国知识，从而激发您们的想象，让您们足不出户，就能领略到德国的美妙。


                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>

</body>
</html>
