<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>比勒菲尔德应用科学大学留学项目</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/header.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css" type="text/css"/>
	<link rel="stylesheet" href="../../../static/css/china_education/ostfalia_school.css">
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section class="ostfalia_school_background_img">
	<!--内容-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="../../../static/imgs/index/banner3.png" width="100%" alt="">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-6 school_title">
				<img class="img-responsive center-block school_title_img" src="../../../static/imgs/china_education/herd.png" alt="">
				<p>比勒菲尔德应用科学大学留学项目</p>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-6 school_title" align="right">
				<img class="img-responsive center-block" src="../../../static/imgs/china_education/logo1.png" alt="">
			</div>
		</div>
		<div class="row school_info">
			<div class="col-md-12 school_info_yuanxiaojieshao">
				<p class="school_info_yuanxiaojieshao_title">院校介绍</p>
				<span class="school_info_yuanxiaojieshao_jieshao">intodudionaf colleges and Universties</span>
				<p class="school_info_yuanxiaojieshao_info">
					比勒费尔德应用科学大学坐落于北莱菌-北威斯特法伦州，拥有5大学院，37个本科专业，13个研究生专业。
					擅长机电-体化、工业4.0. 虚拟样机等学科。与BOCH (博 世公司。Goldbeck. DB ( 德国国宝铁路)等企业有深度合作。
				</p>
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 school_info_zhaoshengxijie">
						<p class="school_info_zhaoshengxijie_title">招生细节</p>
						<span class="school_info_yuanxiaojieshao_jieshao"> Detailsof Recuil students</span>
						<table class="table table-bordered school_info_yuanxiaojieshao_table">
							<tr>
								<th colspan="2" style="background-color: #72d5bb;color:#72d5bb ">math</th>
							</tr>
							<tr>
								<td>留学文凭</td>
								<td>24人</td>
							</tr>
							<tr>
								<td>留学专业</td>
								<td>优化与仿真、电气
								</td>
							</tr>
							<tr>
								<td>颁发文凭</td>
								<td>德国Bielefeld应用科学大学硕士
								</td>
							</tr>
						</table>
						<div class="school_info_tiaojian">
							<p class="school_info_tiaojian_title">招生对象及申请条件</p>
							<span class="school_info_yuanxiaojieshao_jieshao">Enralimentohjectand application condlions</span>
							<table class="table table-bordered school_info_tiaojian_table">
								<tr>
									<th colspan="2" style="background-color: #72d5bb;color:#72d5bb ">math</th>
								</tr>
								<tr>
									<td colspan="2">西南交通大学本科毕业
									</td>

								</tr>
								<tr>

									<td colspan="2">德语等级达到B2及以上</td>
								</tr>
								<tr>
									<td colspan="2">大学主干课程平均分78分以上
									</td>
								</tr>
								<tr>
									<td colspan="2">本科专业为:机械、电气。计算机
									</td>
								</tr>
							</table>
						</div>
						<div class="school_info_feiyong">
							<p class="school_info_feiyong_title">留学费用</p>
							<span class="school_info_yuanxiaojieshao_jieshao">costof Overseas Study</span>
							<table class="table table-bordered school_info_feiyong_table">
								<tr>
									<th colspan="2" style="background-color: #72d5bb;color:#72d5bb ">math</th>
								</tr>
								<tr>
									<td>学费</td>
									<td>免学费</td>
								</tr>
								<tr>
									<td>生活费</td>
									<td>6.5万RMB~8万RMB/年
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 school_info_img">
						<img class="img-responsive center-block" src="../../../static/imgs/china_education/s1_b2.png" alt="">
					</div>
				</div>
			</div>
			<div class="col-md-12 school_info_liucheng">
				<h2 class="school_info_liucheng_title">招生流程</h2>
				<div class="school_info_liucheng_div">
					<ul>
						<li>学校报名</li>
						<li>
							<i class="fa fa-angle-double-right"></i>
							<i class="fa fa-angle-double-right"></i>
						</li>
						<li>德方教授笔试</li>
						<li>
							<i class="fa fa-angle-double-right"></i>
							<i class="fa fa-angle-double-right"></i>
						</li>
						<li>德方教授面试</li>
						<li>
							<i class="fa fa-angle-double-right"></i>
							<i class="fa fa-angle-double-right"></i>
						</li>
						<li>APS团签</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="padding: 50px 0">
				<img class="img-responsive center-block" src="../../../static/imgs/china_education/footer.png" alt="">
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
