<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>新闻动态</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.css"/>
	<link rel="stylesheet" href="../../static/css/header.css"/>
	<link rel="stylesheet" href="../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../static/css/newsactivity/news_list.css"/>
	<script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../static/js/header.js"></script>
	<script type="text/javascript" src="../../static/js/newsList.js"></script>
	<script type="text/javascript" src="../../static/js/publicHeader01.js"></script>
</head>
<body>

<section>
	<!--banner-->
	<div class="news_list_Div_banners">
		<div class="container news_list_Div_banner">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic" data-slide-to="4"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="../../static/imgs/newsactivity/banner1.png" alt="">
						<div class="carousel-caption">
							<p>
								2017年5月16日下午，由西南交大峨眉校区负责人带队，
								与到访的德国奥斯特法利亚应用科学大学代表团共赴峨眉山市拜访交流，
								共商合作事宜，峨眉山市委、市政府对此次三方会谈高度重视。
							</p>
						</div>
					</div>
					<div class="item">
						<img src="../../static/imgs/newsactivity/banner2.jpg" alt="">
						<div class="carousel-caption">
							<p>
								2018年3月26日，德国奥斯特法利亚应用科学大学（Ostfalia）刘晓波（Xiaobo Liu-Henke）
								教授到西南交大峨眉校区对2018届毕业生赴德攻读硕士研究生进行了选拨录取工作
							</p>
						</div>
					</div>
					<div class="item">
						<img src="../../static/imgs/newsactivity/banner3.png" alt="">
						<div class="carousel-caption">
							2018年3月30日，由四川大学、德国华人教授学会主办的第十届中德教授论坛在四川大学举行
						</div>
					</div>
					<div class="item">
						<img src="../../static/imgs/newsactivity/banner4.jpg" alt="">
						<div class="carousel-caption">
							<p>
								2019年1月11日上午，四川（乐山）中德科技促进中心交大工作组、机电工程应用研究所与
								四川博睿特外国语学校曾校长一行六人在西南交大峨眉校区进行了座谈
							</p>
						</div>
					</div>
					<div class="item">
						<img src="../../static/imgs/newsactivity/banner5.png" alt="">
						<div class="carousel-caption">
							<p>
								2016年10月19日，在唐阳教授的多方协调下，邀请了德国奥斯特法利亚应用科学大学校长Rosemarie
								Karger莅临乐山，与乐山高新区和西南交大峨
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="bannerDiv">
				<a class="carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a style="right: 0;left: auto;" class="carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<!--新闻文章列表-->
	<div class="module-banner" style="background-color: #e2e2e2">
		<div class="module-banner-box">
			<div class="module-banner-tab clearfix">
				<div class="module-banner-tab-list hd">
					<div class="news_list_Div">
						<h3>新闻动态</h3>
						<span>News</span>
					</div>
					<div class="news_list_Div_lable">
						<label>
							<select id="selectChooseType">
								<option style="display: none" value="0">请选择活动类型</option>
								<option value="1">科技合作</option>
								<option value="2">教育合作</option>
								<option value="3">企业合作</option>
								<option value="4">语言中心</option>
							</select>
						</label>
						<label>
							<select id="selectChooseTime">
								<option style="display: none" value="0">请选择活动时间</option>
								<option value="1">降序</option>
								<option value="2">升序</option>
							</select>
						</label>
					</div>
				</div>
				<div class="module-banner-tab-list-box bd">
					<ul class="module-tab-box-ma" style="display: block;">
						<div class="module-tab-box-ma_Div">
							<h3>活动</h3>
						</div>
						<li>
							<div class="module-tab-title">
								<a href="./technology_articles/technology_articles03.html">
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【科技】 车辆数字实验室第10批招新报名及分组情况公示</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-12-14 20:00:38 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											本学期10月中旬，车辆数字实验室在2018级新生中进行了招新宣讲，并接受学生报名。11初，
											实验室导师根据报名同学人数将学员按每3~4人一组的方式进行分组，并下发车辆实验室考核任务书
											（即完成一套转向架图纸的三维绘制）。2019年3月，导师们将对作品完成情况进行考核，
											并最终确定车辆数字实验室录取学生名单，开始对成员进行系统训练。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./technology_articles/technology_articles02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../static/imgs/newsactivity/technology02.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">
											【科技】Ostfalia刘晓波教授在峨讲座并指导dSPACE实验室建设</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-12-04 19:52:59 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年12月4日，四川（乐山）中德科技促进中心主要发起人之一、
											德国Ostfalia应用科学大学刘晓波教授来西南交大峨眉校区做讲座并指导dSPACE实验室建设。
											上午，刘教授针对校区2015~2018级有意赴德国留学的同学进行了相关介绍。
											刘教授具体介绍了Ostfalia应用科学大学的地理位置、办学规模、专业设置、
											留学生活等方面的情况，并针对同学们提出的问题进行了解答。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./technology_articles/technology_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../static/imgs/newsactivity/technology03.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【科技】 中德科促在交大峨眉校区顺利开展2018年秋季迎新工作</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-09-03 11:30:57 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年8月下旬，四川（乐山）中德科技促进中心交大工作组对交大峨眉校区2018级迎
											新工作提前进行具体部署，决定通过持续开展“校区与德国大学合作展板宣传”、
											“德语角系列活动”、“唐阳副教授留学德国主题报告会”、“新一届德语基础班招生”、
											“机电工程应用研究所公众号推送”等活动欢迎2018级入校新生。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles07.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education01.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											四川博睿特外国语学校与研究所交流“青少年创新培养体系建设</h4>
										<p class="module-tab-title_DivSon02_time">时间：2019-10-09 10:13:17 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2019年1月11日上午，四川（乐山）中德科技促进中心交大工作组、
											机电工程应用研究所与四川博睿特外国语学校曾校长一行六人在西南交大峨眉校区进行
											了座谈，就如何在博睿特学校开展科创训练、培养学生创新意识，以及如何将德国教育理
											念融入到博睿特外国语学校课程进行了广泛交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles06.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education02.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 中德科促在交大峨眉校区开展新学期中德合作讲座</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-09-25 20:28:47 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月20日下午，由西南交大人事处、教务处、科发院、工会峨眉相应单位主办，
											西南交大机械工程学院、四川（乐山）中德科技促进中心承办的迎新“中德合作讲座”在校区内顺利举行。
											此次中德合作讲座面向校区全体师生，讲座邀请到交控系唐阳副教授为主讲人，
											以“德国工业4.0、德国工程教育及中德合作行动计划”为主题进行讲解。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles05.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education03.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 我中心参加四川大学第十届中德教授论坛</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-03-31 10:30:58 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年3月30日，由四川大学、德国华人教授学会主办的第十届中德教授论坛在四川大学举行。
											四川大学校长、中国工程院两位院士、德国驻成都总领事馆总领事、
											德国克劳斯塔尔工业大学副校长、德意志学术交流中心亚太地区负责人、
											德国华人教授学会会长、德国华人教授学会副会长、德国工程院院士等出席论坛，
											来自中德10余所高校和科研机构的专家和学者参加了论坛。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles04.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education04.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">教育合作 2018春季西南交大峨眉校区留德招生活动</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-03-28 09:04:58 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年3月26日，德国奥斯特法利亚应用科学大学（Ostfalia）刘晓波
											（Xiaobo Liu-Henke）教授到西南交大峨眉校区对2018届毕业生赴德攻读硕士研究生
											进行了选拨录取工作。本次为该合作项目第八次开展的选拨工作，校区4学生成功被录取，
											将在今年九月赴德留学。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles03.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education05.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 唐阳教授访问德国比勒费尔德应用科学大学</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-03-31 10:30:58 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2017年6月29~30日，应比勒菲尔德应用科学大学Kottin教授邀请，
											正在德国访学的我中心唐阳教授与浙江科技学院李强教授到访该校，就中德双方互派教授、
											接收研究生等合作进行交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education06.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											峨眉校区、德国奥斯特法利亚应用科学大学共赴峨眉山市交流访问</h4>
										<p class="module-tab-title_DivSon02_time">时间：2017-05-17 21:31:03 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											 2017年5月16日下午，由西南交大峨眉校区负责人带队，与到访的德国奥斯特法利亚应用科学
											大学代表团共赴峨眉山市拜访交流，共商合作事宜，峨眉山市委、市政府对此次三方会谈高度重视。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education07.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											乐山高新区与西南交大峨眉校区及德国奥斯特法利亚应用科学大学签订三方合作协议</h4>
										<p class="module-tab-title_DivSon02_time">时间：2016-10-20 21:14:13 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2016年10月19日，在唐阳教授的多方协调下，邀请了德国奥斯特法利亚应用科学大学校长
											Rosemarie Karger莅临乐山，与乐山高新区和西南交大峨眉校区进行了深入交流，
											组织策划三方共建“四川（乐山）中德科技促进中心”。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./language_articles/language_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/language01.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】中德科促在交大峨眉校区开展新学期第1期德语角活动</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-09-11 14:46:05 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月6日下午，四川（乐山）中德科技促进中心交大工作组在校区内顺利开展新学期第一期德语角活动。
											此次德语角活动邀请到唐阳副教授、方草老师、余芳老师作为嘉宾和活动评委。
											参加本次活动的同学主要是校区B1班学员、A1班学员及刚入校想要学习德语的大一新生。
										</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<ul class="module-tab-box-ma module_ul1" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3><img src="../../static/imgs/newsactivity/keji.png" alt="">科技合作</h3>
						</div>
						<li>
							<div class="module-tab-title">
								<a href="./technology_articles/technology_articles03.html">
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【科技】 车辆数字实验室第10批招新报名及分组情况公示</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-12-14 20:00:38 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											本学期10月中旬，车辆数字实验室在2018级新生中进行了招新宣讲，并接受学生报名。11初，
											实验室导师根据报名同学人数将学员按每3~4人一组的方式进行分组，并下发车辆实验室考核任务书
											（即完成一套转向架图纸的三维绘制）。2019年3月，导师们将对作品完成情况进行考核，
											并最终确定车辆数字实验室录取学生名单，开始对成员进行系统训练。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./technology_articles/technology_articles02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../static/imgs/newsactivity/technology02.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">
											【科技】Ostfalia刘晓波教授在峨讲座并指导dSPACE实验室建设</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-12-04 19:52:59 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年12月4日，四川（乐山）中德科技促进中心主要发起人之一、
											德国Ostfalia应用科学大学刘晓波教授来西南交大峨眉校区做讲座并指导dSPACE实验室建设。
											上午，刘教授针对校区2015~2018级有意赴德国留学的同学进行了相关介绍。
											刘教授具体介绍了Ostfalia应用科学大学的地理位置、办学规模、专业设置、
											留学生活等方面的情况，并针对同学们提出的问题进行了解答。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./technology_articles/technology_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../static/imgs/newsactivity/technology03.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【科技】 中德科促在交大峨眉校区顺利开展2018年秋季迎新工作</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-09-03 11:30:57 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年8月下旬，四川（乐山）中德科技促进中心交大工作组对交大峨眉校区2018级迎
											新工作提前进行具体部署，决定通过持续开展“校区与德国大学合作展板宣传”、
											“德语角系列活动”、“唐阳副教授留学德国主题报告会”、“新一届德语基础班招生”、
											“机电工程应用研究所公众号推送”等活动欢迎2018级入校新生。
										</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<ul class="module-tab-box-ma module_ul2" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3><img src="../../static/imgs/newsactivity/jiaoyu.png" alt="">教育合作</h3>
						</div>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles07.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education01.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											四川博睿特外国语学校与研究所交流“青少年创新培养体系建设</h4>
										<p class="module-tab-title_DivSon02_time">时间：2019-10-09 10:13:17 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2019年1月11日上午，四川（乐山）中德科技促进中心交大工作组、
											机电工程应用研究所与四川博睿特外国语学校曾校长一行六人在西南交大峨眉校区进行
											了座谈，就如何在博睿特学校开展科创训练、培养学生创新意识，以及如何将德国教育理
											念融入到博睿特外国语学校课程进行了广泛交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles06.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education02.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 中德科促在交大峨眉校区开展新学期中德合作讲座</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-09-25 20:28:47 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月20日下午，由西南交大人事处、教务处、科发院、工会峨眉相应单位主办，
											西南交大机械工程学院、四川（乐山）中德科技促进中心承办的迎新“中德合作讲座”在校区内顺利举行。
											此次中德合作讲座面向校区全体师生，讲座邀请到交控系唐阳副教授为主讲人，
											以“德国工业4.0、德国工程教育及中德合作行动计划”为主题进行讲解。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles05.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education03.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 我中心参加四川大学第十届中德教授论坛</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-03-31 10:30:58 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年3月30日，由四川大学、德国华人教授学会主办的第十届中德教授论坛在四川大学举行。
											四川大学校长、中国工程院两位院士、德国驻成都总领事馆总领事、
											德国克劳斯塔尔工业大学副校长、德意志学术交流中心亚太地区负责人、
											德国华人教授学会会长、德国华人教授学会副会长、德国工程院院士等出席论坛，
											来自中德10余所高校和科研机构的专家和学者参加了论坛。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles04.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education04.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">教育合作 2018春季西南交大峨眉校区留德招生活动</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-03-28 09:04:58 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年3月26日，德国奥斯特法利亚应用科学大学（Ostfalia）刘晓波
											（Xiaobo Liu-Henke）教授到西南交大峨眉校区对2018届毕业生赴德攻读硕士研究生
											进行了选拨录取工作。本次为该合作项目第八次开展的选拨工作，校区4学生成功被录取，
											将在今年九月赴德留学。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles03.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education05.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 唐阳教授访问德国比勒费尔德应用科学大学</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-03-31 10:30:58 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2017年6月29~30日，应比勒菲尔德应用科学大学Kottin教授邀请，
											正在德国访学的我中心唐阳教授与浙江科技学院李强教授到访该校，就中德双方互派教授、
											接收研究生等合作进行交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education06.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											峨眉校区、德国奥斯特法利亚应用科学大学共赴峨眉山市交流访问</h4>
										<p class="module-tab-title_DivSon02_time">时间：2017-05-17 21:31:03 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											 2017年5月16日下午，由西南交大峨眉校区负责人带队，与到访的德国奥斯特法利亚应用科学
											大学代表团共赴峨眉山市拜访交流，共商合作事宜，峨眉山市委、市政府对此次三方会谈高度重视。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="./education_articles/education_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/education07.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											乐山高新区与西南交大峨眉校区及德国奥斯特法利亚应用科学大学签订三方合作协议</h4>
										<p class="module-tab-title_DivSon02_time">时间：2016-10-20 21:14:13 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2016年10月19日，在唐阳教授的多方协调下，邀请了德国奥斯特法利亚应用科学大学校长
											Rosemarie Karger莅临乐山，与乐山高新区和西南交大峨眉校区进行了深入交流，
											组织策划三方共建“四川（乐山）中德科技促进中心”。
										</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<ul class="module-tab-box-ma module_ul3" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3><img src="../../static/imgs/newsactivity/qiye.png" alt="">企业合作</h3>
						</div>
						<h3>暂无</h3>
					</ul>
					<ul class="module-tab-box-ma module_ul4" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3><img src="../../static/imgs/newsactivity/yuyan.png" alt="">语言中心</h3>
						</div>
						<li>
							<div class="module-tab-title">
								<a href="./language_articles/language_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../static/imgs/newsactivity/language01.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】中德科促在交大峨眉校区开展新学期第1期德语角活动</h4>
										<p class="module-tab-title_DivSon02_time">时间：2018-09-11 14:46:05 &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月6日下午，四川（乐山）中德科技促进中心交大工作组在校区内顺利开展新学期第一期德语角活动。
											此次德语角活动邀请到唐阳副教授、方草老师、余芳老师作为嘉宾和活动评委。
											参加本次活动的同学主要是校区B1班学员、A1班学员及刚入校想要学习德语的大一新生。
										</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="module-tab-box-ma_Divs">
					<nav aria-label="Page navigation">
						<ul class="pagination pagination-lg">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../static/js/publicFooter01.js"></script>
</body>
</html>
