<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>新闻活动</title>
    <link href="../../static/css/newsactivity/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../static/css/header.css" type="text/css"/>
    <script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/js/header.js"></script>
</head>
<body>

<!--头条-->
<div class=" wrap clearfix overflow pt30">
    <p><img src="../../static/imgs/newsactivity/index_r5_c3.jpg" class="fl"></p>
    <dl class="pb15  overflow cl mt10 ">
        <dt><a href="https://www.17sucai.com/preview/669084/2019-01-21/zhibohenan/index.html#" class=" f30 lanse">塞尔维亚各界期待习近平主席到访</a>
        </dt>
        <dd class="hs l-30 f18">国家主席习近平将对塞尔维亚进行国事访问。塞尔维亚各界热切期待习近平主席的到访。</dd>
    </dl>
</div>
<!--头条-->
<!--新闻部分-->
<div class="wrap pt40 overflow">
    <div class="w705 overflow fl">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../../static/imgs/newsactivity/01.jpg" alt="..." width="100%">
                    <div class="carousel-caption">
                      <p style="font-size: 2em">红三代叶明子太庙办盛典 白色羽毛装高贵动人</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../../static/imgs/newsactivity/02.jpg" alt="..." width="100%">
                    <div class="carousel-caption">
                      <p style="font-size: 2em">佟大为登封面表情搞怪 成熟男人也是天真男孩</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../../static/imgs/newsactivity/03.jpg" alt="..." width="100%">
                    <div class="carousel-caption">
                     <p style="font-size: 2em">21岁出柜超模巴厘自曝搞笑</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../../static/imgs/newsactivity/04.jpg" alt="..." width="100%">
                    <div class="carousel-caption">
                       <p style="font-size: 2em">金喜善出道21年 皮肤白皙越长越"嫩"!</p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="w470 overflow fr">

        <dl class="pb20 boder-bb overflow cl mt10 ">
            <dt><a href="" class="f20 ">新宝马X1长轴版
                领衔车展重磅SUV</a></dt>
            <dd class="hs l-30">带你吃喝玩乐逛车展|上市新车早知"到"|路虎将推出揽胜轿跑版</dd>
        </dl>
        <dl class="pb20 boder-bb overflow cl mt10 ">
            <dt><a href="" class="f20">新宝马X1长轴版
                领衔车展重磅SUV</a></dt>
            <dd class="hs l-30">带你吃喝玩乐逛车展|上市新车早知"到"|路虎将推出揽胜轿跑版</dd>
        </dl>
        <dl class="pb20 boder-bb overflow cl mt10 ">
            <dt><a href="" class="f20">新宝马X1长轴版
                领衔车展重磅SUV</a></dt>
            <dd class="hs l-30">带你吃喝玩乐逛车展|上市新车早知"到"|路虎将推出揽胜轿跑版</dd>
        </dl>
        <dl class="pb20 boder-bb overflow cl mt10 ">
            <dt><a href="" class="f20">新宝马X1长轴版
                领衔车展重磅SUV</a></dt>
            <dd class="hs l-30">带你吃喝玩乐逛车展|上市新车早知"到"|路虎将推出揽胜轿跑版</dd>
        </dl>
        <ul class="clearfix w100 overflow pt15">
            <li>
                <a href="">新宝马X1长轴版
                    领衔车展重磅SUV</a>
            </li>
            <li>
                <a href="">带你吃喝玩乐逛车展V</a>
            </li>
            <li>
                <a href="">新宝马X1长轴版
                    领衔车展重磅SUV</a>
            </li>
            <li>
                <a href="">带你吃喝玩乐逛车展V</a>
            </li>
        </ul>
    </div>
</div>
<!--ad-->
<div class="wrap overflow pt15">
    <img src="../../static/imgs/newsactivity/index_r1_c3.jpg">
</div>
<!--ad-->

<!--社会实时-->
<div class="wrap overflow  clearfix pt20">
    <a href="">
        <img src="../../static/imgs/newsactivity/index_r17_c4.jpg" class="fl"></a>
</div>
<div class="wrap overflow  clearfix pt30">
    <!--1-->
    <div class="w362 fl overflow">
        <div class="w362_top overflow">
            <p class="fl"><a href=""
                             class="lanse f18 pl10">时政</a></p>
            <span class="fr pr15"><a href=""
                                     class=" f12 pl10">更多 +</a></span>
        </div>
        <div class="w100_r1 overflow clearfix pt15 w100">
            <ol>
                <a href="">
                    <img src="../../static/imgs/newsactivity/fTXg-fxtmwep2901044.jpg">
                    <span>科比中小型</span>
                </a>
            </ol>
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
        <div class="w100_u clearfix overflow pt5">
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
    </div>
    <!--1-->
    <!--1-->
    <div class="w362 fr overflow">
        <div class="w362_top overflow">
            <p class="fl"><a href=""
                             class="lanse f18 pl10">财经</a></p>
            <span class="fr pr15"><a href=""
                                     class=" f12 pl10">更多 +</a></span>
        </div>
        <div class="w100_r1 overflow clearfix pt15 w100">
            <ol>
                <a href="">
                    <img src="../../static/imgs/newsactivity/fTXg-fxtmwep2901044.jpg">
                    <span>科比中小型</span>
                </a>
            </ol>
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
        <div class="w100_u clearfix overflow pt5">
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
    </div>
    <!--1-->
    <!--1-->
    <div class="w362 fr overflow">
        <div class="w362_top overflow">
            <p class="fl"><a href=""
                             class="lanse f18 pl10">食品</a></p>
            <span class="fr pr15"><a href=""
                                     class=" f12 pl10">更多 +</a></span>
        </div>
        <div class="w100_r1 overflow clearfix pt15 w100">
            <ol>
                <a href="">
                    <img src="../../static/imgs/newsactivity/fTXg-fxtmwep2901044.jpg">
                    <span>科比中小型</span>
                </a>
            </ol>
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
        <div class="w100_u clearfix overflow pt5">
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
    </div>
    <!--1-->
</div>
<div class="wrap overflow  clearfix pt30">

    <!--1-->
    <div class="w362 fl overflow">
        <div class="w362_top overflow">
            <p class="fl"><a href=""
                             class="lanse f18 pl10">法制</a></p>
            <span class="fr pr15"><a href=""
                                     class=" f12 pl10">更多 +</a></span>
        </div>
        <div class="w100_r1 overflow clearfix pt15 w100">
            <ol>
                <a href="">
                    <img src="../../static/imgs/newsactivity/fTXg-fxtmwep2901044.jpg">
                    <span>科比中小型</span>
                </a>
            </ol>
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
        <div class="w100_u clearfix overflow pt5">
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
    </div>
    <!--1-->
    <!--1-->
    <div class="w362 fr overflow">
        <div class="w362_top overflow">
            <p class="fl"><a href=""
                             class="lanse f18 pl10">科技</a></p>
            <span class="fr pr15"><a href=""
                                     class=" f12 pl10">更多 +</a></span>
        </div>
        <div class="w100_r1 overflow clearfix pt15 w100">
            <ol>
                <a href="">
                    <img src="../../static/imgs/newsactivity/fTXg-fxtmwep2901044.jpg">
                    <span>科比中小型</span>
                </a>
            </ol>
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
        <div class="w100_u clearfix overflow pt5">
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
    </div>
    <!--1-->

    <div class="w362 fr overflow">
        <div class="w362_top overflow">
            <p class="fl"><a href=""
                             class="lanse f18 pl10">爱心</a></p>
            <span class="fr pr15"><a href=""
                                     class=" f12 pl10">更多 +</a></span>
        </div>
        <div class="w100_r1 overflow clearfix pt15 w100">
            <ol>
                <a href="">
                    <img src="../../static/imgs/newsactivity/fTXg-fxtmwep2901044.jpg">
                    <span>科比中小型</span>
                </a>
            </ol>
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
        <div class="w100_u clearfix overflow pt5">
            <ul>
                <li><a href="">足协杯-鲁能负申花 亚冠路尽</a></li>
                <li><a href="">上港输富力出局 仅剩一救冠路尽</a></li>
            </ul>
        </div>
    </div>
    <!--1-->


</div>

</body>
</html>