/*公共样式*/
.aboutUs .sec-title {
	text-align: center;
}

.aboutUs .border-shape {
	background: #c9c9c9;
	display: block;
	height: 1px;
	left: 0;
	margin: 20px auto;
	position: relative;
	right: 0;
	top: 0;
	width: 300px;
}

.aboutUs .border-shape::before {
	background: #c9c9c9 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	top: 3px;
	width: 200px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.aboutUs .border-shape::after {
	background: #c9c9c9 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 6px;
	width: 100px;
	margin: 0 auto;
}

.subnav {
	width: 100%;
	background: #1E89DF;
	margin-top: -40px;
	position: relative;
}

.subnav h3 {
	font-weight: bold;
	height: 80px;
	line-height: 80px;
	font-size: 2em;
	text-indent: 30px;
	color: #fff;
}

.navcon {
	background: #eee;
	border-left: #1E89DF 12px solid;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: normal;
}

.navcon li {
	list-style: none;
	min-height: 52px;
	padding-left: 30px;
	position: relative;
	line-height: 52px;
	font-size: 16px;
	border-bottom: #d2d2d2 1px solid;
}

.navcon li i {
	display: none;
	width: 6px;
	height: 52px;
	position: absolute;
	left: -6px;
	top: 0;
	background: #f7ab00;
}

.navcon li a {
	font-size: 1.4em;
	color: #1E89DF;
	text-decoration: none;
	font-weight: bold;
}

.navcon li.cur {
	background: #fff;
}

.navcon li.cur i {
	display: block;
}

.navcon li:hover {
	background: #fff;
}

.navcon li:hover i {
	display: block;
}

.article {
	width: 100%;
	padding-bottom: 10px;
}

.article h2 {
	color: #1E89DF;
	border-bottom: #d2d2d2 1px solid;
}

.article h3 {
	padding: 14px 0;
	font-size: 2.1em;
	color: #1E89DF;
	border-bottom: #d2d2d2 1px solid;
}

.article .art_con {
	width: 100%;
	letter-spacing: 2px;
	font-size: 14px;
	overflow: hidden;
	line-height: 24px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.article .art_con p {
	padding: 8px 0;
	font-size: 1.4em;
	line-height: 2em;
	text-indent: 2em;
}

@media (max-width: 767px) {
	.subnav {
		margin-top: 30px;
	}
}

/*关于我们*/
.centeroverviewDivSon01 {
	margin-top: 50px;
	padding: 15px;
}

.centeroverviewDiv_p {
	font-size: 1.2em;
	text-align: left;
	text-indent: 2em;
	line-height: 2.5em;
	letter-spacing: 2px;
}

.centeroverviewDivSon02 {
	padding: 30px 0;
	text-align: center;
}

.centeroverviewDivSon02 > a {
	text-decoration: none;
}

.centeroverviewDivqinayue {
	padding: 50px 0;
	text-align: center;
}

@media (max-width: 991px) {
	.centeroverviewDivSon02 {
		padding-top: 0;
	}
}

/*组织构架*/
.organizationDiv03 div {
	margin: 15px 0;
}

.organizationDiv03 div p {
	margin: 0;
	padding: 15px 30px;
	font-size: 1.3em;
	letter-spacing: 1px;
	transition: all 0.3s;
}

@media (min-width: 1025px) {
	.organizationDiv03 div p:hover {
		color: white;
		cursor: pointer;
		padding-left: 15px;
		background-color: #1E89DF;
	}
}

@media (max-width: 1024px) {
	.organizationDiv01 h2 {
		font-size: 1.6em;
	}
}

/*发展历程*/
.main-timeline {
	width: 80%;
	margin: 20px auto;
	position: relative;
}

@media (max-width: 750px) {
	.main-timeline:before {
		content: "";
		display: block;
		width: 2px;
		height: 94%;
		background: rgba(17, 24, 255, 0.64);
		margin: 0 0 0 -1px;
		position: absolute;
		top: 0;
		left: 50%;
	}
}

@media (min-width: 750px) {
	.main-timeline:before {
		content: "";
		display: block;
		width: 2px;
		height: 93%;
		background: rgba(17, 24, 255, 0.64);
		margin: 0 0 0 -13px;
		position: absolute;
		top: 0;
		left: 50%;
	}
}

.main-timeline .timeline {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

.main-timeline .timeline:after {
	content: "";
	display: block;
	clear: both;
}

.main-timeline .timeline-content {
	width: 40%;
	float: left;
	margin: 5px 0 0 0;
	border-radius: 6px;
}

.main-timeline .date {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: white;
	padding: 5px 0;
	margin: 0 0 0 -27px;
	position: absolute;
	top: 0;
	left: 50%;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	color: #068ab8;
	border: 2px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 0 5px #068ab8;
}

.main-timeline .date span {
	display: block;
	text-align: center;
}

.main-timeline .day,
.main-timeline .year {
	font-size: 10px;
}

.main-timeline .month {
	font-size: 18px;
}

.main-timeline .title {
	padding: 15px;
	margin: 0;
	font-size: 1.6em;
	font-weight: bolder;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	border-radius: 6px 6px 0 0;
	position: relative;
}

.main-timeline .title:after {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 20px;
	right: -5px;
	transform: rotate(-45deg);
}

.main-timeline .description {
	padding: 15px;
	margin: 0;
	font-size: 1.2em;
	color: #333333;
	background: white;
	border-radius: 0 0 6px 6px;
}

.main-timeline .timeline:nth-child(2n+2) .timeline-content {
	float: right;
}

.main-timeline .timeline:nth-child(2n+2) .title:after {
	left: -5px;
}

.main-timeline .timeline:nth-child(1) .title,
.main-timeline .timeline:nth-child(1) .title:after {
	background: #9f84c4;
}

.main-timeline .timeline:nth-child(2) .title,
.main-timeline .timeline:nth-child(2) .title:after {
	background: #02a2dd;
}

.main-timeline .timeline:nth-child(3) .title,
.main-timeline .timeline:nth-child(3) .title:after {
	background: #58b25e;
}

.main-timeline .timeline:nth-child(4) .title,
.main-timeline .timeline:nth-child(4) .title:after {
	background: #eab715;
}

.main-timeline .timeline:nth-child(5) .title,
.main-timeline .timeline:nth-child(5) .title:after {
	background: #9f84c4;
}

.main-timeline .timeline:nth-child(6) .title,
.main-timeline .timeline:nth-child(6) .title:after {
	background: #02a2dd;
}

.main-timeline .timeline:nth-child(7) .title,
.main-timeline .timeline:nth-child(7) .title:after {
	background: #58b25e;
}

.main-timeline .timeline:nth-child(8) .title,
.main-timeline .timeline:nth-child(8) .title:after {
	background: #9f84c4;
}

.main-timeline .timeline:nth-child(9) .title,
.main-timeline .timeline:nth-child(9) .title:after {
	background: #eab715;
}

@media (max-width: 749px) and (min-width: 481px) {
	.main-timeline .date {
		margin: 0 0 0 -15px;
	}
}

@media only screen and (max-width: 990px) {
	.main-timeline {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.main-timeline:before,
	.main-timeline .date {
		left: 6%;
	}

	.main-timeline .timeline-content {
		width: 85%;
		float: right;
	}

	.main-timeline .title:after {
		left: -5px;
	}
}

@media (max-width: 480px) {
	.main-timeline:before {
		left: 10%;
		margin-top: 10px;
	}

	.main-timeline .date {
		left: 13%;
		margin-top: 10px;
	}

	.main-timeline .timeline-content {
		width: 80%;
		margin-right: 10px;
	}

	.main-timeline .date {
		width: 30px;
		height: 30px;
	}

	.main-timeline .month {
		font-size: 14px;
	}
}

/*联系我们*/
/*联系我们--地图*/
#contact_us i {
	color: #337AB7;
}

#maps {
	padding-bottom: 70px;
}

#container {
	width: 100%;
	height: 500px;
}

/*developtargetDiv*/
.developtargetDiv {
	padding: 50px 0;
	text-align: left;
}

.developtargetDiv h3 {
	color: #444444;
	letter-spacing: 1px;
	font-weight: bolder;
	margin-top: 10%;
}

.developtargetDivs img {
	border-radius: 50%;
}

.lxwm_content div span {
	font-size: 1.1em;
}

@media (max-width: 1024px) {
	.developtargetDiv {
		padding: 20px;
		text-align: center;
	}

	.developtargetDiv h3 {
		margin-top: 5%;
	}
}
