.centeroverview_img {
	width: 100%;
}

.centeroverviewDiv {
	padding: 50px 15px;
}

.centeroverviewDiv_title {
	width: 100%;
	text-align: center;
}

.centeroverviewDiv_p {
	font-size: 1em;
	text-align: left;
	line-height: 50px;
}

.centeroverviewDivSon div {
	font-size: 1em;
	margin: 20px 0;
	text-align: center;

}

.centeroverviewDivSon div img {
	height: 45px;
	width: 206px;
}
