.centeroverview_img {
	width: 100%;
}

.centeroverviewDiv {
	padding: 50px 15px;
}

.centeroverviewDiv_title {
	width: 100%;
	text-align: center;
}

.centeroverviewDiv_p {
	font-size: 1.2em;
	text-align: left;
	text-indent: 2em;
	line-height: 2.5em;
	letter-spacing: 1px;
}

.centeroverviewDivSon {
	padding: 40px 0;
	text-align: left;
}

.centeroverviewDivSon div img {
	height: 45px;
	width: 206px;
	margin-top: 20px;
}

@media (max-width: 1024px) {
	.centeroverviewDivSon {
		text-align: center;
	}
}
