/*当前页面位置*/
.location {
	padding: 20px 0;
	text-align: right;
}

.location span {
	color: #666666;
	font-weight: bolder;
}

/*促进中心*/
.centerDiv {
	padding: 20px 0;
}

.titleFle {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
}

.titleFle span {
	display: block;
}

.titleFle .leftFont {
	font-size: 80px;
}

.titleFle .chinaese {
	font-size: 40px;
}

.titleFle .english {
	font-size: 20px;
	margin-top: -5px;
}

.titleFle .chinaese_english {
	margin-top: 10px;
}

/*联系我们--地图*/
#contact_us i {
	color: #337AB7;
}

#maps {
	padding-bottom: 50px;
}

#container {
	width: 100%;
	height: 500px;
}

@media (max-width: 1024px) {
	/*当前页面位置*/
	.locationDiv {
		display: none;
	}

	/*促进中心*/
	.titleFle .leftFont {
		font-size: 45px;
	}

	.titleFle .chinaese {
		font-size: 24px;
	}

	.titleFle .english {
		font-size: 12px;
	}

	.titleFle .chinaese_english {
		margin-top: 5px;
	}
}


