.organizationDiv .organizationDivSon01 div img{
	margin-top: 40px;
}
.organizationDivSon01_img{
	width: 70%;
}
.organizationDivSon02 .organizationDivSon02_div {
	font-size: 1em;
	padding-bottom: 20px;
}
.organizationDivSon02 .organizationDivSon02_div div {
	margin-top: 20px;
}
