<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>2018春季西南交大峨眉校区留德招生活动</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css"/>
	<link rel="stylesheet" href="../../../static/css/header.css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../../static/css/newsactivity/education_articles.css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/aboutUs/contactUs/about.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container education_articles">
		<div class="row">
			<div class="col-md-12 education_articles_title">
				<h3>2018春季西南交大峨眉校区留德招生活动</h3>
				<p>作者：汉斯猫</p>
				<p>时间：2018-03-28 09:04:58 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 education_articles_info">
				<p>
					2018年3月26日，德国奥斯特法利亚应用科学大学（Ostfalia）刘晓波（Xiaobo Liu-Henke）
					教授到西南交大峨眉校区对2018届毕业生赴德攻读硕士研究生进行了选拨录取工作。本次为该合作项目第八
					次开展的选拨工作， 校区4学生成功被录取，将在今年九月赴德留学。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles04/education_articles0401.png" alt="">
				<p>
					此次选拔由笔试、口试两个环节组成。26日下午两点首先进行了综合笔试；接着3:50开始了两小时的讲座，
					为大家介绍了学校的留学项目和Ostfalia大学；27日上午进行了5个小时的口试。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles04/education_articles0402.png" alt="">
				<p>
					最后4学生被成功录取，分别是：夏煦东、杨浩、宗尚禹、李泰浩。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
