<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>唐阳教授访问德国比勒费尔德应用科学大学</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css"/>
	<link rel="stylesheet" href="../../../static/css/header.css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../../static/css/newsactivity/education_articles.css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/aboutUs/contactUs/about.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container education_articles">
		<div class="row">
			<div class="col-md-12 education_articles_title">
				<h3>唐阳教授访问德国比勒费尔德应用科学大学</h3>
				<p>作者：汉斯猫</p>
				<p>时间：2017-06-30 21:23:23 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 education_articles_info">
				<p>
					2017年6月29~30日，应比勒菲尔德应用科学大学Kottin教授邀请，正在德国访学的我中心唐阳教授与浙江科
					技学院李强教授到访该校，就中德双方互派教授、接收研究生等合作进行交流。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles03/education_articles0301.png" alt="">
				<p>
					数学与工程学院数学方面的Kottin教授、DB工程仿真专家Nauman教授、
					学院院长Buchda教授以及学院主管外事的Nitz博士与唐阳、李强教授进行了深入的沟通和交流。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles03/education_articles0302.png" alt="">
				<p>
					 唐阳和李强给该校师生做了有关各自研究及中德合作方面的专题报告，并与该学院相关教授合影留念。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles03/education_articles0303.png" alt="">
				<p>
					之后，两位教授受邀参观了该学院的“工业4.0”实验室、机器人实验室、工程应用仿真实验室和应用数学建模和优化研究所（AMMO）。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles03/education_articles0304.png" alt="">
				<p>
					唐阳教授专门拟定了两校就本科生互换、招收研究生、教授互派等合作方案供双方讨论，
					该学院也专门开了专题会议，对唐教授的方案进行了讨论和答复，为后续深入合作打下了基础。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
