<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>唐阳教授访问德国比勒费尔德应用科学大学</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css"/>
	<link rel="stylesheet" href="../../../static/css/header.css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../../static/css/newsactivity/news_list.css"/>
	<link rel="stylesheet" href="../../../static/css/newsactivity/education_articles.css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/newsList.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/newsactivity/news_dynamic.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="module-banner">
		<div class="module-banner-box">
			<div class="module-banner-tab clearfix">
				<div class="module-banner-tab-list hd">
					<div class="news_list_Div">
						<h2>新闻动态</h2>
						<span>News</span>
					</div>
					<ul class="module-tab-nav">
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>科技合作</span>
						</li>
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>教育合作</span>
						</li>
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>企业合作</span>
						</li>
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>语言中心</span>
						</li>
						<li>
							<i class="fa fa-location-arrow"></i>
							<span>合作资源</span>
						</li>
					</ul>
				</div>
				<div class="module-banner-tab-list-box bd">
					<ul class="module-tab-box-ma" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3>新闻动态</h3>
						</div>
						<li>
							<div class="module-tab-title">
								<a href="../technology_articles/technology_articles03.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology02.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【科技】 车辆数字实验室第10批招新报名及分组情况公示</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-12-14</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											本学期10月中旬，车辆数字实验室在2018级新生中进行了招新宣讲，并接受学生报名。11初，实验室导师根据报名同学人数将学员按每3~4人一组的方式进行分组，并下发车辆实验室考核任务书（即完成一套转向架图纸的三维绘制）。2019年3月，导师们将对作品完成情况进行考核，并最终确定车辆数字实验室录取学生名单，开始对成员进行系统训练。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../technology_articles/technology_articles02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology02.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">
											【科技】Ostfalia刘晓波教授在峨讲座并指导dSPACE实验室建设</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-12-04</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年12月4日，四川（乐山）中德科技促进中心主要发起人之一、德国Ostfalia应用科学大学刘晓波教授来西南交大峨眉校区做讲座并指导dSPACE实验室建设。上午，刘教授针对校区2015~2018级有意赴德国留学的同学进行了相关介绍。刘教授具体介绍了Ostfalia应用科学大学的地理位置、办学规模、专业设置、留学生活等方面的情况，并针对同学们提出的问题进行了解答。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../technology_articles/technology_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology03.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【科技】 中德科促在交大峨眉校区顺利开展2018年秋季迎新工作</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-03</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年8月下旬，四川（乐山）中德科技促进中心交大工作组对交大峨眉校区2018级迎新工作提前进行具体部署，决定通过持续开展“校区与德国大学合作展板宣传”、“德语角系列活动”、“唐阳副教授留学德国主题报告会”、“新一届德语基础班招生”、“机电工程应用研究所公众号推送”等活动欢迎2018级入校新生。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles07.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education01.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											四川博睿特外国语学校与研究所交流“青少年创新培养体系建设</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2019-01-14</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2019年1月11日上午，四川（乐山）中德科技促进中心交大工作组、机电工程应用研究所与四川博睿特外国语学校曾校长一行六人在西南交大峨眉校区进行了座谈，就如何在博睿特学校开展科创训练、培养学生创新意识，以及如何将德国教育理念融入到博睿特外国语学校课程进行了广泛交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles06.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education02.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 中德科促在交大峨眉校区开展新学期中德合作讲座</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-25</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月20日下午，由西南交大人事处、教务处、科发院、工会峨眉相应单位主办，西南交大机械工程学院、四川（乐山）中德科技促进中心承办的迎新“中德合作讲座”在校区内顺利举行。此次中德合作讲座面向校区全体师生，讲座邀请到交控系唐阳副教授为主讲人，以“德国工业4.0、德国工程教育及中德合作行动计划”为主题进行讲解。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles05.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education03.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 我中心参加四川大学第十届中德教授论坛</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-03-31</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年3月30日，由四川大学、德国华人教授学会主办的第十届中德教授论坛在四川大学举行。四川大学校长、中国工程院两位院士、德国驻成都总领事馆总领事、德国克劳斯塔尔工业大学副校长、德意志学术交流中心亚太地区负责人、德国华人教授学会会长、德国华人教授学会副会长、德国工程院院士等出席论坛，来自中德10余所高校和科研机构的专家和学者参加了论坛。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles04.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education04.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">教育合作 2018春季西南交大峨眉校区留德招生活动</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-03-28</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年3月26日，德国奥斯特法利亚应用科学大学（Ostfalia）刘晓波（Xiaobo Liu-Henke）教授到西南交大峨眉校区对2018届毕业生赴德攻读硕士研究生进行了选拨录取工作。本次为该合作项目第八次开展的选拨工作，校区4学生成功被录取，将在今年九月赴德留学。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles03.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education05.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 唐阳教授访问德国比勒费尔德应用科学大学</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-03-31</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2017年6月29~30日，应比勒菲尔德应用科学大学Kottin教授邀请，正在德国访学的我中心唐阳教授与浙江科技学院李强教授到访该校，就中德双方互派教授、接收研究生等合作进行交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education06.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											峨眉校区、德国奥斯特法利亚应用科学大学共赴峨眉山市交流访问</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2017-05-17</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2017年5月16日下午，由西南交大峨眉校区负责人带队，与到访的德国奥斯特法利亚应用科学大学代表团共赴峨眉山市拜访交流，共商合作事宜，峨眉山市委、市政府对此次三方会谈高度重视。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education07.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											乐山高新区与西南交大峨眉校区及德国奥斯特法利亚应用科学大学签订三方合作协议</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2016-10-20</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2016年10月19日，在唐阳教授的多方协调下，邀请了德国奥斯特法利亚应用科学大学校长Rosemarie Karger莅临乐山，与乐山高新区和西南交大峨眉校区进行了深入交流，组织策划三方共建“四川（乐山）中德科技促进中心”。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../cooperative_enterprise/investment_text/invertment_text_one.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/invertment_text/invertment_text6.jpg"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【企业】德国模式--民营中小企业的学习典范</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											自第二次工业革命以来，德国人在机械、电气、化工等领域逐渐崛起成为世界冠军，但就算是以西门子、大众、蒂森克虏伯、宝马等声名显赫的大企业为贸易基础，德国的经济总量在2018年也不过美国的五分之一，中国的四分之一，可是德国出口额高踞世界第二（1.547万亿美元，仅次于中国），哪些企业对此所作的贡献最大？是在各自所在的细分市场默默耕耘并且成为全球行业领袖的中小企业！
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../language_articles/language_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/language01.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】中德科促在交大峨眉校区开展新学期第1期德语角活动</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月6日下午，四川（乐山）中德科技促进中心交大工作组在校区内顺利开展新学期第一期德语角活动。此次德语角活动邀请到唐阳副教授、方草老师、余芳老师作为嘉宾和活动评委。参加本次活动的同学主要是校区B1班学员、A1班学员及刚入校想要学习德语的大一新生。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德国节日简介</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-11-21</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											刚刚过去的11月11日，这一天对中德两国来说都是一个特别的日子，很多中国人在光棍节这一天疯狂购物（购物，einkaufen），而万里之外的德国也在这一天拉开了狂欢节（Karneval）的序幕。众所周知，德国是一个以基督教和天主教为主要信仰的国家，很多节日都与基督教义有关，此外德国也是一个文化包容性很强的地方，来自世界各地的人们都汇聚于，除了很多来自东欧，土耳其甚至越南的已经加入德国国籍的“外乡人”，数据显示现在每13个生活在德国的人中就有一个是外国人；近一半的面孔都不再是日耳曼人，那么我们一起来看看这样的德国到底有哪些有趣的节日吧。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德语等级介绍</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											A1级:能够理解并使用日常用语和非常简单的句子，表达具体要求。能够自我介绍，介绍他人，向他人询问个人情况并能回答这类问题，例如，住在哪儿，认识哪些人，有哪些东西等。如果谈话伙伴说话缓慢、清楚而且乐于帮助，能够进行简单交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article03.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德语时间的表达</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-06-12</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											1.整点报时
											整点时间的表达：整点刻度时间+Uhr，其中Uhr在非官方的场合中也常省去。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article04.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德语数字的表达</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-05-28</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											1.学习基础数词,和英语一样从0-12是没有规律的，这需要大家牢记
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article05.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德语字母表</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月6日下午，四川（乐山）中德科技促进中心交大工作组在校区内顺利开展新学期第一期德语角活动。此次德语角活动邀请到唐阳副教授、方草老师、余芳老师作为嘉宾和活动评委。参加本次活动的同学主要是校区B1班学员、A1班学员及刚入校想要学习德语的大一新生。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article06.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】情态动词框型结构</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											情态动词框型结构是德语句子框型结构中的一种，也是较为简单的一种。顾名思义，情态动词框型结构句子中包含情态动词。在英语的学习中情态动词后面跟动词原形，同样在德语的情态动词框型结构中，句子前有情态动词，后面跟的动词必须是原形，而且动词必须放最后。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article07.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/ww.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】中德工程教育的对比</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											为响应《国务院关于加快发展现代职业教育的决定》提出的“引导普通本科高等学校转型发展”，“引导一批普通本科高等学校向应用技术类型高等学校转型，重点举办本科职业教育”的号召，从2010年起，我国学习德国等国家培养工程师的经验，开始实施“卓越工程师培养计划”（简称“卓越计划”）。该计划旨在培养造就一大批创新能力强、适应经济社会发展需要的各类高质量工程技术人才，为走新型工业化发展道路、建设创新型国家和人才强国战略服务。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article08.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/s81.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】英语和德语的关系(一)——近代</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-12-04</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											近些年来，世界各国人民对学习德语和德国文化的兴趣与日俱增。其中一个突出的表现是人们把德语作为一种“科学语言”来学习，对此最好的说明是越来越多的大学生和科技工作者在学习德语：在中国每年有数万人次的学生参加TestDaF（德福）考试，以获得留学德国的资格；在日本的大学有超过一半的学生学习德语；同时德语作为一种国际贸易语言运用的范围越来越广，德国的一些知名企业，如大众、西门子等在全球范围类的经营扩张，使得德语被越来越多的人认可和需要。与当今世界的通用语言英语相比，英语和德语究竟有怎样的关系呢？
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article09.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/xx.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】英语和德语的关系(二)——现代</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-10-09</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											20世纪下半叶,美国在科技(尤其是计算机领域),经济领域的强大实力,以及在时尚等领域中的引导潮流更使美国文化成为“主流文化”,代表着进步、时尚、活力,使年轻人更是趋之若鹜。且随着全球化的进一步发展，不断深入的国际政治、经济合作以及通讯、信息系统特别是因特网领域的飞速进步，出于需求母语需要吸纳外来词，比如母语中缺乏与外来文化中产生的新事物、新概念相对应的词。通常情况下,新概念及相应的称呼便一并被原封不动地拿过去，越来越多的有越来越多的英语外来词被引入德语，并对德国社会的各个领域产生诸多影响
										</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<ul class="module-tab-box-ma" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3><img src="../../../static/imgs/newsactivity/keji.png" alt="">科技合作</h3>
						</div>
						<li>
							<div class="module-tab-title">
								<a href="../technology_articles/technology_articles03.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology02.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【科技】 车辆数字实验室第10批招新报名及分组情况公示</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-12-14</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											本学期10月中旬，车辆数字实验室在2018级新生中进行了招新宣讲，并接受学生报名。11初，实验室导师根据报名同学人数将学员按每3~4人一组的方式进行分组，并下发车辆实验室考核任务书（即完成一套转向架图纸的三维绘制）。2019年3月，导师们将对作品完成情况进行考核，并最终确定车辆数字实验室录取学生名单，开始对成员进行系统训练。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../technology_articles/technology_articles02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology02.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">
											【科技】Ostfalia刘晓波教授在峨讲座并指导dSPACE实验室建设</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-12-04</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年12月4日，四川（乐山）中德科技促进中心主要发起人之一、德国Ostfalia应用科学大学刘晓波教授来西南交大峨眉校区做讲座并指导dSPACE实验室建设。上午，刘教授针对校区2015~2018级有意赴德国留学的同学进行了相关介绍。刘教授具体介绍了Ostfalia应用科学大学的地理位置、办学规模、专业设置、留学生活等方面的情况，并针对同学们提出的问题进行了解答。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../technology_articles/technology_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology03.png" alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【科技】 中德科促在交大峨眉校区顺利开展2018年秋季迎新工作</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-03</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年8月下旬，四川（乐山）中德科技促进中心交大工作组对交大峨眉校区2018级迎新工作提前进行具体部署，决定通过持续开展“校区与德国大学合作展板宣传”、“德语角系列活动”、“唐阳副教授留学德国主题报告会”、“新一届德语基础班招生”、“机电工程应用研究所公众号推送”等活动欢迎2018级入校新生。
										</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<ul class="module-tab-box-ma" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3><img src="../../../static/imgs/newsactivity/jiaoyu.png" alt="">教育合作</h3>
						</div>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles07.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education01.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											四川博睿特外国语学校与研究所交流“青少年创新培养体系建设</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2019-01-14</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2019年1月11日上午，四川（乐山）中德科技促进中心交大工作组、机电工程应用研究所与四川博睿特外国语学校曾校长一行六人在西南交大峨眉校区进行了座谈，就如何在博睿特学校开展科创训练、培养学生创新意识，以及如何将德国教育理念融入到博睿特外国语学校课程进行了广泛交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles06.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education02.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 中德科促在交大峨眉校区开展新学期中德合作讲座</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-25</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月20日下午，由西南交大人事处、教务处、科发院、工会峨眉相应单位主办，西南交大机械工程学院、四川（乐山）中德科技促进中心承办的迎新“中德合作讲座”在校区内顺利举行。此次中德合作讲座面向校区全体师生，讲座邀请到交控系唐阳副教授为主讲人，以“德国工业4.0、德国工程教育及中德合作行动计划”为主题进行讲解。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles05.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education03.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 我中心参加四川大学第十届中德教授论坛</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-03-31</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年3月30日，由四川大学、德国华人教授学会主办的第十届中德教授论坛在四川大学举行。四川大学校长、中国工程院两位院士、德国驻成都总领事馆总领事、德国克劳斯塔尔工业大学副校长、德意志学术交流中心亚太地区负责人、德国华人教授学会会长、德国华人教授学会副会长、德国工程院院士等出席论坛，来自中德10余所高校和科研机构的专家和学者参加了论坛。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles04.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education04.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">教育合作 2018春季西南交大峨眉校区留德招生活动</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-03-28</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年3月26日，德国奥斯特法利亚应用科学大学（Ostfalia）刘晓波（Xiaobo Liu-Henke）教授到西南交大峨眉校区对2018届毕业生赴德攻读硕士研究生进行了选拨录取工作。本次为该合作项目第八次开展的选拨工作，校区4学生成功被录取，将在今年九月赴德留学。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles03.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education05.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】 唐阳教授访问德国比勒费尔德应用科学大学</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-03-31</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2017年6月29~30日，应比勒菲尔德应用科学大学Kottin教授邀请，正在德国访学的我中心唐阳教授与浙江科技学院李强教授到访该校，就中德双方互派教授、接收研究生等合作进行交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education06.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											峨眉校区、德国奥斯特法利亚应用科学大学共赴峨眉山市交流访问</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2017-05-17</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2017年5月16日下午，由西南交大峨眉校区负责人带队，与到访的德国奥斯特法利亚应用科学大学代表团共赴峨眉山市拜访交流，共商合作事宜，峨眉山市委、市政府对此次三方会谈高度重视。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../education_articles/education_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/education07.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【教育】
											乐山高新区与西南交大峨眉校区及德国奥斯特法利亚应用科学大学签订三方合作协议</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2016-10-20</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2016年10月19日，在唐阳教授的多方协调下，邀请了德国奥斯特法利亚应用科学大学校长Rosemarie Karger莅临乐山，与乐山高新区和西南交大峨眉校区进行了深入交流，组织策划三方共建“四川（乐山）中德科技促进中心”。
										</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<ul class="module-tab-box-ma" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3><img src="../../../static/imgs/newsactivity/qiye.png" alt="">企业合作</h3>
						</div>
						<li>
							<div class="module-tab-title">
								<a href="../../cooperative_enterprise/investment_text/invertment_text_one.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/invertment_text/invertment_text6.jpg"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【企业】德国模式--民营中小企业的学习典范</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											自第二次工业革命以来，德国人在机械、电气、化工等领域逐渐崛起成为世界冠军，但就算是以西门子、大众、蒂森克虏伯、宝马等声名显赫的大企业为贸易基础，德国的经济总量在2018年也不过美国的五分之一，中国的四分之一，可是德国出口额高踞世界第二（1.547万亿美元，仅次于中国），哪些企业对此所作的贡献最大？是在各自所在的细分市场默默耕耘并且成为全球行业领袖的中小企业！
										</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<ul class="module-tab-box-ma" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3><img src="../../../static/imgs/newsactivity/yuyan.png" alt="">语言中心</h3>
						</div>
						<li>
							<div class="module-tab-title">
								<a href="../language_articles/language_articles01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive" src="../../../static/imgs/newsactivity/language01.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】中德科促在交大峨眉校区开展新学期第1期德语角活动</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月6日下午，四川（乐山）中德科技促进中心交大工作组在校区内顺利开展新学期第一期德语角活动。此次德语角活动邀请到唐阳副教授、方草老师、余芳老师作为嘉宾和活动评委。参加本次活动的同学主要是校区B1班学员、A1班学员及刚入校想要学习德语的大一新生。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article01.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德国节日简介</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-11-21</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											刚刚过去的11月11日，这一天对中德两国来说都是一个特别的日子，很多中国人在光棍节这一天疯狂购物（购物，einkaufen），而万里之外的德国也在这一天拉开了狂欢节（Karneval）的序幕。众所周知，德国是一个以基督教和天主教为主要信仰的国家，很多节日都与基督教义有关，此外德国也是一个文化包容性很强的地方，来自世界各地的人们都汇聚于，除了很多来自东欧，土耳其甚至越南的已经加入德国国籍的“外乡人”，数据显示现在每13个生活在德国的人中就有一个是外国人；近一半的面孔都不再是日耳曼人，那么我们一起来看看这样的德国到底有哪些有趣的节日吧。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article02.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德语等级介绍</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											A1级:能够理解并使用日常用语和非常简单的句子，表达具体要求。能够自我介绍，介绍他人，向他人询问个人情况并能回答这类问题，例如，住在哪儿，认识哪些人，有哪些东西等。如果谈话伙伴说话缓慢、清楚而且乐于帮助，能够进行简单交流。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article03.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德语时间的表达</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-06-12</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											1.整点报时
											整点时间的表达：整点刻度时间+Uhr，其中Uhr在非官方的场合中也常省去。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article04.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德语数字的表达</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-05-28</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											1.学习基础数词,和英语一样从0-12是没有规律的，这需要大家牢记
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article05.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】德语字母表</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											2018年9月6日下午，四川（乐山）中德科技促进中心交大工作组在校区内顺利开展新学期第一期德语角活动。此次德语角活动邀请到唐阳副教授、方草老师、余芳老师作为嘉宾和活动评委。参加本次活动的同学主要是校区B1班学员、A1班学员及刚入校想要学习德语的大一新生。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article06.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/tu1.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】情态动词框型结构</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											情态动词框型结构是德语句子框型结构中的一种，也是较为简单的一种。顾名思义，情态动词框型结构句子中包含情态动词。在英语的学习中情态动词后面跟动词原形，同样在德语的情态动词框型结构中，句子前有情态动词，后面跟的动词必须是原形，而且动词必须放最后。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article07.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/ww.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】中德工程教育的对比</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-09-11</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											为响应《国务院关于加快发展现代职业教育的决定》提出的“引导普通本科高等学校转型发展”，“引导一批普通本科高等学校向应用技术类型高等学校转型，重点举办本科职业教育”的号召，从2010年起，我国学习德国等国家培养工程师的经验，开始实施“卓越工程师培养计划”（简称“卓越计划”）。该计划旨在培养造就一大批创新能力强、适应经济社会发展需要的各类高质量工程技术人才，为走新型工业化发展道路、建设创新型国家和人才强国战略服务。
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article08.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/s81.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】英语和德语的关系(一)——近代</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-12-04</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											近些年来，世界各国人民对学习德语和德国文化的兴趣与日俱增。其中一个突出的表现是人们把德语作为一种“科学语言”来学习，对此最好的说明是越来越多的大学生和科技工作者在学习德语：在中国每年有数万人次的学生参加TestDaF（德福）考试，以获得留学德国的资格；在日本的大学有超过一半的学生学习德语；同时德语作为一种国际贸易语言运用的范围越来越广，德国的一些知名企业，如大众、西门子等在全球范围类的经营扩张，使得德语被越来越多的人认可和需要。与当今世界的通用语言英语相比，英语和德语究竟有怎样的关系呢？
										</p>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="module-tab-title">
								<a href="../../language_center/interestGermany_article/interestGermany_article09.html">
									<div class="module-tab-title_DivSon01">
										<img class="img-responsive"
											 src="../../../static/imgs/newsactivity/technology_articles/technology_articles01/xx.png"
											 alt="">
									</div>
									<div class="module-tab-title_DivSon02">
										<h4 class="module-tab-title_DivSon02_title">【语言】英语和德语的关系(二)——现代</h4>
										<p class="module-tab-title_DivSon02_time">时间：<span
												class="times">2018-10-09</span> &nbsp;|&nbsp;
											来源：本站</p>
										<p class="module-tab-title_DivSon02_info">
											20世纪下半叶,美国在科技(尤其是计算机领域),经济领域的强大实力,以及在时尚等领域中的引导潮流更使美国文化成为“主流文化”,代表着进步、时尚、活力,使年轻人更是趋之若鹜。且随着全球化的进一步发展，不断深入的国际政治、经济合作以及通讯、信息系统特别是因特网领域的飞速进步，出于需求母语需要吸纳外来词，比如母语中缺乏与外来文化中产生的新事物、新概念相对应的词。通常情况下,新概念及相应的称呼便一并被原封不动地拿过去，越来越多的有越来越多的英语外来词被引入德语，并对德国社会的各个领域产生诸多影响
										</p>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<ul class="module-tab-box-ma" style="display: none;">
						<div class="module-tab-box-ma_Div">
							<h3><img src="../../../static/imgs/newsactivity/qiye.png" alt="">合作资源</h3>
						</div>
						<h3>暂无</h3>
					</ul>
					<ul class="module-tab-box-ma" style="display: block;">
						<div class="education_articles">
							<div class="row">
								<div class="col-md-12 education_articles_title">
									<h3>唐阳教授访问德国比勒费尔德应用科学大学</h3>
									<p>作者：汉斯猫</p>
									<p>时间：2017-06-30 21:23:23 &nbsp;|&nbsp; 来源：本站</p>
								</div>
								<div class="col-md-12 education_articles_info">
									<p>
										2017年6月29~30日，应比勒菲尔德应用科学大学Kottin教授邀请，正在德国访学的我中心唐阳教授与浙江科
										技学院李强教授到访该校，就中德双方互派教授、接收研究生等合作进行交流。
									</p>
									<img class="img-responsive center-block"
										 src="../../../static/imgs/newsactivity/education_articles/education_articles03/education_articles0301.png" alt="">
									<p>
										数学与工程学院数学方面的Kottin教授、DB工程仿真专家Nauman教授、
										学院院长Buchda教授以及学院主管外事的Nitz博士与唐阳、李强教授进行了深入的沟通和交流。
									</p>
									<img class="img-responsive center-block"
										 src="../../../static/imgs/newsactivity/education_articles/education_articles03/education_articles0302.png" alt="">
									<p>
										 唐阳和李强给该校师生做了有关各自研究及中德合作方面的专题报告，并与该学院相关教授合影留念。
									</p>
									<img class="img-responsive center-block"
										 src="../../../static/imgs/newsactivity/education_articles/education_articles03/education_articles0303.png" alt="">
									<p>
										之后，两位教授受邀参观了该学院的“工业4.0”实验室、机器人实验室、工程应用仿真实验室和应用数学建模和优化研究所（AMMO）。
									</p>
									<img class="img-responsive center-block"
										 src="../../../static/imgs/newsactivity/education_articles/education_articles03/education_articles0304.png" alt="">
									<p>
										唐阳教授专门拟定了两校就本科生互换、招收研究生、教授互派等合作方案供双方讨论，
										该学院也专门开了专题会议，对唐教授的方案进行了讨论和答复，为后续深入合作打下了基础。
									</p>
								</div>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container paging">
		<div class="row">
			<div class="col-md-12">
				<div class="module-tab-box-ma_Divs">
					<nav aria-label="Page navigation">
						<ul class="pagination pagination-lg">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
