<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>我中心参加四川大学第十届中德教授论坛</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css"/>
	<link rel="stylesheet" href="../../../static/css/header.css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../../static/css/newsactivity/education_articles.css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/aboutUs/contactUs/about.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container education_articles">
		<div class="row">
			<div class="col-md-12 education_articles_title">
				<h3>我中心参加四川大学第十届中德教授论坛</h3>
				<p>作者：汉斯猫</p>
				<p>时间：2018-03-31 10:30:58 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 education_articles_info">
				<p>
					2018年3月30日，由四川大学、德国华人教授学会主办的第十届中德教授论坛在四川大学举行。四川大学校长、
					中国工程院两位院士、德国驻成都总领事馆总领事、德国克劳斯塔尔工业大学副校长、德意志学术交流中心亚太地区负责人、
					德国华人教授学会会长、德国华人教授学会副会长、德国工程院院士等出席论坛，
					来自中德10余所高校和科研机构的专家和学者参加了论坛。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles05/education_articles0501.png" alt="">
				<p>
					此次中德教授论坛的举办对于加强中德两国学者之间的交流与合作，促进中德两国之间的友谊与合作具有重要意义，
					中德双方在能源、制造业等多个领域都有着良好的合作基础和广阔的合作空间。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles05/education_articles0502.png" alt="">
				<p>
					唐阳教授和冯鉴教授代表中心参与了此次会议，听取了大家的发表意见，并与参会人员进行了深刻交流。
					了解了目前中德两国交流现状，和相关合作方向，为下一步中心开展中德科技活动提供了很好的思路。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
