<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>峨眉校区、德国奥斯特法利亚应用科学大学共赴峨眉山市交流访问</title>
	<link rel="stylesheet" href="../../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../../static/css/font-awesome.css"/>
	<link rel="stylesheet" href="../../../static/css/header.css"/>
	<link rel="stylesheet" href="../../../static/css/footer.css"/>
	<link rel="stylesheet" href="../../../static/css/newsactivity/education_articles.css"/>
	<script type="text/javascript" src="../../../static/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../../../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../../../static/js/header.js"></script>
	<script type="text/javascript" src="../../../static/js/publicHeader02.js"></script>
</head>
<body>

<section>
	<!--background img-->
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive" src="../../../static/imgs/aboutUs/contactUs/about.png" width="100%" alt="">
		</div>
	</div>
	<!--content-->
	<div class="container education_articles">
		<div class="row">
			<div class="col-md-12 education_articles_title">
				<h3>峨眉校区、德国奥斯特法利亚应用科学大学共赴峨眉山市交流访问</h3>
				<p>作者：汉斯猫</p>
				<p>时间：2017-05-17 21:31:03 &nbsp;|&nbsp; 来源：本站</p>
			</div>
			<div class="col-md-12 education_articles_info">
				<p>
					2017年5月16日下午，由西南交大峨眉校区负责人带队，与到访的德国奥斯特法利亚应用科学大学代表团
					共赴峨眉山市拜访交流，共商合作事宜，峨眉山市委、市政府对此次三方会谈高度重视。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles02/education_articles0201.png" alt="">
				<p>
					德国奥斯特法利亚应用科学大学刘晓波教授、德国工程师协会布伦瑞克分会主席巴赫姆教授就德国工业技术发展、
					教授治学、研究成果转化及双方可能进行的教育合作等方面与地方政府交换了意见。
				</p>
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles02/education_articles0202.png" alt="">
				<img class="img-responsive center-block"
					 src="../../../static/imgs/newsactivity/education_articles/education_articles02/education_articles0203.png" alt="">
				<p>
					 随后，双方就未来可能涉及的合作领域进行了深入交流，一致同意建立和完善三方合作对接机制，加快推进三方合作的进程。
					峨眉山市相关部门负责人，交大峨眉校区机械工程系主任冯鉴和唐阳教授等校区部门领导参加交流会谈。
				</p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../../../static/js/publicFooter02.js"></script>

</body>
</html>
